<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>

  <h3 ng-switch="user.persisted()">
    <span ng-switch-when="true">Edit User</span>
    <span ng-switch-when="false">Create New User</span>
  </h3>
</div>
<div class="columns">
  <div class="column">
    <form name="editForm" ag-form is-horizontal label-class="is-3" autocomplete="off" novalidate
          class="form-horizontal-fixed" ag-server-validation-errors ng-submit="save(user)">
      <div class="modal-body" style="height:60%; overflow:auto;">
        <ag-input ng-model="user.contact.firstName" required></ag-input>
        <ag-input ng-model="user.contact.lastName" required></ag-input>
        <ag-input type="email" ng-model="user.contact.email" required=""/>
        <ag-select label="Type" ng-model="filters.contact.type.name"
                   select-options="{ data: ['admin', 'customer'], multiple: true }"/>
        <ag-select-rest multiple url="/api/orgApi/pickList" ng-model="user.contact.org"/>
        <ag-checkbox ng-model="user.contact.tagForReminders"></ag-checkbox>
        <ag-input ng-model="user.login" required></ag-input>
        <ag-datepicker ng-model="user.activeDate" is-expanded required=""></ag-datepicker>

        <ag-input ng-model="user.password" hint="must be more 6 chars"
                  minimum-length="6" required></ag-input>
        <ag-input hint="must be more 6 chars"
                  minimum-length="6" ng-model="user.repassword" required></ag-input>
        <ag-checkbox ng-hide="user.newRecord()"
        " name="inactive" ng-model="user.inactive"></ag-checkbox>
        <div class="modal-footer">
          <ag-cancel-button ng-click="closeDialog()"></ag-cancel-button>
          <ag-submit-button></ag-submit-button>
        </div>
      </div>
    </form>
  </div>
</div>
