<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>

  <h3 ng-switch="user.persisted()">
    <span ng-switch-when="true">Edit User</span>
    <span ng-switch-when="false">Create New User</span>
  </h3>
</div>
<div class="columns">
  <div class="column">
    <form ag-form="editForm" name="editForm" class="form-horizontal-fixed" novalidate
          ag-server-validation-errors
          ng-submit="save(user)">
      <div class="modal-body" style="height:60%; overflow:auto;">

        <ng-form name="contact" ag-server-validation-errors>
          <ag-input name="firstName" ng-model="user.contact.firstName" required ></ag-input>
          <ag-input name="lastName" ng-model="user.contact.lastName" required ></ag-input>
          <ag-input type="email" name="email" ng-model="user.contact.email" required="" />
          <ag-select name="type" ng-model="filters.contact.type" select-options="{ data: ['admin', 'customer'], multiple: true }"/>
          <ag-select-rest name="org" multiple url="/api/org/pickList" ng-model="user.contact.org.id"/>

          <div ag-field-group for="tagForReminders">
            <div class="form-group">
              <label class="control-label">
                Tag For Reminders
              </label>
              <div class="controls">
                <input type="checkbox" name="tagForReminders" ng-model="user.contact.tagForReminders"/>
              </div>
            </div>
          </div>
        </ng-form>
        <ag-input name="login" ng-model="user.login" required ></ag-input>

        <div ag-field-group for="activeDate">
          <div class="form-group">
            <label class="control-label">Active Date</label>

            <div class="controls">
              <ag-datepicker
                ng-model="user.activeDate"
                ng-required="true"
                name="activeDate"/>
              </ag-datepicker>

              <ag-validation-errors for="activeDate"/>
            </div>
          </div>
        </div>
        <ag-input name="password" ng-model="user.password" hint="must be more 6 chars"
                  minimum-length="6" required ></ag-input>
        <ag-input name="rePassword" hint="must be more 6 chars"
                  minimum-length="6" ng-model="user.repassword" required ></ag-input>
        <div ag-field-group for="inactive">
          <div class="form-group" ng-hide="user.newRecord()">
            <label class="control-label col-md-4">
              Inactive
            </label>

            <div class="col-md-4" style="margin-top: 7px;">
              <input type="checkbox" name="tagForReminders" ng-model="user.inactive"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <span ng-if="user.persisted()">
            <ag-delete-button when-confirmed="delete(item)"></ag-delete-button>
          </span>

          <ag-cancel-button ng-click="closeDialog()"></ag-cancel-button>
          <ag-submit-button></ag-submit-button>
        </div>
      </div>
    </form>
  </div>
</div>
