<form name="form" ag-form autocomplete="off" novalidate>
  <legend>basic vertical</legend>
  <ag-input-field name="name" ng-model="$ctrl.vm.name" hint="this is a hint, must be > 2 chars"
    minimum-length="2" placeholder="Enter Name" required >
  </ag-input-field>
  <ag-input-field type="email" name="email" ng-model="$ctrl.vm.email" ng-required="true" input-class='is-success'>
  </ag-input-field>
  <ag-input-field name="website" ng-model="$ctrl.vm.website" ng-required="false"></ag-input-field>
  <ag-input-field name="address" ng-model="$ctrl.vm.address" ></ag-input-field>

  <div class="field is-grouped">
    <div class="control">
      <ag-button type="submit" color="primary">Submit</ag-button>
    </div>
    <div class="control">
      <ag-button type="reset" ng-click="$ctrl.reset()">Reset</ag-button>
    </div>
  </div>
</form>
<pre ng-cloak class="mt-4">form.$invalid: {{form.$invalid}}<br>model: {{$ctrl.vm | json}}</pre>
