<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="shortcut icon" href="favicon.ico" />

    <title data-ng-bind="pageTitle()"><%= htmlWebpackPlugin.options.title %></title>

    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

    <!-- doing in manually so we can exclude the theme css and make sure it runs before theme switcher -->
    <% htmlWebpackPlugin.files.css.forEach( function(name){
        if(!(/theme.+\.css$/.test(name))) { %>
        <link rel="stylesheet" href="<%= name %>">
    <% }}) %>

    <!-- <link rel="stylesheet" data-ng-href="assets/theme/{{ app.layout.theme }}.css" /> -->

</head>
<body ng-controller="AppCtrl">
    <div ui-view id="app" class="lyt-2"
    ng-class="{
      'app-mobile' : app.isMobile,
      'app-navbar-fixed' : app.layout.isNavbarFixed,
      'app-sidebar-fixed' : app.layout.isSidebarFixed,
      'app-sidebar-closed':app.layout.isSidebarClosed,
      'app-footer-fixed':app.layout.isFooterFixed
    }">
    </div>

    <% for (var jsfile in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[jsfile]%>"></script>
    <% } %>

</body>
</html>
