<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-strict-di class="device-desktop">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="shortcut icon" href="favicon.ico" />

    <title data-ng-bind="pageTitle()"><%= htmlWebpackPlugin.options.title %></title>

    <!-- Google fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet" /> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
    <!-- Material icons https://materialdesignicons.com/-->
    <!-- <link href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css" rel="stylesheet"> -->

    <!-- doing in manually so we can exclude the theme css and make sure it runs before theme switcher -->
    <% htmlWebpackPlugin.files.css.forEach( function(name){
        if(!(/theme.+\.css$/.test(name))) { %>
        <link rel="stylesheet" href="<%= name %>">
    <% }}) %>
    <% // jquery gets copied in from node_modules %>
    <script defer src="libs/jquery.min.js"></script>

    <% for (var jsfile in htmlWebpackPlugin.files.js) { %>
      <script defer src="<%= htmlWebpackPlugin.files.js[jsfile]%>"></script>
    <% } %>

    <!-- <link rel="stylesheet" data-ng-href="assets/theme/{{ app.layout.theme }}.css" /> -->
    <script src="<%= htmlWebpackPlugin.options.configPath %>"></script>
</head>
<body ng-controller="AppCtrl as $appCtrl" [ng-strict-di="boolean"]>
  <div id="app" style="height: 100%;">
    <!-- App root element -->
    <div id="f7app" ng-class="{
        'app-sidebar-fixed' : $appCtrl.layout.isSidebarFixed,
        'app-sidenav-fixed' : $appCtrl.layout.isSidebarFixed,
        'app-sidebar-open': appState.sidenav.open,
        'app-sidebar-closed': !appState.sidenav.open,
        'app-sidenav-open': appState.sidenav.open,
        'app-sidenav-closed': !appState.sidenav.open
      }">
      <div ui-view class="view view-main">
      </div>
    </div>
  </div>
</body>
</html>
