<nav class="appbar toolbar is-transparent has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="toolbar-brand">

      <sidenav-hamburger></sidenav-hamburger>
      <div class="toolbar-item">
        <div class="toolbar-title">{{$ctrl.title}}</div>
      </div>
      <a role="button" class="toolbar-burger" aria-label="menu" aria-expanded="false" data-target="toolbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="toolbar-menu" class="toolbar-menu is-static">

      <div class="toolbar-start">
        <!-- start menu items here -->
      </div>

      <div class="toolbar-end">
        <ag-button icon="fa-comment-o"></ag-button>
        <ag-button icon="fa-bell-o"></ag-button>
        <ag-button icon="fa-expand"></ag-button>
        <button class="button is-icon-button is-avatar" ag-ripple>
          <letter-icon data="AG" box="circle" char-count="2" size="xs"></letter-icon>
        </button>
        <ag-button icon="mdi-dots-vertical"></ag-button>
      </div>
    </div>
  </div>
</nav>
