<form ag-form ag-search-form="$parent.$parent.exampleGrid" is-horizontal class="extended-search-form clearfix">
  <div class="columns">
    <div class="column">
      <ag-input ng-model="filters.customer.name"></ag-input>
    </div>
    <div class="column">
      <ag-input ng-model="filters.note"></ag-input>
    </div>
    <div class="column">
      <ag-select name="complete" ng-model="filters.complete"
                 select-options="{ placeholder: 'select complete', data: ['true', 'false'] }">
      </ag-select>
    </div>
  </div>

  <div class="buttons is-centered is-pulled-right">
    <ag-button color="success" icon-left="fa-search" is-loading="searching"
      ng-click="advancedSearch(filters)" >Search</ag-button>
    <ag-button color="light" icon-left="fa-times" ng-disabled="searching"
      ng-click="resetSearch(filters)">Reset</ag-button>
  </div>
</form>
