/* ==========================================================================
toolbar overrides
========================================================================== */

//$toolbar-item-color: #999;
$toolbar-icon-color: $toolbar-item-color !default;
$toolbar-fixed-a-color: #444F60 !default;
$toolbar-icon-button-size: 48px !default;
$toolbar-icon-size: 22px !default;

//toolbar
.appbar.toolbar{
  position: relative;
  //min-height: $bar-height;
  transition: all 0.3s;
  z-index: 29;

  &.no-shadow {
    box-shadow: none !important;
  }

  // change button defaults to be transparent
  .button {
    color: $toolbar-item-color;
    box-shadow: none; //make sure its flat
    background-color: inherit; //remove color
    border-color: transparent;

    &.is-icon {
      width: $toolbar-icon-button-size;
      height: $toolbar-icon-button-size;
    }

    i {
      color: $toolbar-icon-color;
      height: $toolbar-icon-size;
      width: $toolbar-icon-size;
      &.fa {
        padding: 1px;
        font-size: $toolbar-icon-size - 2px;
        text-align: center;
      }
    }
  }

  .toolbar-title {
    font-size: $size-lg
  }

  // Responsive menu icon
  // .toolbar-burger {
  //   width: 4rem;
  //   height: 4rem;
  // }

  //Brand
  .toolbar-brand {

    img {
      max-height: 36px !important;
      height: 36px;
    }

    //Removing toolbar item default hover behaviour
    &:hover {
      .toolbar-item {
        background: transparent !important;
      }
    }
  }

  .toolbar-end {
    align-items: center;
  }

  //toolbar items
  .toolbar-item {
    color: $toolbar-item-color;

    &.is-secondary {
      &:hover {
        color: $secondary !important;
      }
    }

    &.has-dropdown {
      padding: 10px 0;

      .toolbar-link {
        color: $toolbar-item-color;

        &:after {
          top: 55%;
          height: 0.5em;
          width: 0.5em;
          border-width: 2px;
          border-color: $toolbar-item-color;
        }
      }

      .toolbar-dropdown {
        top: 3.4rem;
        min-width: 220px;
        margin-top: 4px;
        border-top-color: $secondary;

        .toolbar-item {
          padding: 10px 20px;
        }
      }

      &:hover {
        .toolbar-link {
          color: $secondary;

          &:after {
            border-color: $secondary;
          }
        }
      }
    }

    .signup {
      display: block;
      line-height: 0;
      font-size: 0.9rem !important;
    }
  }

  //Fixed toolbar modifier
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // min-height: 4rem !important;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

    a {
      color: $toolbar-fixed-a-color;

      &:hover {
        color: $primary;
      }
    }
  }
}

// up to about 1024 (tablet size)
@include until($desktop) {
  .appbar.toolbar{
    .container {
      height: $bar-breakpoint-height;
      min-height: $bar-breakpoint-height;
    }
  }
}

//Cloned fixed toolbar
#toolbar-clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  transform: translateY(-100%);
  z-index: 100;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

  &.is-active {
    transform: translateY(0);
  }
}
