/* ---------------------------------------------------------------------- */
/*  Nav
/* ---------------------------------------------------------------------- */
$base-color: #22262f;
$header-color: $blue;
$label-color: $red;
$link-color: #000 !important;
$sub-menu-active-background-color: $grey-lighter !default;

@media (min-width: $screen-md-min) {
  .app-aside {
    div {
      -webkit-transform: translateZ(0);
    }
  }

  .app-sidebar-closed {
    &.lyt-2 {
      .app-aside {
        nav {
          padding-top: 0 !important;

          > ul {
            margin-left: 0 !important;
            margin-right: 0 !important;

            > li {
              &.hover {
                background: $black;
              }
            }
          }
        }
      }
    }

    .app-aside {
      overflow: visible !important;

      nav > ul {
        margin-left: 5px !important;
      }

      li {
        a {
          .icon-arrow {
            float: right;
            margin-right: 6px !important;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            opacity: 0.6;

            &:before {
              content: "\e64a";
              font-family: themify;
            }
          }
        }

        &.open {
          > a {
            .icon-arrow {
              opacity: 1;

              &:before {
                content: "\e64b";
              }
            }
          }
        }
      }

      > .item-inner {
        width: $sideBar-width;
        left: $sideBar-closed-width;
        top: 0;
        padding: 20px 0;
        width: $sideBar-width;
        background: #81898f !important;
        margin-left: 0 !important;
        z-index: 1051;
        -webkit-transform: translateZ(0);
        border-top-right-radius: 10px;

        &.active {
          background: #666c71 !important;
        }

        &:before {
          content: "";
          background: none;
          border-bottom: 12px solid transparent !important;
          border-left: 12px solid $white;
          border-right: none;
          border-top: 12px solid transparent !important;
          display: block;
          height: 0;
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          z-index: 1;
          margin-top: -12px;
        }

        .title {
          margin-left: 20px;
          color: $white !important;
          font-size: $font-size-normal;
        }

        .icon-arrow {
          display: none;
        }
      }

      > ul.sub-menu {
        width: $sideBar-width;
        display: block !important;
        overflow: auto;
        padding: 0;
        left: $sideBar-closed-width;
        z-index: 1000;

        > li {
          z-index: 1000;

          a {
            color: $text-color;
            font-size: $font-size-normal;
          }
        }
      }
    }
  }

  .app-sidebar-closed {
    @media (min-width: $screen-md-min) {
      #sidebar {
        > div nav > ul {
          li {
            .no-touch & {
              transition: background-color 0ms linear;
            }
          }

          > li {
            &.open {
              background: inherit;
            }

            &.hover {
              background: $white;
            }

            &.active {
              &:before {
                border-right: none !important;
              }

              &:after {
                border-right: none !important;
              }

              &:hover {
                &:after {
                  border-left-color: $grey;
                }
              }
            }

            > a {
              display: block;

              .item-content {
                display: block;
                padding-left: 0;
              }

              .item-inner {
                .icon-arrow {
                  display: none;
                }
              }
            }
          }
        }

        .s-open {
          width: $sideBar-closed-width;
        }

        .navbar-title {
          opacity: 0;
        }
      }
    }
  }
}

.navbar-title {
  color: #808285;
  font-size: 10px;
  letter-spacing: 0.2px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 5px;
  text-transform: uppercase;
  white-space: nowrap;
}

.s-open {
  display: none;
}

.navbar-form {
  background: lighten($grey, 10%);
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 8px;
  position: relative;

  a {
    display: none;
  }

  .search-button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    color: $grey;
    position: absolute;
    right: 5px;
    top: -2px;
    transition: all 100ms ease-in 0s;

    &:hover {
      transition: all 300ms ease-in 0s;
    }
  }

  .form-control {
    background: transparent;
    border: none !important;
    border-radius: 0;
    box-shadow: none !important;
    color: $grey-dark;
    display: block;
    transition: all 300ms ease-in 0s;
    width: 100%;
    font-size: 12px;
    height: 25px;
    border-radius: 3px !important;

    &:focus {
      background-color: $white !important;
      border-color: $border-default;
      transition: all 300ms ease-in 0s;

      + .search-button {
        color: $grey-darker;
      }
    }
  }

  .form-group {
    display: block;
  }
}
