/* ---------------------------------------------------------------------- */
/*  Main Parent <ui-view> content
/* ---------------------------------------------------------------------- */

main.root-ui-view{
  height: 100%;
  background-color: $background;
}

.root-ui-view, .appbar-wrapper{
  transition: margin-left 0.3s;
}

// Adjust for the fixed sidenav nav
.app-sidenav-fixed {
  .root-ui-view, .appbar-wrapper {
    margin-left: $sidenav-nav-closed-width;
  }
}

.app-sidenav-open.app-sidenav-fixed {
  .root-ui-view, .appbar-wrapper {
    margin-left:$sidenav-nav-width;
  }
}

.appbar {
  .appbar-hamburger-wrapper {
    display: none;
  }
}

// media max of approx 1024 make it mobile/tablet
@include until($sidenav-nav-breakpoint) {
  .app-sidenav-fixed {
    .root-ui-view, .navbar-wrapper{
      margin-left:0;
    }
  }
  .app-sidenav-closed {
    .appbar {
      .appbar-hamburger-wrapper {
        display: flex;
      }
    }
  }

}
