/* ---------------------------------------------------------------------- */
/*  Sidebar
/* ---------------------------------------------------------------------- */

//$sidebar-background: $black;
$sidebar-background: $grey-lighter;
// $sidebar-item-color: $text !default;
// $sidebar-item-radius: $radius-small !default;
// $sidebar-item-hover-color: $text-strong !default;
// $sidebar-item-hover-background-color: $background !default;
// $sidebar-item-active-color: $link-invert !default;
$sidebar-item-active-background-color: $primary-light !default;
$sidebar-item-hover-background-color: $sidebar-item-active-background-color !default;
$sidebar-item-active-open-background-color: $white !default;
$sidebar-item-active-border-left: 4px solid $primary !default;
$sidebar-sub-menu-active-background-color: $sidebar-item-active-background-color !default;
$sidebar-item-open-background-color: $white-ter !default;

.list-item {
  .item-content {
    align-items: center;
    display: table-row;

    .item-media {
      display: table-cell;
      padding: 10px;
    }

    .item-inner {
      align-items: center;
      display: table-cell;
      padding: 10px 15px 10px 0;
      width: 100%;
      white-space: nowrap;
      vertical-align: middle;

      .active &,
      .open &,
      li:last-child & {
        border-bottom-color: transparent !important;
      }
    }
  }
}

#sidebar {
  width: $sideBar-width;
  left: 0;
  bottom: 0;
  background: $sidebar-background;
  overflow: visible;
  z-index: 1041;

  .search-form {
    .navbar-form {
      background: darken($black, 2%);
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      position: relative;

      a {
        display: none;
      }

      .search-button {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none !important;
        color: rgba($white, 0.7);
        position: absolute;
        right: 5px;
        top: 15px;
        transition: all 100ms ease-in 0s;

        &:hover {
          color: rgba($white, 1);
          transition: all 300ms ease-in 0s;
        }
      }

      .form-control {
        background: transparent !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        color: $white !important;
        display: block;
        transition: all 300ms ease-in 0s;
        width: 100%;
        font-size: 12px;
        height: $header-height;
        line-height: $header-height;
        padding-right: 40px;

        &::-webkit-input-placeholder {
          color: rgba($white, 0.4);
        }

        &:-moz-placeholder {
          color: rgba($white, 0.4);
        }

        &::-moz-placeholder {
          color: rgba($white, 0.4);
        }

        &:-ms-input-placeholder {
          color: rgba($white, 0.4);
        }

        &:focus {
          + .search-button {
            color: $white;
          }
        }
      }

      .form-group {
        display: block;
      }
    }
  }

  .nav-user-wrapper {
    padding: 15px 10px;
    position: relative;
    overflow: visible !important;
    z-index: 1;

    .media {
      overflow: visible;

      .media-body {
        white-space: nowrap;
      }

      .media-right {
        a {
          font-size: $font-size-small;
          padding-right: 25px;
          padding-left: 15px;
          padding-right: 15px;
        }

        .dropdown-menu {
          a {
            color: $text-color;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }
    .media-left {
      padding-right: 20px;
    }
  }

  > div,
  .sidebar-container {
    height: 100%;
  }

  .sidebar-container hr {
    margin: 0;
  }

  .app-sidebar-fixed & {
    > .sidebar-container {
      overflow-y: hidden;
      overflow-x: visible;
      position: relative;
    }
  }

  .app-mobile & {
    overflow: auto;
  }

  .wrapper {
    padding: 20px 15px;
  }

  .app-sidebar-fixed &,
  .app-navbar-fixed.app-sidebar-fixed & {
    top: 0;
  }

  nav {
    min-height: 100%;
  }

  @media (min-width: $desktop) {
    margin-top: $header-height;
    transition: width 0.5s;

    .sidebar-container {
      position: relative;

      > div {
        overflow: hidden;
      }
    }

    .app-sidebar-fixed & {
      padding-top: $header-height;
    }

    .app-navbar-fixed.app-sidebar-fixed & {
      .app-boxed-page & {
        padding-top: 0;
      }
    }

    // nav {
    //   border-right: none;
    // }

    .app-sidebar-fixed & {
      position: fixed;
      margin-top: 0;

      > div {
        z-index: 1000;
      }

      .app-boxed-page & {
        position: static !important;
      }
    }

    .app-sidebar-closed & {
      width: $sideBar-closed-width;

      .nav-user-wrapper {
        .media-body,
        .media-right {
          display: none;
        }
      }
    }
  }

  @include until($desktop) {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 0;
    float: none;
    -webkit-transform: translate3d(-$sideBar-width, 0, 0);
    transform: translate3d(-$sideBar-width, 0, 0);
    transition: transform 300ms ease 0s;

    > div {
      z-index: 1000;

      > div {
        overflow: hidden;
      }
    }

    .app-sidebar-open & {
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: transform 300ms ease 0s;
    }

    nav {
      border-right: none !important;
    }

    > .sidebar-container {
      overflow-y: hidden;
      overflow-x: visible;
      position: relative;
    }
  }

  .navbar-title {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    display: flex;
    height: 40px;
  }
  .main-navigation-menu{
    padding-top: 0;
    margin-bottom: 0;
  }

  .app-sidebar-closed & {
    @media (min-width: $desktop) {
      width: $sideBar-closed-width - 20 !important;

      &.app-aside {
        > .item-inner,
        > ul.sub-menu {
          left: $sideBar-closed-width - 20 !important;
        }
      }
    }
  }
}

.sidebar nav {
  ul.main-navigation-menu {
    list-style: none;
    margin: 0 0 10px 0px;
    padding: 10px 0 0 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;

    li {
      display: block;
      position: relative;
      padding: 5px;
    }

    .list-item {
      border-radius: 0;
      margin: 0;
      border-left: 4px solid transparent;
      display: block;
      position: relative;
      padding: 5px 13px 5px 5px;

      &:hover:not(.open) {
        background: $sidebar-item-active-open-background-color !important;
      }

      .item-inner {
        padding: 10px 15px 10px 10px;
        font-size: $font-size-base;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-family: $family-secondary;

        .icon-arrow {
          position: absolute;
          right: 0;
          margin-right: 6px !important;
          font-style: normal;
          font-weight: normal;
          color: $black;
          font-size: 11px;
          top: 20px;
          margin-top: -7px;

          &:before {
            content: "\e649";
            font-family: themify;
          }
        }
      }

      a {
        color: #666;
        border-bottom: none;

        i {
          font-weight: normal;
          opacity: 1;
        }

        .icon-arrow {
          opacity: 0.6;
        }

        .letter-icon-wrapper {
          background: #81898f;
        }
        // &:hover {
        //   background: $sidebar-item-hover-background-color !important;
        // }
      }

      > a {
        display: table;
      }

      &.open {
        //background: $sidebar-item-open-background-color;
        .item-inner {
          .icon-arrow {
            &:before {
              content: "\e64b";
            }
          }
        }
        > a {
          color: $black;
          i {
            opacity: 1;
          }
        }
      }

      &.active {
        border-left: $sidebar-item-active-border-left;
        transition: all 0.4s;
        //background: $sidebar-item-active-color !important;
        //box-shadow: 3px 4px 8px -3px rgba(0, 0, 0, 0.4);
        box-shadow: none;
        margin-right: -1px;
        background-color: $sidebar-sub-menu-active-background-color;

        > ul.sub-menu {
          display: block;
          padding: 0;
        }

        @include until($desktop) {
          box-shadow: none;
          margin-right: 0;
        }
        &.open {
          background: $sidebar-item-active-open-background-color !important;
        }

        > a {
          background: none !important;
          border-top: none !important;
          color: $text-color;

          .letter-icon-wrapper {
            background: #666c71;
          }
        }
      }
    }

    ul.sub-menu {
      clear: both;
      list-style: none;
      padding: 1px 0;
      display: none;
      margin: 0;

      li {
        &.active,
        &.open,
        &:hover {
          background: $sidebar-item-active-background-color;
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
        }

        .no-touch & {
          &:hover {
            background: darken($sidebar-item-active-background-color, 14%);
          }
        }

        a {
          background: none;
          display: block;
          font-size: $font-size-base !important;
          //font-weight: 300;
          border: none;
          margin: 0;
          padding-bottom: 5px;
          padding-left: 52px !important;
          padding-right: 15px;
          padding-top: 5px;
          text-decoration: none;
          white-space: nowrap;

          .icon-arrow {
            right: 5px !important;
          }
        }

        &:hover {
          > a {
            > .icon-arrow {
              opacity: 1 !important;
            }
          }
        }

        &.dropdown-header {
          padding-left: 40px !important;
        }

        &.divider {
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
          margin-left: 40px !important;
        }

        ul.sub-menu {
          li {
            a {
              padding-left: 60px !important;

              .icon-arrow {
                right: 10px !important;
              }
            }

            ul.sub-menu {
              li {
                a {
                  padding-left: 80px !important;
                }
              }
            }
          }
        }
      }

      .app-sidebar-closed & {
        @media (min-width: $desktop) {
          border-right: 1px solid $border-default;
          border-bottom: 1px solid $border-default;
          background: $white;
          left: $sideBar-closed-width;
          position: absolute;
          padding: 1px 0;
          overflow-y: auto;
          overflow-x: visible;
          height: auto;
          bottom: auto;
          width: $sideBar-width;
          z-index: 1050;
          display: none;

          > li {
            a {
              padding-left: 20px !important;
              padding-right: 5px;
            }

            ul.sub-menu {
              position: relative;
              left: 0;
              width: 100%;
              border: none !important;

              li {
                a {
                  padding-left: 30px !important;
                }

                ul.sub-menu {
                  li {
                    a {
                      padding-left: 50px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.app-sidebar-closed {
  ul.sub-menu {
    @media (min-width: $desktop) {
      display: none !important;
    }
  }
}

#sidebar > div nav {
  padding-top: 0px;

  @media (min-width: $desktop) {
    //width: $sideBar-width - 10;
    position: relative;
  }



  .folders {
    .letter-icon-wrapper {
      background: $red;
    }
  }
}
