/* ---------------------------------------------------------------------- */
/*  Sidebar
/* ---------------------------------------------------------------------- */

#sidebar {
    width: $sideBar-width;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $black;
    overflow: visible;
    z-index: 1051;

    .ps-scrollbar-y-rail {
        right: 0 !important;
        z-index: 2;

        @media (max-width: $screen-sm-max) {
            right: 2px !important;
        }
    }

    .search-form {
        .navbar-form {
            background: darken($black,2%);
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
            position: relative;

            a {
                display: none;
            }

            .search-button {
                background: none;
                border: none;
                border-radius: 0;
                box-shadow: none !important;
                color: rgba($white, 0.7);
                position: absolute;
                right: 5px;
                top: 15px;
                transition: all 100ms ease-in 0s;

                &:hover {
                    color: rgba($white, 1);
                    transition: all 300ms ease-in 0s;
                }
            }

            .form-control {
                background: transparent !important;
                border: none !important;
                border-radius: 0 !important;
                box-shadow: none !important;
                color: $white !important;
                display: block;
                transition: all 300ms ease-in 0s;
                width: 100%;
                font-size: 12px;
                height: $header-height;
                line-height: $header-height;
                padding-right: 40px;

                &::-webkit-input-placeholder {
                    color: rgba($white, 0.4);
                }

                &:-moz-placeholder {
                    color: rgba($white, 0.4);
                }

                &::-moz-placeholder {
                    color: rgba($white, 0.4);
                }

                &:-ms-input-placeholder {
                    color: rgba($white, 0.4);
                }

                &:focus {
                    + .search-button {
                        color: $white;
                    }
                }
            }

            .form-group {
                display: block;
            }
        }
    }

    .nav-user-wrapper {
        padding: 15px 10px;
        position: relative;
        background: $black !important;
        overflow: visible !important;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url("./images/user-background.png");
        }

        .media {
            overflow: visible;

            .media-body {
                white-space: nowrap;
            }

            .media-right {
                a {
                    font-size: $font-size-small;
                    padding-right: 25px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: rgba($white, 0.7);

                    &:hover {
                        color: rgba($white, 1);
                    }
                }

                .dropdown-menu {
                    a {
                        color: $text-color;

                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
        .media-left {
          padding-right: 20px;
        }
    }

    .profile-card-photo {
        background-color: #fff;
        border-radius: 8px;
        display: inline-block;
        height: 40px;
        width: 40px;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    .sidebar-toggler {
        font-size: $font-size-extra-large;
        padding-right: 15px;
        color: $white;
        font-size: 21px;

        &:hover {
            color: $darkGrey;
        }
    }

    > div, .sidebar-container {
        height: 100%;
        background: #D7D6DB;

        @media (min-width: $screen-md-min) {
            margin-left: 10px;
        }
    }

    .sidebar-container {
        -webkit-box-shadow: inset -9px 0 8px -11px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: inset -9px 0 8px -11px rgba(0, 0, 0, 0.4);
        box-shadow: inset -9px 0 8px -11px rgba(0, 0, 0, 0.4);
    }

    .app-sidebar-fixed & {
        > .sidebar-container {
            overflow-y: hidden;
            overflow-x: visible;
            position: relative;
        }
    }

    .app-mobile & {
        overflow: auto;
    }

    .wrapper {
        padding: 20px 15px;
    }

    .app-sidebar-fixed &, .app-navbar-fixed.app-sidebar-fixed & {
        top: 0;
    }

    nav {
        min-height: 100%;
    }

    @media (min-width: $screen-md-min) {
        margin-top: $header-height;
        transition:  width 0.5s;

        .sidebar-container {
            position: relative;

            > div {
                overflow: hidden;
            }
        }

        .app-sidebar-fixed & {
            padding-top: $header-height;
        }

        .app-navbar-fixed.app-sidebar-fixed & {
            .app-boxed-page & {
                padding-top: 0;
            }
        }

        &:before {
            @media (min-width: $screen-md-min) {
                background-color: $black;
                border: inherit;
                bottom: 0;
                content: "";
                position: absolute;
                top: $header-height;
                width: inherit;
                z-index: -1;
            }
        }

        &:after {
            @media (min-width: $screen-md-min) {
                background-color: #D7D6DB;
                border: inherit;
                bottom: 0;
                content: "";
                position: absolute;
                top: $header-height;
                width: inherit;
                z-index: -1;
                left: 10px;
                width: $sideBar-width - 10;
                -webkit-box-shadow: inset -9px 0 8px -11px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: inset -9px 0 8px -11px rgba(0, 0, 0, 0.4);
                box-shadow: inset -9px 0 8px -11px rgba(0, 0, 0, 0.4);
                transition:  width 0.5s;

                .app-sidebar-closed & {
                    width: $sideBar-closed-width - 10;
                }
            }
        }

        nav {
            border-right: none;
        }

        .app-sidebar-fixed & {
            position: fixed;
            margin-top: 0;

            > div {
                z-index: 1000;
            }

            .app-boxed-page & {
                position: static !important;
            }
        }

        .app-sidebar-closed & {
            width: $sideBar-closed-width;

            .nav-user-wrapper {
                .media-body, .media-right {
                    display: none;
                }
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 0;
        float: none;
        -webkit-transform: translate3d(-$sideBar-width, 0, 0);
        transform: translate3d(-$sideBar-width, 0, 0);
        transition: transform 300ms ease 0s;

        > div {
            z-index: 1000;

            > div {
                overflow: hidden;
            }
        }

        .app-slide-off & {
            z-index: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            transition: transform 300ms ease 0s;
        }

        nav {
            border-right: none !important;
        }

        > .sidebar-container {
            overflow-y: hidden;
            overflow-x: visible;
            position: relative;
        }
    }

    .lyt-4 & {
        display: none !important;
    }

    .lyt-2 & {
        @media (min-width: $screen-md-min) {
            width: $sideBar-width - 40;
        }

        &:after {
            display: none;
        }

        &:before {
            background-color: lighten($black, 2%);
        }

        .sidebar-container {
            margin: 0;
            background-color: lighten($black, 2%);
        }

        .profile-card-photo {
            width: 30px;
            height: 30px;
            background: none;

            img {
                border-radius: 50%;
            }
        }

        > div {
            nav {
                width: auto;
                transition:  all 0.5s;

                &:after {
                    display: none;
                    border: none;
                    width: 0;
                    height: 0;
                    background: transparent;
                }

                &:before {
                    display: none;
                    border: none;
                    width: 0;
                    height: 0;
                    top: auto;
                    background: transparent;
                }

                > ul {
                    margin-left: 0;
                    margin-right: 0 !important;

                    > li {
                        border-radius: 0;
                        margin: 0;

                        .item-media {
                            padding: 10px 15px;
                        }

                        .item-inner {
                            padding: 10px 15px 10px 10px;
                            font-size: $font-size-small;
                        }

                        &.active {
                            border-left: 4px solid $red;
                            transition: all 0.4s;
                            background: $black;
                            box-shadow: none;

                            .item-media {
                                padding-left: 11px;
                            }
                        }
                    }
                }
            }
        }
    }

    .lyt-2.app-sidebar-closed & {
        @media (min-width: $screen-md-min) {
            width: $sideBar-closed-width - 20 !important;

            &.app-aside {
                > .item-inner, > ul.sub-menu {
                    left: $sideBar-closed-width - 20 !important;
                }
            }
        }
    }
}
