
<div class="columns">
  <div class="column is-half">
    <button type="button" class="button" ag-ripple>
      Basic
    </button>
    <ag-button>Default</ag-button>
    <ag-button color="primary">Primary</ag-button>
    <ag-button color="success">Success</ag-button>
    <ag-button color="info">Info</ag-button>
    <ag-button color="warning">Warning</ag-button>
    <ag-button color="danger">Danger</ag-button>
    <ag-button color="link">Link</ag-button>
    <ag-button color="light">Light</ag-button>
    <ag-button color="dark">Dark</ag-button>
  </div>
  <div class="column is-half">
    <ag-button is-disabled="true">Disabled</ag-button>
    <ag-button color="primary" button-class="is-outlined">Outline</ag-button>
    <ag-button color="danger" button-class="is-outlined">Outline</ag-button>
    <ag-button color="primary" button-class="is-rounded">Round</ag-button>
    <ag-button color="info" button-class="is-fullwidth">Full Width</ag-button>
    <ag-button color="primary" button-click="$ctrl.toggleLoading" is-loading="$ctrl.loading">Toggle Loading</ag-button>
    <pre>loading: {{$ctrl.loading}}</pre>
  </div>
</div>
