// these are hacks to get things tied together
body {
  overflow: auto; //FIXME need to sort out scrolling for the page containers and remove this
  position: unset; //unsets the relative that f7 sets, not sure why or the implications here
  height: unset;
}

.aurora {
  --f7-card-box-shadow: #{$shadow};
}
