/* ==========================================================================
toolbar overrides
========================================================================== */

$toolbar-icon-button-size: 3rem !default;
//$toolbar-icon-size: 22px !default;

//toolbar
.appbar.toolbar{
  position: relative;
  //min-height: $bar-height;
  transition: all 0.3s;
  z-index: 29;

  &.no-shadow {
    box-shadow: none !important;
  }

  .toolbar-title {
    font-size: $text-xxl
  }

  // Responsive menu icon
  // .toolbar-burger {
  //   width: 4rem;
  //   height: 4rem;
  // }

  //Brand
  .toolbar-brand {

    img {
      max-height: 36px !important;
      height: 36px;
    }

    //Removing toolbar item default hover behaviour
    &:hover {
      .toolbar-item {
        background: transparent !important;
      }
    }
  }

  .toolbar-end {
    align-items: center;
  }

  //toolbar items
  .toolbar-item {
    color: $toolbar-item-color;

    &.is-secondary {
      &:hover {
        color: $toolbar-color-secondary !important;
      }
    }

    &.has-dropdown {
      padding: 10px 0;

      .toolbar-link {
        color: $toolbar-item-color;

        &:after {
          top: 55%;
          height: 0.5em;
          width: 0.5em;
          border-width: 2px;
          border-color: $toolbar-item-color;
        }
      }

      .toolbar-dropdown {
        top: 3.4rem;
        min-width: 220px;
        margin-top: 4px;
        border-top-color: $toolbar-color-secondary;

        .toolbar-item {
          padding: 10px 20px;
        }
      }

      &:hover {
        .toolbar-link {
          color: $toolbar-color-secondary;

          &:after {
            border-color: $toolbar-color-secondary;
          }
        }
      }
    }

    .signup {
      display: block;
      line-height: 0;
      font-size: 0.9rem !important;
    }
  }

  //Fixed toolbar modifier
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // min-height: 4rem !important;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

    a {
      color: $toolbar-fixed-a-color;

      &:hover {
        color: $toolbar-color-secondary;
      }
    }
  }
}

