// material style button overrides

@mixin ripple($ripColor: #000){
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, $ripColor 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  &:active:before {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

//$shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow-large: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

@mixin btn($class,$bg){
  .btn-#{$class} {
    background-size: 200% 200%;
    background-position: 50%;

    &:focus {
      background-color: $bg;
    }

    &:hover,
    &:active:hover {
      background-color: lighten($bg,4%);
    }

    &:active {
      background-color: darken($bg,12%);
      //@include gradient-radial(darken($bg, 12%) 10%, $bg 11%);
      background-size: 1000% 1000%;
      box-shadow: 2px 2px 4px rgba(0,0,0,.4);
    }
  }
}

//@include btn(default, $button-background-color);
@include btn(primary,$primary);
@include btn(success,$success);
@include btn(info,$info);
@include btn(warning,$warning);
@include btn(danger,$danger);
@include btn(link,#fff);

$shadow2:  0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

.btn {
  // text-transform: uppercase;
  // border: none;
  box-shadow: $shadow1;
  // transition: all 0.4s;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 300ms ease;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &-link {
    border-radius: $control-radius;
    box-shadow: none;
    color: $button-color;

    &:hover,
    &:focus {
      box-shadow: none;
      color: $button-color;
      text-decoration: none;
    }
  }

  &-default {

    &.disabled {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
  }
}

.btn-transparent {
  background: none;
  //border-color: rgba($white, 0.6);
  //border-width: 1px;
  color: inherit;
  box-shadow: none;

  &:hover, &:focus, &:active, &.active {
      background-color: rgba($black, 0.1);
      //border-color: rgba($white, 0.8);
  }

  &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active, &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active, fieldset[disabled] &:hover, fieldset[disabled] &:focus, fieldset[disabled] &:active, fieldset[disabled] &.active {
      background: none;
      border-color: rgba($white, 0.3);
      color: $white;
  }

  .caret {
      border-top-color: rgba($black, 0.1);
  }

  .dropup & {
      .caret {
          border-bottom: 4px solid rgba($black, 0.1);
      }
  }
}

// Material looking buttons

.button {
  //border-radius: 3px;
  box-shadow: $shadow1;
  //text-transform: uppercase;
  font-weight: 500;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 300ms ease;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  //text-shadow: 0 1px 1px rgba(255, 255, 255, .75);

  &.is-hovered,
  &:hover {
    //border-color: transparent;
    background-color: darken($button-background-color, 5);
  }

  &.is-active,
  &:active {
    border-color: transparent;
    box-shadow: $shadow2;
  }
  //$button-focus-box-shadow-size: 0 0 0 0.2rem !default
  &.is-focused,
  &:focus {
    //border-color: transparent;
    &:not(:active ) {
      box-shadow: $shadow2;
      //box-shadow: 0 0 0 0.15rem darken($button-background-color, 3)
    }
  }
  &:not([disabled]){
    @include ripple($button-color);
  }
  // add specifier to force icon location
  .icon {
    &.is-first-child {
      margin-left: calc(#{-1 / 2 * $button-padding-horizontal} - #{$button-border-width});
      margin-right: $button-padding-horizontal / 4;
    }
    &.is-last-child {
      margin-left: $button-padding-horizontal / 4;
      margin-right: calc(#{-1 / 2 * $button-padding-horizontal} - #{$button-border-width});
    }
    &.is-icon-only {
      margin-left: calc(#{-1 / 2 * $button-padding-horizontal} - #{$button-border-width});
      margin-right: calc(#{-1 / 2 * $button-padding-horizontal} - #{$button-border-width});
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 5);
      }

      &.is-active,
      &:active {
        box-shadow: $shadow-large;
      }
      &:not([disabled]){
        @include ripple($color-invert);
      }
      //@include ripple;
    }
  }

  &.is-text {
    box-shadow: none;
  }


}

[ag-ripple] {
  position: relative;
  overflow: hidden;
}
.ag-ripple {
  display: block;
  position: absolute;
  background-color: rgba(253, 253, 253, 0.4);
  border-radius: 50%;
  transform: scale(0);
}
.ag-ripple.animate {
  animation: ripple 0.35s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
