$icon-dimensions-small: $text-sm !default;
@import "~bulma/sass/elements/icon.sass";

@mixin iconSize ($icon-size) {
  height: $icon-size;
  width: $icon-size;

  i.fa, i.far, i.fas, i.fal, i.fad {
    // padding: 1px;
    font-size: calc(#{$icon-size} - 6px);
    text-align: center;
  }
  i.mdi {
    // padding: 1px;
    font-size: calc(#{$icon-size} - 2px);
    text-align: center;
  }
}

i.icon {
  color: $icon-default-color;
}

// change default fa and mdi font sizes
.icon {

  i.fa, i.far, i.fas, i.fal, i.fad {
    padding: 1px;
    font-size: calc(#{$icon-dimensions} - 4px); //22px
    text-align: center;
    line-height: 1;
    // font-size: $icon-dimensions;
  }
  i.mdi {
    font-size: $icon-dimensions; //calc(#{$icon-dimensions} - 2px); //22px
    text-align: center;
    line-height: 1;
  }

  // add default so it can be changed back
  &.is-default {
    height: $icon-dimensions;
    width: $icon-dimensions;
  }

  &.is-small {
    height: $icon-dimensions-small;
    width: $icon-dimensions-small;
    i.fa, i.far, i.fas, i.fal, i.fad, i.mdi {
      font-size: $icon-dimensions-small;
    }
  }
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* --- "~bulma/sass/elements/icon.sass" copy for refernece --- */
// $icon-dimensions: 1.5rem !default
// $icon-dimensions-small: 1rem !default
// $icon-dimensions-medium: 2rem !default
// $icon-dimensions-large: 3rem !default

// .icon
//   align-items: center
//   display: inline-flex
//   justify-content: center
//   height: $icon-dimensions
//   width: $icon-dimensions
//   // Sizes
//   &.is-small
//     height: $icon-dimensions-small
//     width: $icon-dimensions-small
//   &.is-medium
//     height: $icon-dimensions-medium
//     width: $icon-dimensions-medium
//   &.is-large
//     height: $icon-dimensions-large
//     width: $icon-dimensions-large

