$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;



.modal-card-foot {
  display: block
  // padding: $modal-card-head-padding
}

@media (min-width: $screen-md-min) {
  .modal-lg { width: $modal-lg; }
}

.modal-sm { width: $modal-sm; }
