/* ==========================================================================
toolbar overrides
========================================================================== */
/* DEPENDS ON toolbar.scss */
//$toolbar-item-color: #999;

$toolbar-item-negative-margin: $icon-button-negative-margin !default;

$toolbar-title-padding: $icon-button-dimensions * .5 !default;

$toolbar-icon-color: $icon-default-color !default;
// $toolbar-icon-size: 1.5rem !default;
$toolbar-icon-button-size: 3rem !default;

$toolbar-fixed-a-color: #444F60 !default;
$toolbar-border: $border !default;

//dense
$toolbar-dense-height: $item-height !default;
$toolbar-dense-icon-size-fa: calc(1.25em - 4px) !default;
$toolbar-dense-icon-size: calc(1.5em - 2px) !default;
// $toolbar-dense-icon-button-size: 2.5rem !default;
$toolbar-dense-control-height: $toolbar-dense-height - $item-spacing !default;

//toolbar
.toolbar {
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  // z-index: unset;

  .toolbar-item-left {
    margin-left: -10px;
  }

  > .toolbar-container .toolbar-menu {
    margin-left: $toolbar-item-negative-margin;
  }
  .toolbar-end, .toolbar-start, .toolbar-menu {
    align-items: center;
  }

  .toolbar-container > .button.is-icon-button:first-child {
    margin-left: $toolbar-item-negative-margin;
  }

  .toolbar-container > .button.is-icon-button:last-child  {
    margin-right: $toolbar-item-negative-margin
  }
  //fix buttons grouping margins
  .buttons{
    &:last-child {
      margin-bottom: 0;
    }
    .button {
      margin-bottom: 0;
    }
  }

  .button {
    &.is-icon-button {
      &.is-focused,
      &:focus {
        border-color: transparent;
        &:not(:active) {
          box-shadow: none;
        }
      }
    }
    .icon {
      color: $toolbar-icon-color;
      &.is-solo, &.is-solo:last-child  {
        margin: 0;
        // height: $toolbar-icon-size;
        // width: $toolbar-icon-size;
      }
    }
    // &.is-focused,
    // &:focus {
    //   border-color: transparent;
    //   &:not(:active) {
    //     box-shadow: none;
    //   }
    // }
  }
  .selection-pointer {
    padding: 14px 0px 4px 3px;
    color: $toolbar-icon-color;
    // > i {
    //   transform: rotate(180deg);
    //   &:before {
    //     content: "\f148";
    //   }
    // }
    .material-icons {
      font-size: 16px;
      transform: rotate(90deg);
    }

  }

  .divider-vertical {
    height: 2rem;
    margin: 0 3px;
    border-right: 1px solid $white;
    border-left: 1px solid $border;
  }

  .toolbar-title {
    font-size: $text-xl;
    padding-left: $toolbar-title-padding;
  }

  .input.is-search {
    max-width: 8rem;
  }

  .spacer {
    flex-grow: 1 !important;
  }

  &.has-border {
    border: 1px solid $toolbar-border;
    border-bottom-color: transparent;
  }

  &.is-dense {
    height: $bar-dense-height;
    min-height: $bar-dense-height;

    .toolbar-container {
      height: $bar-dense-height;
      min-height: $bar-dense-height;
    }
    .button:not(.is-icon-button ), .input {
      height: $toolbar-dense-control-height;
    }
    // .button, .input{
    //   height: $toolbar-dense-control-height;
    // }
    .button {
      // &.is-icon-button {
      //   height: $toolbar-dense-icon-button-size;
      //   width: $toolbar-dense-icon-button-size;
      // }
      .icon {
        &.is-solo, &.is-solo:last-child  {
          margin: 0;
          // height: $toolbar-dense-icon-size;
          // width: $toolbar-dense-icon-size;
          // i.fas, i.far, i.fab {
          //   font-size: $toolbar-dense-icon-size-fa;
          // }
          // i.mdi{
          //   font-size: $toolbar-dense-icon-size;
          // }
        }
      }
    }

    .control.has-icons-right .input, .control.has-icons-right .select select {
      padding-right: $toolbar-dense-control-height;
    }
    .control.has-icons-left .input, .control.has-icons-left .select select {
      padding-left: $toolbar-dense-control-height;
    }
    .control.has-icons-left .icon, .control.has-icons-right .icon {
      width: $toolbar-dense-control-height;
      height: $toolbar-dense-control-height;
    }
  }
}

// up to about 1024 (tablet size)
@include until($desktop) {
  .toolbar{
    .toolbar-container {
      height: $bar-breakpoint-height;
      min-height: $bar-breakpoint-height;
    }
  }
}
