form[editable-form] {
  .editable-datepicker input {
    width: 125px;
  }

  .editable-checkbox input {
    width: auto;
  }

  div {
    height: auto;
    padding: 5px 0;
    margin-bottom: 3px;
    min-height: 5px;
  }

  .title {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 130px;
    text-align: right;
    margin-right: 8px;
    margin-left: 5px;
  }

  .editable {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
  }
  select {
    width: 155px;
    padding: 6px 2px 6px 10px;
    border-radius: 5px;
  }
  .editable-error {
    color: #b94a48;
  }

  input.ng-invalid {
    border-color: #b94a48;
  }

  input {
    width: 167px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    height: 20px;
  }
  select.editable-input{
    width: 167px;
  }
}

.editable-controls .select2-container {
  width: 167px !important;
}

input[type=number].editable-input {
    width: 158px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
