$grid-selected-color: #d9efef !default;
$grid-hover-color: #F3F3F3 !default;
$grid-alt-row-color: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l),0.05);
$grid-border: $border;

.ui-jqgrid .ui-jqgrid-view {
  font-size: 14px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  // background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: linear-gradient($white, $white-bis 25%, $grey-lightest);
  // text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
  color: $text;
  font-size: $text-sm;
  font-weight: $weight-semibold;
  line-height: normal;
  border: 1px solid $grid-border;
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  transition: .1s linear background-image;
  overflow: visible
}
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.01;
}
// when dragging to reposition columns
.ui-widget-content .ui-state-default.ui-sortable-helper {
  background-image: linear-gradient($grey-lightest);
}

// last column
.ui-widget-content th.ui-state-default:last-child{
  border-right-color: transparent;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td {
  border: 0;
}

.ui-jqgrid .s-ico>.ui-icon-asc.ui-icon.ui-sort-ltr {
  margin-left: -4px;
}

.ui-jqgrid {
  border: 1px solid $grid-border;
  box-sizing: content-box;

  //check box
  tr.jqgrow > td.td_cbox {
    padding-left: 8px;
  }
  .ui-jqgrid-htable .ui-jqgrid-labels > th.jqgh_cbox {
    padding-left: 4px;
  }

  .ui-jqgrid-titlebar {
    height: 40px;
    line-height: 24px;
    color: #000000;
    background-color: #F9F9F9;
    padding: 0px;
  }
  .ui-jqgrid-title {
    float: left;
    margin: 8px;
  }
  .ui-widget-header {
    border-bottom: 1px solid #D3D3D3;
  }
  .ui-search-toolbar {
    input[type="text"] {
      font-size: 12px;
      height: 15px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
    }
  }
  .ui-jqgrid-hdiv {
    border: 1px solid $border;
    border-radius: 4px 4px 0 0;
    line-height: 15px;
    font-weight: bold;
    color: #777777;
  }
  .ui-jqgrid-htable {
    th {
      span.ui-jqgrid-resize {
        height: 45px !important;
      }
    }
    th[id$=_cb] {
      border: none;
    }
    th.ui-th-ltr {
      background: none    \9;
      filter: none;
    }
  }
  tr.jqgfirstrow {
    td {
      border-color: transparent;
    }
  }
  tr.ui-row-ltr {
    td {
      border-bottom: 1px solid #e5e9e9;
      border-right: none;
      padding: 8px;
      .cbox {
        margin-left: -4px;
      }
    }
    /*
    Generic styling for grid columns.
    */
    .currency-content {
      text-align: right;
    }

    .date-content {
      text-align: center;
    }

    .link-content {
      text-align: right;
    }
  }
  tr.jqgroup {
    td {
      padding-left: 25px!important;
    }
    .cbox {
      margin:0 20px 0 -38px!important;
      width:14px!important;
      height:14px!important;
    }
  }
  tr.row-with-warning {
    color: red!important;
  }
  tr.footrow-ltr {
    .currency-content {
      text-align: right;
    }
    border: 0;
    td {
      padding: 2px 8px;
      border: 0;
    }
  }
  tr.ui-jqgrid-labels {
    th[id$=_cb], th[id$=_-row_action_col] {
      box-shadow: none;

      &.ui-state-hover {
        background-position: 0px 0px;
      }

      div {
        cursor: default !important;
      }
    }
  }

  .ui-icon-triangle-1-n {
    background-position: 1px -16px;
  }
  tr.ui-search-toolbar {
    th {
      border-top-width: 0px !important;
      border-top-color: inherit !important;
      border-top-style: ridge !important;
    }
  }
  /** Pager **/
  .ui-jqgrid-pager {
    background: #F9F9F9;
    //border: 1px solid #D3D3D3;
    border-width: 1px 0 0 0;
    line-height: 15px;
    height: 36px;

    .ui-paging-info{
      padding-right: 12px;
    }
    .ui-pager-control{
      font-size: 12px;
    }
    select.ui-pg-selbox {
      font-size: 12px !important;
      min-width: 40px;
      height: auto;
      padding: 1px 8px !important;
      line-height: normal;
      display: inline-block !important;
      border: 1px solid $input-border-color;
      background-color: $input-background-color;
      border-radius: $input-radius;
    }
    input.ui-pg-input {
      width: 22px;
      font-size: 12px !important;
      padding: 1px 4px !important;
      display: inline-block;
      border: 1px solid $input-border-color;
      background-color: $input-background-color;
      border-radius: $input-radius;
    }

  }

  .ui-pg-input {
    font-size: inherit;
    width: inherit;
    height: inherit;
  }


  .ui-pager-control {
    height: 36px;
    position: relative;
  }
  .ui-pg-button:hover {
    padding: 1px;
  }
  .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    height: auto;
    z-index: 101;
    padding: 6px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    display: none;
    border-width: 2px !important;
    font-size: 11px;
  }
}
.ui-jqgrid .ui-pg-button:hover,
.ui-jqgrid .ui-pg-button.ui-state-hover,
.ui-jqgrid .ui-pg-button:focus,
.jqgrow .ui-jqgrid-actions .ui-pg-div:hover,
.jqgrow .ui-jqgrid-actions .ui-pg-div.ui-state-hover,
.jqgrow .ui-jqgrid-actions .ui-pg-div:focus {
  border: 0px;
  padding: 2px
}

// is-dense
.ui-jqgrid .gridz.is-dense .jqgrow td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr {
  border: none;
}
.ui-jqgrid-btable {
  .ui-widget-content {
    background-image: none;
    background-color: #FFF;
    opacity: 1;

    // context menu cog icon
    a.jqg-context-menu {
      font-size: 12px;
      padding: 6px;
      margin-left: -6px;
      color: #404040;
    }

    // legacy row
    a.jqg-row-action {
      font-size: 12px;
      padding: 6px;
      margin-left: -6px;
      color: #404040;
    }
    a.jqg-row-action:hover {
      color: #333333;
    }
  }
  .ui-widget-content.ui-priority-secondary {
    background-image: none;
    background-color: $grid-alt-row-color;
    opacity: 1;
  }
  .ui-widget-content.ui-state-hover {
    background-image: none;
    background-color: $grid-hover-color;
    opacity: 1;
  }
  .ui-widget-content.ui-state-highlight {
    background-color: $grid-selected-color;
    //background-image: linear-gradient(to bottom, #fceec1, #eedc94);
    //background-repeat: repeat-x;
    opacity: 1;
    *position: fixed;
  }
}
.ui-pg-table {
  .navtable {
    .ui-corner-all {
      border-radius: 0px;
    }
  }
}
.ui-jqdialog {
  font-size: 13px;
  .ui-jqdialog-content {
    select {
      width: auto;
      font-size: 13px;
    }
    div {
      table:last-child {
        background-color: #F5F5F5;
        background-image: none;
        border-radius: 0 0 6px 6px;
        border-top: 1px solid #DDDDDD;
        border-width: 1px 0 0;
        box-shadow: 0 1px 0 #FFFFFF inset;
        margin: 0.5em 0 0;
        padding: 5px 15px;
        text-align: left;
      }
    }
  }
  .ui-jqdialog-titlebar {
    position: relative;
    padding: 5px 15px;
    border: 0 0 0 1px solid;
    border-color: white;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
  }
  .ui-jqdialog-title {
    color: #404040;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }
  hr.ui-widget-content {
    background: none;
    border: none;
  }
}

.navbar-grid {
  margin-bottom: 0;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .navbar-inner {
    border-bottom: 0 none;
    border-radius: 4px 4px 0 0;
    // background-color: #F9F9F9;
    // background-repeat: repeat-x;
    border-bottom: none;
  }
  .divider-vertical.skinny {
    margin: 0 2px;
  }
}

.icon-selected-pointer {
  height: 16px;
  line-height: 14px;
  margin-top: 14px;

  // &:before {
  //   content: url(../img/selectPointer.gif);
  // }
}

.navbar-inner.with-selected-pointer {
  padding-left: 4px;
}
.navbar-inner.with-grid-options {
  padding-right: 0;
}
.popover.row-action-popover {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  ul.dropdown-menu {
    display: block;
    position: relative;
    min-width: 100px;
  }
}
.popover.row-action-popover.right {
  .arrow {
    left: -10px;
    z-index: 1010;
    overflow: visible;
  }
}
.popover {
  .arrow:after {
    top: -10px;
    box-shadow: none;
  }
}

// styles to minimize grid rows
.ui-jqgrid tr.ui-row-ltr.min td {
  padding: 0px 8px;
}

/* override jqgrid footer styles */
.ui-jqgrid .ui-jqgrid-sdiv {
  background: none repeat scroll 0 0 #f9f9f9;
}

.ui-jqgrid-sdiv .ui-widget-content {
  background: inherit;
}

.ui-jqgrid-btable .ui-widget-content.correction-highlight {
  background-color: #ffff00 !important;
  background-image: none !important;
}

//FIXME can't get the mini-css-extract plugin working
// gives Cannot read property 'getAssets' of undefined, so coding path here
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(/assets/icons/gridz/ui-icons_222222_256x240.png)
}

.ui-state-default .ui-icon {
  background-image: url(/assets/icons/gridz/ui-icons_888888_256x240.png);
}
.ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(/assets/icons/gridz/ui-icons_222222_256x240.png);
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px
}

.ui-state-disabled {
  cursor: default !important
}


.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: 0.35;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35)
}

//remove background for old sprites
.ui-jqgrid .ui-pg-button .ui-icon {
  background-image: none;
}

.ui-jqgrid .ui-pg-table .ui-pg-button {

  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: 1rem;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none;

  .ui-icon-seek-next::before {
    content: "\f0142";
  }
  .ui-icon-seek-end::before {
    content: "\f0601";
  }
  .ui-icon-seek-prev::before  {
    content: "\f0141";
  }
  .ui-icon-seek-first::before  {
    content: "\f0600";
  }
}

.ui-icon-seek-first, .ui-icon-seek-start {
  background-position: -80px -160px
}

.ui-search-toolbar .ui-th-column .ui-search-table .ui-search-input input{
  height: 20px;
  padding-left: 3px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.manage-columns-modal ul[dnd-list] {
  min-height: 32px;
  padding-left: 0;
}

.manage-columns-modal ul[dnd-list] .dndDraggingSource {
  display: none;
}

.manage-columns-modal ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 32px;
}

.manage-columns-modal ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  // border-top-right-radius: 4px;
  // border-top-left-radius: 4px;
  display: block;
  padding: 5px 15px;
  margin-bottom: -1px;
}

.manage-columns-modal .panel-title::first-letter {
  text-transform: uppercase;
}

.popover-content {
  padding: 9px 1px;
}
