<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-title">Card Title</div>
      <div class="card-subtitle">Subtitle text</div>
      <div class="card-content">
        Greyhound divisively hello coldly wonderfully marginally far upon excluding.
      </div>
    </div>
  </div>
  <div class="column">
    <card-simple></card-simple>
  </div>
  <div class="column">
    <card-title card-class="foo" title="Title"></card-title>
  </div>
  <div class="column">
    <card-header title="Header Title"></card-header>
  </div>
</div>

<div class="columns">
  <div class="column">
    <card-title card-class="is-outlined elevation-0" title="Outlined and elevation-0"></card-title>
  </div>
  <div class="column">
    <div class="card notification is-outlined">
      <button class="delete"></button>
      Notification <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, <a>felis venenatis</a> efficitur.
    </div>
    <div class="notification is-primary">
      <button class="delete"></button>
      Notification <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, <a>felis venenatis</a> efficitur.
    </div>
  </div>
  <div class="column">
    <card-header title="Header Title"></card-header>
  </div>
</div>
