<!-- start: MAIN NAVIGATION MENU -->
<script type="text/ng-template" id="menuItemTree">
  <a ui-sref="{{subItem.children ? '-' : subItem.sref}}">
    <span class="title" > {{ subItem.title }} </span>
    <i class="icon-arrow" ng-if="subItem.children"></i>
  </a>
  <ul class="sub-menu" ng-if="subItem.children">
      <li ng-repeat="subItem in subItem.children" ng-include="'menuItemTree'">
      </li>
  </ul>
</script>

<div class="navbar-title">
  <span >Main Navigation</span>
</div>
<ul class="main-navigation-menu">
  <li ng-repeat="mitem in sideMenuItems" class="{{$state.includes(mitem.sref) ? 'active open' : ''}}">
    <a ui-sref="{{mitem.children ? '-' : mitem.sref}}" href="{{mitem.children ? 'javascript:void(0)' : ''}}">
      <div class="item-content">
        <div class="item-media">
          <i class="{{mitem.icon}}"></i>
        </div>
        <div class="item-inner">
          <span class="title"> {{ mitem.title }} </span>
          <i class="icon-arrow" ng-if="mitem.children"></i>
        </div>
      </div>
    </a>
    <ul class="sub-menu" ng-if="mitem.children">
      <li ng-repeat="subItem in mitem.children" ng-include="'menuItemTree'" ui-sref-active="active"></li>
    </ul>
  </li>
</ul>

