<div class="field {{$ctrl.fieldClass}}">
  <ag-label class="{{$ctrl.labelClass}}" ng-if="$ctrl.label" label="{{$ctrl.label}}"
      ng-required="{{$ctrl.isRequired}}"></ag-label>
  <div class="control">
    <input
      class="input"
      ng-class="$ctrl.inputClass"
			type="{{$ctrl.type}}"
			placeholder="{{::$ctrl.placeholder}}"
			autocomplete="off"
			ng-model-options="{allowInvalid: true, debounce: 250}"
			name="{{::$ctrl.name}}"
			id="{{::$ctrl.id}}"
			ng-model="$ctrl.value"
			ng-change="$ctrl.onChange()"
			ng-required="{{::$ctrl.isRequired}}"
			ng-minlength="::$ctrl.minimumLength"
			ng-maxlength="::$ctrl.maximumLength"
			maxlength="{{::$ctrl.maximumLength}}"
			>
  </div>
  <p class="help" ng-if="$ctrl.hint">{{::$ctrl.hint}}</p>
  <ag-validation-inline for="{{::$ctrl.id}}" ></ag-validation-inline>
</div>
