<div class="manage-columns-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h3>Manage Columns</h3>
  </div>

  <div class="modal-body">
    <div ng-repeat="(listName, list) in $ctrl.gridColumns" class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{listName}} columns</h3>
        </div>
        <div class="panel-body simpleDemo">

          <ul dnd-list="list">
            <li ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.label}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="btn btn-default btn-primary" ng-click="$ctrl.save()"><i class="fas fa-check fa-inverse"></i> Save</div>
    <ag-cancel-button ng-click="$ctrl.cancel()"></ag-cancel-button>
  </div>
</div>
