<div class="form-group" >
  <label class="control-label"
      ng-class="{required:cmpCtrl.isRequired}"
      for="{{cmpCtrl.id}}">{{cmpCtrl.label}}</label>
  <div class="controls">
    <input
      class="form-control"
      name="{{::cmpCtrl.name}}"
			id="{{::cmpCtrl.id}}"
      placeholder="{{::cmpCtrl.placeholder}}"
			autocomplete="off"
      ng-model="cmpCtrl.value"
      ng-change="cmpCtrl.onChange()"
      ng-required="{{cmpCtrl.isRequired}}"
      ui-select2="cmpCtrl.opts">
    <ag-validation-inline for="{{cmpCtrl.id}}" ></ag-validation-inline>
  </div>
</div>
