<div class="toolbar is-light has-shadow is-dense" role="navigation" aria-label="main navigation">
  <div class="container">
    <div id="toolbar-menu" class="toolbar-menu is-static">
      <div class="toolbar-start">
        <div class="menu-arrow"><i class="icon-selected-pointer"></i></div>
        <ag-button icon="fa-edit"></ag-button>
        <ag-button icon="fa-table"></ag-button>
        <div class="divider-vertical"></div>
        <ag-button icon="fa-plus"></ag-button>
      </div>

      <div class="toolbar-end">
        <div class="toolbar-item p-0">
          <input type="text" class="input is-rounded is-search" placeholder="quick search">
        </div>
        <ag-button icon="fa-search"></ag-button>
        <ag-button icon="mdi-dots-vertical"></ag-button>
      </div>
    </div>
  </div>
</div>

<div class="toolbar is-light is-raised-2 is-dense mt-4" role="navigation" aria-label="main navigation">
  <div class="container">
    <div id="toolbar-menu" class="toolbar-menu is-static">
      <div class="toolbar-start">
        <ag-button icon="fa-bars"></ag-button>
      </div>
      <div class="toolbar-end">
        <div class="toolbar-item">
          <div class="buttons has-addons">
            <ag-button ng-model="quickPick.states" uib-btn-radio="'all'">All</ag-button>
            <ag-button ng-model="quickPick.states" uib-btn-radio="'open'">Open</ag-button>
            <ag-button ng-model="quickPick.states" uib-btn-radio="'closed'">Closed</ag-button>
          </div>
        </div>
        <div class="toolbar-item p-0">
          <input type="text" class="input is-rounded is-search" placeholder="quick search">
        </div>
        <ag-button icon="fa-search"></ag-button>
        <ag-button icon="mdi-dots-vertical"></ag-button>
      </div>
    </div>
  </div>
</div>
