@use "../tools/cssVars";

$danger-border: cssVars.alpha($danger, 0.40);

.ng-submitted .field.ng-invalid .tag-input.input {
  border-color: $danger-border;
}

.tag-input {
  //override inputs for div
  &.input {
    padding-top: 4px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: $input-height;
    height: auto; //set to auto so it can wrap and grow for lots of tags
    margin-bottom: 0;

    &:focus-within {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }
  }

  // inner input, overrides
  input.input {
    //float: left;
    height: $input-height * 0.75;
    padding: 0;
    padding-bottom: 4px;
    border: 0 !important;
    box-shadow: none !important;
    font-size: $text-sm;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    &:focus {
      box-shadow: none !important;
    }
  }
}
