<fieldset>
  <legend>Select2 Using Selects</legend>
  <div ag-field-group >
    <label class="control-label">Select2 Select</label>
    <div class="controls">
      <select class="form-control" name="selSelect" ng-model="$ctrl.vm.selSelect" ui-select2>
        <option value="foo1">Foo</option>
        <option value="bar2">Bar</option>
        <option value="baz3">Baz</option>
      </select>
      <span class="help-block">no options, no empty option</span>
    </div>
  </div>
  <div ag-field-group >
    <label class="control-label">Select2 Select</label>
    <div class="controls">
      <select class="form-control" name="selSelect" ng-model="$ctrl.vm.selSelect" ui-select2>
        <option value="foo1">Foo</option>
        <option value="bar2">Bar</option>
        <option value="baz3">Baz</option>
      </select>
      <span class="help-block">no options, no empty option</span>
    </div>
  </div>
  <div ag-field-group >
    <label class="control-label">Select2 Select</label>
    <div class="controls">
      <select class="form-control" name="selSelect" ng-model="$ctrl.vm.selSelect"
          ui-select2="{allowClear: true, placeholder: 'select a foo'}">
        <option></option>
        <option value="foo1">Foo</option>
        <option value="bar2">Bar</option>
        <option value="baz3">Baz</option>
      </select>
      <span class="help-block">with {allowClear: true, placeholder: 'select a foo'}</span>
    </div>
  </div>
  <div ag-field-group >
    <label class="control-label">Select2 Select</label>
    <div class="controls">
      <select class="form-control" id="sel2" name="selSelectNoOpts" ng-model="$ctrl.vm.selSelectNoOpts" ui-select2 >
        <option value="">-None-</option>
        <option value="foo1">Foo</option>
        <option value="bar2">Bar</option>
        <option value="baz3">Baz</option>
      </select>
      <span class="help-block">no options, added none option element</span>
    </div>
  </div>
  <div ag-field-group >
    <label class="control-label">Select2 Select Multi</label>
    <div class="controls">
      <select name="selSelectMutiple" multiple="true" ng-model="$ctrl.vm.selSelectMutiple"
          ui-select2="{closeOnSelect: false}"
          class="form-control">
        <option value="foo1">Foo</option>
        <option value="bar2">Bar</option>
        <option value="baz3">Baz</option>
      </select>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Select2 Inputs</legend>
  <div ag-field-group >
    <label class="control-label">Select2 Input</label>
    <div class="controls">
      <input name="selInput" ng-model="$ctrl.vm.selInput"
          ui-select2="$ctrl.selInputOpts"
          class="form-control">
      </input>
    </div>
  </div>
  <div ag-field-group >
    <label class="control-label">Select2 Input Multi</label>
    <div class="controls">
      <input name="selInputMulti" multiple ng-model="$ctrl.vm.selInputMulti"
          ui-select2="$ctrl.selInputMultiOpts"
          class="form-control">
      </input>
    </div>
  </div>
</fieldset>
<div class="form-group">
  <div class="controls">
    <button ng-click="$ctrl.addMulti()" class="btn btn-primary">add</button>
  </div>
</div>
<h3>Model</h3>
<pre ng-cloak>vm: {{$ctrl.vm | json}}</pre>
