/* --------------------------------------------
/* Sidenav slide in side menu style
/* -------------------------------------------- */

$sidenav-font-size: $text-base !default; // 16
$sidenav-font-weight: $weight-semibold !default;
$sidenav-children-font-size: $text-sm !default; // 14

$sidenav-nav-width: 256px !default;
$sidenav-nav-closed-width: $icon-dimensions + $item-spacing + $item-spacing !default; // 24px + 16px + 16px = 56
//point that sidenav becomes fixed and hidden on close
$sidenav-nav-breakpoint: $desktop !default; //desktop is about the 1024 mark

$sidenav-header-height: 4rem !default; // 64
$sidenav-header-logo-height: $bar-height - 2rem !default; // 64 - 16 - 16 = 32
// for mobile and tablet
$sidenav-header-logo-tablet-height: $bar-breakpoint-height - 2rem !default; // 24
$sidenav-background-color-main: darken($sidenav-background-color,10%);

// body {
//   background-color: $primary-dark;
// }
.sidenav-body-overlay {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $sidenav-overlay-background-color;
}

.sidenav {
  font-size: $sidenav-font-size;
  background: $sidenav-background-color-main;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  //transform: translateX(-281px);
  transition: all 0.3s;
  z-index: 1050;
  overflow-y: auto;

  &.is-active {
    transform: translateX(0);
    width: $sidenav-nav-width;
  }

  &:not(.is-active) {
    width: $sidenav-nav-closed-width;

    .sidenav-header {
      .logo, .icon {
        display: none;
      }
      .hamburger {
        margin-right: 0;
      }
    }
    // hide text and drop down icon indicator
    .sidenav-menu .list-item.has-children > a {
      &:after {
        // make it small
        right: 9px !important;
        width: .4em;
        height: .4em;
        border-radius: 1px;
        border-width: 1px;
        margin-top: -6px;
      }
    }
  }

  // --- keep similiar to toolbar, see that scss file for more detailed specs ---
  // By default, the toolbar is 64px high on desktop and 56px high on mobile.
  // There are a number of helper components available to use with the toolbar.
  .sidenav-header {
    height: $bar-height;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $sidenav-background-color;
    padding: 0 $item-spacing;

    .hamburger {
      margin-right: $item-spacing * 2;
    }

    .logo {
      height: $sidenav-header-logo-height;
    }

    .icon.tack {
      background-color: transparent;
      border: none;
      color: $sidenav-font-color;
      position: absolute;
      right: 5px;
      top: 5px;
      transform: rotate(45deg);

      i.material-icons {
        font-size: 16px;
      }
      &.is-fixed {
        transform: rotate(0);
      }
    }

    a {
      width: $icon-dimensions;
      height: $icon-dimensions;
    }
  }
}

// more or less a copy of list-items so we can change/invert colors
.sidenav .sidenav-nav.sidenav-list {
  .list-item-set {
    max-width: 400px;

    .list-item {
      .item-content {
        color: $sidenav-font-color;
        font-weight: $sidenav-font-weight;

        &:hover {
          color: $sidenav-nav-hover-color;
        }
      }

      //active list-item
      &.is-active {
        > .item-content {
          .item-title, .icon {
            color: $sidenav-nav-active-color;
          }
        }
      }

      //list-item with children
      &.has-children {
        .list-item-set {
          .list-item {
            .item-content {
              font-size: $sidenav-children-font-size;
              color: $sidenav-font-color;
              background-color: darken($sidenav-background-color, 14%);
              border-bottom: 1px solid darken($sidenav-background-color, 12%);
              &:hover {
                color: $sidenav-nav-hover-color;
              }
            }

            &.is-active > .item-content {
              background-color: darken($sidenav-background-color, 14%);
            }
          }
        }

        //submenu level2
        .submenu.list-item-set{
          .list-item {
            .item-content {
              //padding-left: $list-has-children-indent + 1rem;
              &:after {
                //top: 1.5rem;
                left: 3.0rem;
                right: 0;
              }
            }
            //submenu level3+
            .submenu.list-item-set {
              .list-item {
                .item-content {
                  background-color: darken($sidenav-background-color, 10%);
                  border-bottom-color: darken($sidenav-background-color, 8%);
                  padding-left: $list-has-children-indent + 16px;
                  //border-left: 1px solid lighten($sidenav-nav-active-color, 10%);
                }
              }
            }
          }
        }

        // dropdown arrow
        > .item-content::after {
          border-color: $sidenav-font-color;
        }
        // ".has-children.is-active"
        &.is-active  {
          // dropdown arrow active on first child item-content
          > .item-content::after {
            border-color: $sidenav-nav-active-color;
          }
          // set a border left on all children
          .list-item .item-content {
            border-left: 1px solid $sidenav-nav-active-color;
          }
        }
      }
    } // .list-item
  } // .list-item-set

} // .sidenav-nav.list

// FIXED
.app-sidenav-fixed {
  // dont show overlay
  .sidenav-body-overlay {
    display: none;
  }
}

// $sidenav-nav-breakpoint defaults to $desktop which is about 1024 (tablet size)
@include until($sidenav-nav-breakpoint) {
  .sidenav {
    &:not(.is-active) {
      width: 0;
    }
    .sidenav-header {
      height: $bar-breakpoint-height;
    }
  }
}
