
<form is-horizontal name="datepickerFormPredefined" ag-form class="form-horizontal-fixed mt-4" novalidate>
  <ag-datepicker ng-model="$ctrl.vm.jsDate" ></ag-datepicker>
  <ag-datepicker ng-model="$ctrl.vm.isoDate"></ag-datepicker>
  <ag-datepicker ng-model="$ctrl.vm.localDateTime" is-expanded></ag-datepicker>

  <div class="field has-addons date">
    <div class="control">
      <input type="text" name="range-start" class="input datepicker-input">
    </div>
    <div class="control">
      <a class="button is-static is-addon">to</a>
    </div>
    <div class="control">
      <input type="text" name="range-end" class="input datepicker-input">
    </div>
  </div>

  <div class="field is-grouped is-grouped-centered mt-4">
    <div class="control">
      <ag-button type="submit" color="primary">Submit</ag-button>
    </div>
    <div class="control">
      <ag-button type="reset" ng-click="$ctrl.vm = {}">Reset</ag-button>
    </div>
    <div class="control">
      <ag-button ng-click="$ctrl.changeModelData()">Change Model Data</ag-button>
    </div>
  </div>
</form>

<pre ng-cloak class="mt-4">model: {{$ctrl.vm | json}}</pre>

<form name="datepickerForm" ag-form novalidate>
  <ag-datepicker date-type='date' ng-model="$ctrl.vm.date"></ag-datepicker>
  <ag-datepicker ng-model="$ctrl.vm.localDate"></ag-datepicker>
  <ag-datepicker date-type="localDateTime" ng-model="$ctrl.vm.localDateTime"></ag-datepicker>
</form>

