/*! _datatable.scss | Huro | Css ninja 2020-2021 */

/*
    1. Datatable Toolbar
    2. Datatable Toolbar Dark mode
    3. Datatable pagination
    4. Datatable pagination Dark mode
    5. Datatable sorting
    6. Ajax Loading bar
    7. Datatable
*/

/* ==========================================================================
1. Datatable Toolbar
========================================================================== */

.datatable-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &.is-webapp {
        padding-top: 30px;
    }

    &.is-reversed {
        flex-direction: row-reverse;
    }

    .field {
        margin-bottom: 0;

        .control {
            .button {
                color: $light-text;

                &:hover {
                    background: $primary;
                    border-color: $primary;
                    color: $smoke-white;
                }
            }
        }
    }

    .buttons {
        margin-left: auto;
        margin-bottom: 0;

        .h-button {
            margin-bottom: 0;
        }
    }
}

/* ==========================================================================
2. Datatable Toolbar Dark mode
========================================================================== */

body {
    &.is-dark {
        .datatable-toolbar {
            .field {
                .control {
                    .button {
                        background: $dark-sidebar !important;
                        color: $light-text;

                        &:hover {
                            background: $accent !important;
                            border-color: $accent !important;
                            color: $smoke-white !important;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Datatable pagination
========================================================================== */

.pagination {
    text-align: center;

    li {
        list-style-type: none;
        float: left;

        a {
            padding: 0 5px;
            cursor: pointer;
        }

        &.active {
            background: $primary !important;

            a {
                cursor: default;
                color: $smoke-white !important;
            }
        }
    }
}

.pagination {
    &.datatable-pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 10px;

        .datatable-info {
            font-family: $font;
            color: $light-text;
        }

        ul {
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px !important;
                height: 36px !important;
                border-radius: 50%;
                margin: 4px;
                background: $fade-grey;
                transition: all .3s;

                &.is-selected {
                    background: $primary;

                    a {
                        color: $white;
                    }
                }

                &:hover {
                    background: $white;
                    border-color: darken($fade-grey, 3%);
                    box-shadow: $light-box-shadow;
                }

                a {
                    font-family: $font;
                    font-size: .9rem;
                    font-weight: 500;
                    color: $dark-text;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
4. Datatable pagination Dark mode
========================================================================== */

body {
    &.is-dark {
        .pagination {
            &.datatable-pagination {
                ul {
                    li {
                        background: $dark-sidebar;

                        &.is-selected {
                            background: $accent;

                            a {
                                color: $white;
                            }
                        }

                        &.active {
                            background: $accent !important;

                            a {
                                color: $white;
                            }
                        }

                        &:hover {
                            border-color: lighten($dark-sidebar, 4%) !important;
                        }

                        a {
                            color: $smoke-white;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
5. Datatable sorting
========================================================================== */

.sorting {
    cursor: pointer;
    background-image: url("../img/icons/datatable/sort_both.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.sorting-desc {
    background-image: url("../img/icons/datatable/sort_desc.png");
}

.sorting-asc {
    background-image: url("../img/icons/datatable/sort_asc.png");
}

/* ==========================================================================
6. Ajax Loading bar
========================================================================== */

.datatable-load-bar {
    width: 100%;
    margin: 8px 0;
}

.datatable-load-bar {
    border: 1px solid gray;
    height: 10px;
}

.datatable-load-bar .bar {
    height: 10px;
    background-color: #AEF;
}

.datatable-filter-line {
    background: #fcfcfc;
}

/* ==========================================================================
7. Datatable
========================================================================== */

.table-wrapper {
    overflow-x: auto;
    overflow-y: visible;
    border: 1px solid darken($fade-grey, 3%);
    border-radius: 8px;
    min-height: 500px;
    background: $white;

    &.has-margin-bottom {
        margin-bottom: 40px;
    }

    .section-placeholder {
        margin-top: -30px;
    }

    .table {
        display: table;
        width: 100%;

        &.is-datatable {
            overflow: visible;

            .sorting {
                background-position: 90% 48%;
            }

            tr {
                &.is-selected {
                    background: lighten($fade-grey, 4%);

                    td {
                        border-color: darken($fade-grey, 4%);
                    }
                }

                &.datatable-filter-line {
                    td {
                        border-bottom: 1px solid $fade-grey;
                    }
                }
            }

            th, td {
                vertical-align: middle;
            }

            th {
                padding: 16px 20px;
                font-family: $font-alt;
                font-size: .8rem;
                color: $dark-text;
                text-transform: uppercase;
                border: 1px solid $fade-grey;

                .checkbox {
                    padding: 0;
                }
            }

            td {
                padding: 12px 20px;

                &.datatable-filter-cell {
                    .control {
                        .input {
                            padding-left: 40px;
                        }
                    }
                }

                .checkbox {
                    padding: 0;
                }
            }

            input {
                padding: 6px 8px;
                border-radius: 4px;
                border: 1px solid $placeholder;
                box-shadow: none;

                &:focus {
                    border-color: darken($fade-grey, 4%);
                    box-shadow: $light-box-shadow;
                }
            }

            .datatable-avatar {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }

            .product-photo {
                width: 80px;
                height: 80px;
                object-fit: contain;
            }

            .file-icon {
                width: 46px;
                height: 46px;
                object-fit: contain;
            }

            .status {
                display: flex;
                align-items: center;

                &.is-available {
                    i {
                        color: $success;
                    }
                }

                &.is-busy {
                    i {
                        color: $danger;
                    }
                }

                &.is-offline {
                    i {
                        color: $light-text;
                    }
                }

                i {
                    margin-right: 8px;
                    font-size: 8px;
                }

                span {
                    font-family: $font;
                    font-size: .9rem;
                    color: $light-text;
                }
            }

            .flex-media {
                display: flex;
                align-items: center;

                .meta {
                    margin-left: 10px;
                    line-height: 1.3;

                    span {
                        display: block;
                        font-size: .8rem;
                        color: $light-text;
                        font-family: $font;

                        &:first-child {
                            font-family: $font-alt;
                            color: $dark-text;
                        }
                    }
                }
            }

            .row-action {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

/* ==========================================================================
8. Datatable Dark mode
========================================================================== */

body {
    &.is-dark {
        .table-wrapper {
            border-color: lighten($dark-sidebar, 12%);
            background: lighten($dark-sidebar, 6%);

            .table {
                &.is-datatable {
                    tr {

                        &:first-child {
                            &:hover {
                                background: lighten($dark-sidebar, 6%) !important;
                            }
                        }

                        &.is-selected {
                            background: lighten($dark-sidebar, 5%) !important;

                            td {
                                border-color: lighten($dark-sidebar, 8%) !important;
                            }
                        }

                        &.datatable-filter-line {
                            background: lighten($dark-sidebar, 3%);

                            td {
                                border-color: lighten($dark-sidebar, 12%);

                                .control {
                                    .input {
                                        border-color: lighten($dark-sidebar, 12%);
                                    }
                                }
                            }
                        }
                    }

                    th {
                        border-color: lighten($dark-sidebar, 12%);
                        color: $dark-dark-text;
                    }

                    td {
                        .h-button {
                            &:hover {
                                border-color: $accent !important;
                                color: $accent !important;
                            }
                        }
                    }

                    .flex-media {
                        .meta {
                            span {
                                &:first-child {
                                    color: $dark-dark-text;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
