/*! _datepicker.scss | Huro | Css ninja 2020-2021 */

/*
    1. Pickaday Datepicker
    2. Pickaday Datepicker Dark mode
    3. Bulma Datetimepickers
    4. Bulma Datetimepickers Dark mode
    5. Clock Timepicker
    6. Clock Timepicker Dark mode
*/

/* ==========================================================================
1. Pickaday Datepicker
========================================================================== */

.pika-single {
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid darken($fade-grey, 3%);
    transition: all .3s;

    &.is-bound {
        box-shadow: $light-box-shadow;
    }

    .pika-lendar {
        padding: 16px;

        .pika-title {
            font-family: $font;
            color: $dark-text;

            .pika-prev, .pika-next {
                height: 30px;
                width: 30px;
                font-size: 0;
            }
        }

        .pika-table {
            thead {
                th {
                    font-weight: 400;
                    font-family: $font;
                    color: $dark-text;
                }
            }

            tbody {
                td {
                    &.is-selected {
                        .pika-day, .pika-button {
                            box-shadow: none;
                            background: $primary;
                            box-shadow: $primary-box-shadow;
                            color: $white;
                        }
                    }

                    &:hover {
                        .pika-day, .pika-button {
                            box-shadow: none;
                            background: $fade-grey;
                            color: $dark-text;
                        }
                    }

                    .pika-day, .pika-button {
                        text-align: center;
                        background: $white;
                        border-radius: 50%;
                        width: 26px;
                        height: 26px;
                        color: $light-text;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
2. Pickaday Datepicker Dark mode
========================================================================== */

body {
    &.is-dark {
        .pika-single {
            background: $dark-sidebar !important;
            border-color: lighten($dark-sidebar, 8%) !important;

            .pika-title {
                color: $dark-dark-text !important;

                .pika-label {
                    background: $dark-sidebar !important;
                    color: $dark-dark-text !important;
                }
            }

            .pika-table {
                thead {
                    th {
                        color: $dark-dark-text;
                    }
                }

                tbody {
                    td {
                        &.is-selected {
                            .pika-day, .pika-button {
                                background: $accent;
                                box-shadow: $accent-box-shadow;
                            }
                        }

                        &:hover {
                            .pika-day, .pika-button {
                                background: lighten($dark-sidebar, 8%) !important;
                                color: $white;
                            }
                        }

                        .pika-day, .pika-button {
                            background: $dark-sidebar;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Bulma Datetimepickers
========================================================================== */

.is-bulma-timepicker {
    .datetimepicker-dummy:before {
        content: '\f017' !important;
    }
}

.datetimepicker-dummy {
    height: 38px;

    &:before {
        content: '\f133';
        mask: none !important;
        background-color: transparent;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        color: $light-text;
    }

    .datetimepicker-dummy-wrapper {
        border-color: #e3e3e3;
        border-radius: 4px;
    }

    .datetimepicker-clear-button {
        height: 28px;
        margin: .3rem .2rem 0 0 !important;
        color: $light-text !important;
    }
}

.datetimepicker-wrapper {
    .is-datetimepicker-default {
        .datetimepicker-container {
            .datepicker {
                .datepicker-body {
                    .datepicker-years, .datepicker-months, .datepicker-dates {
                        &::-webkit-scrollbar {
                            width: 6px !important;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px !important;
                            background: rgba(0, 0, 0, 0.2) !important;
                        }
                    }
                }
            }
        }
    }

    .datetimepicker-footer {
        padding: 20px 10px !important;
    }
}

/* ==========================================================================
4. Bulma Datetimepickers Dark mode
========================================================================== */

body {
    &.is-dark {
        .datetimepicker-dummy {
            .datetimepicker-dummy-wrapper {
                background: lighten($dark-sidebar, 2%);
                border-color: lighten($dark-sidebar, 6%);

                .datetimepicker-dummy-input {
                    color: $dark-dark-text;
                }
            }
        }

        .datetimepicker-container {
            background: darken($dark-sidebar, 2%);

            &:after {
                border-bottom-color: darken($dark-sidebar, 2%) !important;
            }

            .datetimepicker-header {
                .datetimepicker-selection-details {
                    .datetimepicker-selection-start {
                        .datetimepicker-selection-wrapper {
                            .datetimepicker-selection-day {
                                color: $accent;
                            }

                            .datetimepicker-selection-date {
                                .datetimepicker-selection-month {
                                    color: $dark-dark-text;
                                }

                                .datetimepicker-selection-weekday {
                                    color: $accent;
                                }
                            }
                        }

                        .datetimepicker-selection-time {
                            .datetimepicker-selection-hour {
                                color: $dark-dark-text;
                            }
                        }
                    }
                }
            }

            .datepicker {
                .datepicker-nav {
                    background: $accent !important;

                    .button {
                        background: $accent !important;
                        border-color: $accent !important;
                        color: $smoke-white !important;
                    }
                }

                .datepicker-body {
                    .datepicker-years {
                        .datepicker-year {
                            &:hover {
                                border-color: lighten($dark-sidebar, 4%) !important;
                                background: lighten($dark-sidebar, 4%) !important;
                            }

                            &.is-active {
                                border-color: $accent !important;
                                background: $accent !important;

                                .item {
                                    color: $white !important;
                                }
                            }

                            .item {
                                color: $dark-dark-text;
                            }
                        }
                    }

                    .datepicker-months {
                        .datepicker-month {
                            color: $dark-dark-text;

                            &:hover {
                                border-color: lighten($dark-sidebar, 4%) !important;
                                background: lighten($dark-sidebar, 4%) !important;
                            }

                            &.is-active {
                                border-color: $accent !important;
                                background: $accent !important;
                                color: $white !important;
                            }
                        }
                    }

                    .datepicker-dates {
                        .datepicker-days {
                            .datepicker-date {
                                &:not(.is-current-month) {
                                    border-color: lighten($dark-sidebar, 8%) !important;
                                    background: lighten($dark-sidebar, 8%) !important;

                                    .date-item {
                                        color: $light-text !important;
                                    }
                                }

                                .date-item {
                                    color: $dark-dark-text;

                                    &:hover {
                                        border-color: $accent !important;
                                        color: $accent !important;
                                        background: lighten($dark-sidebar, 8%) !important;
                                    }

                                    &.is-today {
                                        border-color: $accent !important;
                                        color: $accent !important;
                                    }

                                    &.is-active {
                                        border-color: $accent !important;
                                        background: $accent !important;
                                        color: $white !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .timepicker {
                .timepicker-start, .timepicker-end {
                    .timepicker-hours, .timepicker-minutes {
                        .timepicker-input {
                            .timepicker-input-number {
                                color: $dark-dark-text;
                            }
                        }

                        .timepicker-next, .timepicker-previous {
                            &:hover {
                                border-color: lighten($dark-sidebar, 4%) !important;
                                background: lighten($dark-sidebar, 4%) !important;
                            }
                        }
                    }

                    .timepicker-time-divider {
                        color: $accent !important;
                    }
                }

                .timepicker-end {
                    &:before {
                        background: lighten($dark-sidebar, 12%) !important;
                    }
                }
            }
        }

        .datetimepicker-footer {
            background: darken($dark-sidebar, 2%);
        }
    }
}


/* ==========================================================================
5. Clock Timepicker
========================================================================== */

.is-clock-timepicker {
    position: relative;

    .control {
        position: relative;

        .chevron {
            position: absolute;
            top: 3px;
            right: 2px;
            height: 34px;
            width: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $white;
            color: $light-text;
            pointer-events: none;

            svg {
                height: 18px;
                width: 18px;
            }
        }
    }

    input {
        --size: 1.2rem;
        --margin: calc(var(--size) * 0.5);
        --marginLeft: calc(var(--size) + calc(var(--size) * 0.5));
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='20' r='18.5' fill='none' stroke='grey' stroke-width='3' /><path d='M20,4 20,8 M4,20 8,20 M36,20 32,20 M20,36 20,32' stroke='grey' stroke-width='1' /><circle cx='20' cy='20' r='2' fill='grey' stroke='grey' stroke-width='2' /></svg>"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M18.5,24.5 19.5,4 20.5,4 21.5,24.5 Z' fill='grey' style='transform:rotate(120deg); transform-origin: 50% 50%;' /></svg>"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M18.5,24.5 19.5,8.5 20.5,8.5 21.5,24.5 Z' fill='grey' style='transform:rotate(20deg); transform-origin: 50% 50%;' /></svg>");
        background-position: var(--margin) 52%;
        background-repeat: no-repeat;
        background-size: var(--size) var(--size);
        padding-bottom: 4px;
        padding-left: 34px;
        line-height: 2;
        color: $light-text;
        font-family: $font;
        transition: backgroundImage 0.25s;
    }
}


/* ==========================================================================
5. Clock Timepicker Dark mode
========================================================================== */

body {
    &.is-dark {
        .is-clock-timepicker {
            .control {
                .chevron {
                    background-color: lighten($dark-sidebar, 2%);
                }
            }
        }
    }
}