/*! _placeholders.scss | Huro | Css ninja 2020-2021 */

/*
    1. Section Placeholder
    2. Page Placeholder
*/

/* ==========================================================================
1 Section Placeholder
========================================================================== */

.section-placeholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .placeholder-content {
        text-align: center;

        > img {
            display: block;
            max-width: 280px;
            margin: 0 auto 10px auto;
        }

        .h-avatar {
            margin: 0 auto 10px auto;
        }

        h3 {
            font-family: $font-alt;
            font-size: 1.1rem;
            font-weight: 600;
            color: $dark-text;
        }

        p {
            font-family: $font;
            font-size: 1rem;
            color: $light-text;
            max-width: 280px;
            margin: 0 auto 12px auto;
        }

        .button {
            min-width: 140px;
        }
    }
}


/* ==========================================================================
2. Page placeholder
========================================================================== */

.page-placeholder {
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    &.is-wider {
        .placeholder-content {
            > p {
                font-size: 1rem;
                max-width: 420px;
            }
        }
    }

    .placeholder-content {
        text-align: center;

        img {
            display: block;
            max-width: 340px;
            margin: 0 auto 12px auto;

            &.is-larger {
                max-width: 440px;
            }
        }

        h3 {
            font-size: 1.3rem;
            font-weight: 600;
            font-family: $font-alt;
            color: $dark-text;
        }

        p {
            font-size: 1.1rem;
            max-width: 440px;
            margin: 0 auto 12px auto;
            color: $light-text;

            &.is-larger {
                max-width: 620px;
            }
        }

        .btn {
            margin-bottom: 8px;
        }
    }
}

body {
    &.is-dark {
        .page-placeholder {
            .placeholder-content {
                h3 {
                    color: $dark-dark-text;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .page-placeholder {
        .placeholder-content {
            img {
                max-width: 280px;
            }


        }
    }
}