/*! _popovers.scss | Huro | Css ninja 2020-2021 */

/*
    1. Web UI Popover
    2. Web UI Popover Dark mode
    3. User profile popovers
    4. User profile popovers Dark mode
    5. Simple popover
*/

/* ==========================================================================
1. Web UI Popover
========================================================================== */

.webui-popover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 10px 4px !important;
    background: $white !important;
    color: $dark-text !important;
    margin-top: -20px !important;
    border: 1px solid $fade-grey;

    &.top > .webui-arrow {
        border-top-color: $white !important;
    }

    &.bottom-right > .webui-arrow {
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
    }

    &.top-right > .webui-arrow {
        border-right-color: transparent !important;

        &:after {
            border-top-color: $white !important;
        }
    }

    &.top-left > .webui-arrow {
        border-top-color: $white !important;
    }

    &.left > .webui-arrow {
        border-left-color: transparent !important;
    }

    .webui-arrow {
        border-top-color: transparent !important;
        border-right-color: transparent !important;

        &:after {
            border-top-color: transparent !important;
        }
    }

    .webui-popover-title {
        background-color: $white !important;
        border-bottom: none !important;
        font-weight: 500;
    }

    .webui-popover-content {
        font-size: .75rem !important;

        .popover-flex-block {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 0;

            .staff-avatar {
                height: 38px;
                width: 38px;
                border-radius: 50%;
            }

            .content-block {
                margin-left: 10px;

                label, span {
                    display: block;
                }

                label {
                    color: lighten($dark-text, 35%);
                    text-transform: uppercase;
                    font-size: 70%;
                }
            }

            .fa.fa-star, .fa.fa-star-half {
                color: #FFD700;
            }

            .icon-block {
                height: 38px;
                width: 38px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    height: 18px;
                    width: 18px;
                    stroke: $dark-text;
                    stroke-width: 1.3px;

                    &.is-medium {
                        height: 26px;
                        width: 26px;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
2. Web UI Popover Dark mode
========================================================================== */

body {
    &.is-dark {
        .webui-popover {
            background: $dark-sidebar !important;
            border-color: lighten($dark-sidebar, 6%);

            &.top {
                .webui-arrow {
                    border-top-color: $dark-sidebar !important;
                }
            }

            &.right {
                .webui-arrow {
                    border-top-color: transparent !important;
                    border-right-color: $dark-sidebar !important;

                    &:after {
                        border-right-color: $dark-sidebar !important;
                    }
                }
            }

            &.left {
                .webui-arrow {
                    &:after {
                        border-left-color: $dark-sidebar !important;
                    }
                }
            }

            &.bottom {
                .webui-arrow {
                    &:after {
                        border-bottom-color: $dark-sidebar !important;
                    }
                }
            }

            &.bottom-right, &.bottom-left {
                .webui-arrow {
                    &:after {
                        border-bottom-color: $dark-sidebar !important;
                    }
                }
            }

            &.top-right {
                .webui-arrow {
                    &:after {
                        border-top-color: $dark-sidebar !important;
                    }
                }
            }

            &.top-left {
                .webui-arrow {
                    border-top-color: $dark-sidebar !important;
                }
            }

            .webui-popover-inner {
                background: $dark-sidebar !important;
                border-color: $dark-sidebar !important;
            }

            .title {
                color: darken($accent-grey, 5%) !important;
            }

            .country img, .primary-skill img {
                border-color: $dark-sidebar !important;
            }

            .notification-content {
                a {
                    color: $accent !important;
                }

                span {
                    color: darken($accent-grey, 10%) !important;
                }
            }

            .media + .media {
                border-top-color: lighten($dark-sidebar, 10%) !important;
            }

            .loader-overlay {
                background: rgba(42, 42, 44, 0.95) !important;
            }
        }
    }
}

/* ==========================================================================
3. User profile popovers
========================================================================== */

.webui-popover-profile {
    .profile-popover-block, .skill-popover-block {
        .profile-popover-wrapper, .skill-popover-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            padding: 16px;

            .popover-avatar, .popover-fake-avatar {
                position: relative;
                width: 44px;
                height: 44px;
                min-width: 44px;
                z-index: 0;

                img {
                    display: block;
                }

                .avatar {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                }

                .badge {
                    position: absolute;
                    right: -2px;
                    bottom: 0;
                    width: 20px;
                    height: 20px;
                    border: 1.6px solid $white;
                    border-radius: 50%;
                }
            }

            .popover-fake-avatar {
                background: lighten($fade-grey, 3%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                &.is-primary {
                    background: lighten($primary, 42%);

                    span {
                        color: $primary;
                    }
                }

                &.is-accent {
                    background: lighten($accent, 36%);

                    span {
                        color: $accent;
                    }
                }

                &.is-success {
                    background: lighten($success, 45%);

                    span {
                        color: $success;
                    }
                }

                &.is-info {
                    background: lighten($info, 45%);

                    span {
                        color: $info;
                    }
                }

                &.is-warning {
                    background: lighten($warning, 32%);

                    span {
                        color: $warning;
                    }
                }

                &.is-danger {
                    background: lighten($danger, 36%);

                    span {
                        color: $danger;
                    }
                }

                &.is-h-purple {
                    background: lighten($h-purple, 36%);

                    span {
                        color: $h-purple;
                    }
                }

                &.is-h-orange {
                    background: lighten($h-orange, 18%);

                    span {
                        color: $h-orange;
                    }
                }

                &.is-h-blue {
                    background: lighten($h-blue, 32%);

                    span {
                        color: $h-blue;
                    }
                }

                &.is-h-red {
                    background: lighten($h-red, 38%);

                    span {
                        color: $h-red;
                    }
                }

                &.is-h-green {
                    background: lighten($h-green, 22%);

                    span {
                        color: $h-green;
                    }
                }

                &.is-h-yellow {
                    background: lighten($h-yellow, 22%);

                    span {
                        color: darken($h-yellow, 8%);
                    }
                }

                span {
                    font-size: 1.1rem;
                    font-family: $font;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $dark-text;
                }
            }

            .popover-meta {
                margin-left: 16px;

                span {
                    display: block;

                    &.user-meta, &.skill-meta {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .username, .skill-name {
                            display: block;
                            font-family: $font-alt;
                            line-height: 1.2;
                            font-size: .9rem;
                            font-weight: 600;
                        }

                        .location {
                            font-size: .75rem;
                            color: $light-text;
                        }
                    }

                    &.job-title, &.skill-type {
                        font-size: .8rem;
                        color: $primary;
                        font-weight: 500;
                    }

                    &.bio, &.skill-description {
                        font-size: .8rem;
                        color: $light-text;
                    }
                }
            }
        }

        .popover-actions {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 8px 12px 12px 12px;

            .button {
                height: 26px;
            }

            .popover-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                max-width: 30px;
                margin: 0 2px;
                border-radius: 50%;
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    background: lighten($fade-grey, 3%);

                    svg {
                        stroke: $light-text;
                    }
                }

                svg {
                    width: 16px;
                    height: 16px;
                    stroke: $light-text;
                }
            }
        }

        .loader-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.95);
            opacity: 0;
            transition: all .3s;
            z-index: 0;

            &.is-active {
                opacity: 1;
                z-index: 1;
            }

            .loader {
                &.is-loading {
                    height: 24px;
                    width: 24px;
                    min-height: 24px;
                    min-width: 24px;
                }
            }
        }
    }
}

/* ==========================================================================
4. User profile popovers Dark mode
========================================================================== */

body {
    &.is-dark {
        .webui-popover-profile {
            .profile-popover-block {
                .badge {
                    border-color: $dark-sidebar !important;
                }

                .user-meta, .skill-meta {
                    .username, .skill-name {
                        color: darken($accent-grey, 5%);
                    }
                }

                .job-title, .skill-type {
                    color: $accent !important;
                }

                .popover-actions .popover-icon:hover {
                    background: lighten($dark-sidebar, 6%) !important;

                    svg {
                        stroke: $accent;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
5. Simple popover
========================================================================== */

.webui-popover {
    &.webui-popover-default {
        .webui-popover-content {
            .popover-head {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
    
                .h-avatar, .h-icon {
                    margin-right: 10px;
                }
    
                h4 {
                    font-family: $font-alt;
                    font-weight: 600;
                    font-size: .9rem;
                    color: $dark;
                    margin-bottom: 0;
                }
            }
    
            .popover-body {
                padding: 0;
    
                p {
                    font-family: $font;
                    font-size: .9rem;
                    color: $light-text;
    
                    &:last-child {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
