/*! _toasts.scss | Huro | Css ninja 2020-2021 */

/*
    1. Notyf Toasts
    2. Special Checkbox
*/

/* ==========================================================================
1. Notyf Toasts
========================================================================== */

.notyf {
    .notyf__toast {
        .notyf__wrapper {
            .notyf__icon {
                .fas, .fal, .far, .fad, .fab {
                    color: $white !important;
                    font-size: 1.6rem !important;
                }
            }

            .notyf__message {
                color: $white !important;
            }
        }
    }
}
