/*! _video-player.scss | Huro | Css ninja 2020-2021 */

/*
    1. Video Player
    2. Video Player dark mode
    3. Plyr Player
*/

/* ==========================================================================
1. Video Player
========================================================================== */

.video-container {
    position: relative;
    padding-top: 56.25%;
    margin: 0 auto;
    background: $dark-sidebar;
    border-radius: 2px;

    .video-player, .media-player {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 2px;
    }

    .media-player {
        .media-toolbar {
            padding: 8px 16px;

            .media-symbol {
                height: 1.8em;
                width: 1.8em;
            }

            .media-control {
                border-radius: 50%;
                padding: 8px;
                cursor: pointer;
                border: 1px solid transparent;
                outline: none !important;
                transition: all .3s;

                &:hover {
                    background: transparent;
                    color: $primary;
                }

                &.media-play {
                    .media-play-symbol {
                        position: relative;
                        left: 2px;
                    }
                } 

                &.media-mute, &.media-unmute, &.media-download, &.media-fullscreen {
                    .media-mute-symbol, .media-unmute-symbol, .media-download-symbol, .media-enterFullscreen-symbol, .media-leaveFullscreen-symbol {
                        position: relative;
                        left: 1px;
                    }
                } 
            }

            .media-current-time, .media-remaining-time {
                padding: 0 10px 0 8px;
                width: auto;
            }

            .media-slider {
                .media-range {
                    border-radius: 100px;

                    .media-meter {
                        border-radius: 100px;
                        background: $primary;
                    }
                }
            }
        }
    }
}


/* ==========================================================================
2. Video Player Dark mode
========================================================================== */

body {
    &.is-dark {
        .video-container {
            .media-player {
                .media-toolbar {
                    padding: 8px 16px;
        
                    .media-control {
                        color: $light-text;

                        &:hover {
                            background: transparent;
                            color: $accent;
                        }
                    }
                    
                    .media-current-time, .media-remaining-time {
                        color: $dark-dark-text;
                    }

                    .media-slider {
                        .media-range {
                            background: lighten($dark-sidebar, 2%);
        
                            .media-meter {
                                background: $accent;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ==========================================================================
3. Plyr Player
========================================================================== */

.video-player-container {
    margin: 0 auto;
    overflow: hidden;

    &.is-square {
        position: relative;
        height: 440px;
        width: 480px;

        .plyr {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
        }
    }

    &.is-4by3 {
        position: relative;
        padding-top: 75%;
        width: 100%;
        max-width: 840px;

        .plyr {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
        }
    }

    &.is-16by9 {
        position: relative;
        padding-top: 56.25%;
        width: 100%;
        max-width: 840px;

        .plyr {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
        }
    }

    &.reversed-play {
        .plyr--full-ui.plyr--video .plyr__control--overlaid {
            background: $white !important;
            border: 1px solid $primary;
            color: $primary !important;

            &:hover {
                background: $primary !important;
                border-color: $primary !important;
                color: $white !important;

                svg {
                    fill: $white !important;
                    stroke: $white !important;
                }
            }

            svg {
                fill: none;
                stroke: $primary;
                stroke-width: 1.6px;
            }
        }
    }

    video {
        background-color: transparent !important;
    }
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    background: $primary !important;
    box-shadow: $primary-box-shadow;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true],
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: $primary;
}

.plyr--full-ui input[type=range] {
    color: $primary;
}

.plyr__controls {
    transition: all .3s;
}

.plyr--paused, .plyr--stopped {
    .plyr__controls {
        opacity: 0;
        pointer-events: none;
    }
}

@media only screen and (max-width: 767px) {
    .video-player-container {
        &.is-square {
            height: 303px;
            width: 330px;
        }
    }
}