{
  "presets": [
    ["@babel/preset-env",{
      "useBuiltIns": "entry" ,
      "corejs": 3
    }]
  ],
  "plugins": [
    "angularjs-annotate",
    "lodash",
    "@babel/plugin-proposal-optional-chaining",
    "wildcard",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "src",
            "rootPathPrefix": "~/"
          },
          {
            "rootPathSuffix": "./",
            "rootPathPrefix": "#/"
          }
        ]

      }
    ]
  ]
}
