# NEVER CHECK IN
# dotenv is for user environment for testing and development
# below are some options for override
# for a list of what your make build is currently using run `make log-vars`

# if not storing GITHUB_TOKEN in bash ENV then set it here
# GITHUB_TOKEN=gp123...

# to test some of the CIRCLE targets
# CIRCLECI=true
# CIRCLE_BRANCH=master
# CIRCLE_PROJECT_USERNAME=yakworks
# CIRCLE_PROJECT_REPONAME=gorm-tools

# `make log-vars` should show this
# dummy, should show up in log-vars
FOO=bar
