---
layout: default
title: Grids started
slug: gridz
lead: "Grid component"
base_url: "../"
---

<!-- Gridz
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="gridz">Grid component</h1>
  </div>
  <p class="lead">AngularJS directive for jqGrid</p>

  <h3 id="gridz-basic">Basic example</h3>

  <h4>Application module</h4>

  Include <code>angleGrinder.gridz</code> module in the application

{% highlight coffeescript %}
app = angular.module("myApp", [
  "angleGrinder.gridz"
])
{% endhighlight %}

  <h4>Example AngularJS controller</h4>

{% highlight coffeescript %}
class ListCtrl

  @$inject = ["$scope", "sampleData"]
  constructor: ($scope, @sampleData) ->
    # assign grid options to the scope
    $scope.gridOptions =
      data: @generateSampleData()
      datatype: "local"
      colModel: @gridColumns()
      sortname: "id"

  # Generates sample data to feed the grid
  generateSampleData: ->
    @sampleData.generate(100)

  # Defines grid column model
  # see http://www.trirand.com/jqgridwiki/doku.php?id=wiki:colmodel_options
  gridColumns: ->
  [
      name: "id"
      label: "Inv No"
      width: 60
      sorttype: "int"
    ,
      name: "customer.name"
      label: "Customer"
      formatter: "editActionLink"
    ,
      name: "invoiceDate"
      label: "Date"
    ,
      name: "note"
      label: "Note"
    ,
      name: "complete"
      label: "Complete"
  ]

angular.module("myApp")
  .controller("ListCtrl", ListCtrl)
{% endhighlight %}

  <h4>Directive usage</h4>

{% highlight html %}
<body ng-app="myApp">
  <div ng-controller="ListCtrl">
    <div ag-grid="gridOptions"></div>
  </div>
</body>
{% endhighlight %}

  <h3 id="#gridz-ajax">Server side data</h3>

{% highlight coffeescript %}
class UsersListCtrl
  @$inject = ["$scope"]
  constructor: ($scope) ->

  $scope.gridOptions =
    url: "/api/users"
    colModel: @gridColumns()
    rowNum: 10
    sortname: "id"

  # Handle the grid's quick search action
  $scope.quickSearch = (search) ->
    $scope.$broadcast "searchUpdated", search

  # see the previous example
  gridColumns: ->
    []

angular.module("myApp")
  .controller("UsersListCtrl", UsersListCtrl)
{% endhighlight %}

{% highlight html %}
<body ng-app="myApp">
  <div ng-controller="UsersListCtrl">
    <div ag-grid="gridOptions"></div>
  </div>
</body>
{% endhighlight %}

  <h3 id="gridz-toolbar">Grid with toolbar</h3>

{% highlight html %}
<div class="navbar navbar-grid">
  <div class="navbar-inner with-selected-pointer with-grid-options">
    <ul class="nav">
      <li><span class="icon-selected-pointer"> </span></li>
      <li class="dropdown selected-actions">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">
          Actions <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-eye-open"></i> View</a></li>
          <li><a href="#"><i class="icon-external-link"></i> Export</a></li>
          <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <a href="" class="create-button" ng-click="createItem()">
          <i class="icon-edit"></i>New
        </a>
      </li>
    </ul>

    <ul class="nav pull-right">
      <li><a href="#" title="search screen"><i class="icon-search"></i></a></li>
      <li class="divider-vertical skinny"></li>
      <li class="dropdown grid-options">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <i class="icon-cog"></i><b class="caret"></b></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Columns</a></li>
          <li><a href="#">Another action</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
    <form action="" class="navbar-search pull-right">
      <input type="text" value="" placeholder="Search"
             class="search-query span2" />
    </form>
  </div>
</div>

<div ag-grid="gridOptions"></div>
{% endhighlight %}

  <h3 id="gridz-search">Grid with advanced search form</h3>

{% highlight html %}
<div collapse="!showSearchForm"
     ng-include src="'templates/user/search_form.html'"></div>

<div class="navbar navbar-grid">
  <ul>
    <li>
      <a href="" title="search screen"
         ng-click="showSearchForm = !showSearchForm">
        <i class="icon-search"></i>
      </a>
    </li>
  </ul>

  <div ag-grid="gridOptions"></div>
</div>
{% endhighlight %}

<h4>Sample search form</h4>

{% highlight html %}
<div class="well">
  <form ag-search-form class="form-horizontal form-multi-column no-margin">
    <div class="row-fluid">
      <div class="control-group span6">
        <label class="control-label">Name</label>
        <div class="controls">
          <input class="input-block-level" type="text"
                 ng-model="search.name">
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Allowance</label>
        <div class="controls">
          <input class="input-block-level" type="text"
                 ng-model="search.allowance">
        </div>
      </div>
    </div>

    <div class="pull-right">
      <ag-search-button></ag-search-button>
      <ag-reset-search-button></ag-reset-search-button>
    </div>
  </form>
</div>
{% endhighlight %}

  There is no need to implement a separate controller for handling the grid's advanced search.
  Everything will be transparently handled by the following directives
  <span class="label label-info">ag-search-form</span>,
  <span class="label label-info">ag-search-button</span> and
  <span class="label label-info">ag-search-reset-search-button</span>.

  <br/>
  <br/>

  <span class="label label-info">note</span> advanced grid's search should be handled on the server side.

</div>
