<div class="modal-card">
  <header class="modal-card-head">
    <span class="modal-card-title">{{dlgCtrl.title}}</span>
    <button class="delete" aria-label="close" ng-click="dlgCtrl.cancel()"></button>
  </header>
  <section class="modal-card-body">
    <form name="editFormCtrl" ag-form is-horizontal>
      <ag-select label="Customer Name" ng-model="dlgCtrl.vm.customer"
        select-options="{ useDataObject:true, dataApiKey: 'customer'}" required>
      </ag-select>
      <ag-input ng-model="dlgCtrl.vm.refnum" min-length="4" max-length="8" required></ag-input>
      <ag-datepicker ng-model="dlgCtrl.vm.tranDate" required></ag-datepicker>
      <ag-input ng-model="dlgCtrl.vm.amount" required></ag-input>
      <ag-select label="Tran State" ng-model="dlgCtrl.vm.state"
        select-options="{ useDataObject:true, dataApiKey: 'tranState'}" required>
      </ag-select>
      <ag-checkbox label="Taxable?" ng-model="dlgCtrl.vm.hasTax" hint="tax should be calculated"></ag-checkbox>
      <ag-textarea rows="3" ng-model="dlgCtrl.vm.comments"></ag-textarea>
    </form>
  </section>
  <footer class="modal-card-foot">
    <ag-ok-cancel ok-label="Save" ok-click="dlgCtrl.save()" cancel-click="dlgCtrl.cancel()"
    is-loading="dlgCtrl.isSaving">
    </ag-ok-cancel>
  </footer>
  <pre ng-cloak class="mt-4">editFormCtrl.$invalid: {{dlgCtrl.editFormCtrl.$invalid}}<br>model: {{dlgCtrl.vm | json}}</pre>
</div>
