<section class="anchor">
  <h3 class="page-header" ng-show="org.newRecord()">Create org</h3>
  <h3 class="page-header" ng-show="org.persisted()">Edit org</h3>

  <form name="editForm" novalidate class="form-horizontal no-margin"
        ag-server-validation-errors
        ng-submit="save(org)">

    <div ag-field-group for="name">
      <label class="control-label">Name</label>

      <div class="controls">
        <input type="text" name="name" placeholder="Enter Name"
               ng-model="org.name" autofocus required />
        <ag-validation-errors for="name" required="This field is required" />
      </div>
    </div>

    <div ag-field-group for="num">
      <label class="control-label">Num</label>

      <div class="controls">
        <input type="text" name="num" placeholder="Enter num"
               ng-model="org.num" autofocus required />
        <ag-validation-errors for="num" required="This field is required" />
      </div>
    </div>

    <div class="form-actions">
      <ag-submit-button></ag-submit-button>
      <a href="#/" class="btn">Cancel</a>
    </div>
  </form>
</section>
