<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/"><i class="icon-list"></i> Org List</a></li>
    <li><a class="create" href="#/create"><i class="icon-plus"></i> New org</a></li>
  </ul>
</div>

<div class="content">
  <h3 class="page-header">Org details</h3>

  <tabset>
    <tab select="initGrid()">
      <tab-heading><i class="icon-user"></i> Contacts</tab-heading>
      <div ng-show="gridOptions" ag-grid="gridOptions"></div>
    </tab>

    <tab>
      <tab-heading><i class="icon-envelope"></i> Address</tab-heading>
      address edit goes here
    </tab>
  </tabset>

  <div class="form-actions">
    <a ng-href="#/{{org.id}}/edit" class="btn"><i class="icon-edit"></i> Edit</a>
    <ag-delete-button when-confirmed="delete(org)"></ag-delete-button>
  </div>
</div>
