//Sidebar animated icon trigger
.menu-icon-wrapper {
  position: relative;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  pointer-events: none;
  transition: 0.1s;

  svg {
    position: absolute;
    top: -18px;
    left: -18px;
    transform: scale(0.07);
    transform-origin: 0 0;

    path {
      stroke: $secondary;
      stroke-width: 40px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: transparent;
      transition: stroke-dasharray 0.5s;

      &.path1 {
        stroke-dashoffset: 5803.15px;
        stroke-dasharray: 2901.57px, 2981.57px, 240px;
      }

      &.path2 {
        stroke-dashoffset: 800px;
        stroke-dasharray: 400px, 480px, 240px;
      }

      &.path3 {
        stroke-dashoffset: 6993.11px;
        stroke-dasharray: 3496.56px, 3576.56px, 240px;
      }
    }
  }

  &.open {
    svg {
      path {
        &.path1 {
          stroke-dasharray: 2901.57px, 5258.15px, 240px;
        }

        &.path2 {
          stroke-dasharray: 400px, 600px, 0px;
        }

        &.path3 {
          stroke-dasharray: 3496.56px, 6448.11px, 240px;
        }
      }
    }
  }

  .menu-icon-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}
