<form name="form" ag-form
      class="form-horizontal-fixed" autocomplete="off" novalidate>
  <fieldset>

    <ag-input-bs name="name" ng-model="$ctrl.vm.name" hint="this is a hint, must be > 2 chars"
              minimum-length="2" placeholder="Enter Name" required >
    </ag-input-bs>
    <ag-input-bs type="email" name="email" ng-model="$ctrl.vm.email" ng-required="true">
    </ag-input-bs>
    <ag-input-bs name="website" ng-model="$ctrl.vm.website" ng-required="false"></ag-input-bs>

    <div class="form-group">
      <label class="control-label required">Title</label>
      <div class="controls">
        <input type="text" name="website2" placeholder="job title"
          ng-model="$ctrl.vm.title" class="form-control" ng-required="true"/>
        <ag-validation-inline></ag-validation-inline>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <div class="controls">
      <button ng-click="$ctrl.save(form)" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
<pre ng-cloak>form.$invalid: {{form.$invalid}}<br>model: {{$ctrl.vm | json}}</pre>
