<form name="formHor" ag-form is-horizontal label-class="is-3" >

<div class="columns is-mobile">
  <ag-label>Normal Selects</ag-label>
  <div class="field column is-grouped">
    <div class="control is-expanded">
      <div class="select">
        <select>
          <option>Select dropdown foo</option>
          <option>With options</option>
        </select>
      </div>
    </div>
    <div class="control is-expanded">
      <div class="select">
        <select>
          <option>Select dropdown foo</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <ag-label>Basic Select2</ag-label>
  <div class="field column is-grouped">
    <div class="control is-expanded">
      <input class="input" ng-model="$ctrl.vm.day"
        placeholder="select a day" ui-select2 ui-select2-data="['Mon','Tue','Wed','Thu','Fri','Sat','Sun']">
    </div>
    <div class="control is-expanded">
      <input class="input" ng-model="$ctrl.vm.color"
        ui-select2="{ allowClear: false, placeholder: 'select a color', data:['red','green', 'blue']}">
    </div>
  </div>
</div>

<p>using ag-select component</p>
<ag-select name="agSelect" ng-model="$ctrl.vm.agColor" placeholder="select a color" hint="this is a hint"
  select-options="{ data: $ctrl.colorData }"></ag-select>

<p>rest data from dataApiKey</p>
<ag-select name="agSelect" ng-model="$ctrl.vm.cust"
    select-options="{ dataApiKey: 'customer' }"></ag-select>
  <ag-select name="agSelect" ng-model="$ctrl.vm.custParams"
    select-options="{ dataApiKey: 'customer', dataApiParams: {country: 'US'} }"></ag-select>
<ag-select name="agSelect" ng-model="$ctrl.vm.custMulti"
    select-options="{ multiple: true, closeOnSelect: false, showSelectAll:true, dataApiKey: 'customer'}"></ag-select>

<p>rest data from promise</p>
<ag-select name="agSelect" ng-model="$ctrl.vm.cust"
    select-options="{ data: $ctrl.custApiData }"></ag-select>
<ag-select name="agSelect" ng-model="$ctrl.vm.custMulti"
    select-options="{ multiple: true, closeOnSelect: false, showSelectAll:true, data: $ctrl.custApiData }"></ag-select>

<p>useDataObject:false, its true by default on multiple</p>
<ag-select name="agSelect" label="Multi" ng-model="$ctrl.vm.agColors"
  select-options="{ multiple: true, closeOnSelect: false, useDataObject:false, data: $ctrl.colorData}"></ag-select>
<p>id only</p>
<ag-select name="fooId" ng-model="$ctrl.vm.fooId" required
  select-options="{data: $ctrl.fooData}">
</ag-select>
<p>using ag-select component useDataObject:true on single select</p>
<ag-select ng-model="$ctrl.vm.foo" required
  select-options="{ useDataObject:true, data: $ctrl.fooData}">
</ag-select>
<p>useDataObject:true by default on multiple </p>
<ag-select ng-model="$ctrl.vm.fooList" required hint="showSelectAll:true"
  select-options="{multiple: true, closeOnSelect: false, data: $ctrl.fooData, showSelectAll:true}">
</ag-select>
<ag-select ng-model="$ctrl.vm.addonButton" hint="this is a hint"
  select-options="{useDataObject: true, multiple: true, closeOnSelect: false, data: $ctrl.fooData}">
  <ag-button icon-left="fa-search" color="addon">Search</ag-button>
</ag-select>
<ag-select ng-model="$ctrl.vm.addonLink"
  select-options="{useDataObject: true, multiple: true, closeOnSelect: false, data: $ctrl.fooData}">
  <a class="button is-addon">Test Link</a>
</ag-select>
<div class="form-group">
  <div class="controls">
    <button class="btn btn-primary">Save</button>
  </div>
</div>
</form>
<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>

