<div class="space5"></div>
<ag-toolbar class="is-lighter is-dense has-border has-shadow-2" style="margin-top: 30px">
  <div class="toolbar-item">
    <div class="buttons">
  <ag-button ng-click="$ctrl.correct()" color='light'>Correct</ag-button>
  <ag-button ng-click="$ctrl.post()" color='light'>Post</ag-button>
  <ag-button ng-click="$ctrl.delete()" color='light'>Delete</ag-button>
      <div class="toolbar-item right-html">
        <ag-button ng-click="$ctrl.save()">Save</ag-button>
      </div>
    </div>

  </div>

</ag-toolbar>

<div class="well well-sm">
  <div class="columns equal">
    <div class="column">
      <div ng-if="$ctrl.isConfigured" class="panel panel-default panel-xeditable padding-10">
        <div class="panel-body">
          <ag-formly-form ag-form model="$ctrl.vm"
                          fields="$ctrl.editFormFields"
                          is-columns="true"
                          ctrl="$ctrl"
                          form="$ctrl.editForm"/>
        </div>
      </div>
    </div>

  </div>
</div>

<payment-list batch-reload="$ctrl.reloadBatch"/>
<div>
  <uib-tabset class="tabbable" active="active">
    <uib-tab index="0" heading="PaymentDetails">
      <payment-detail-list />
    </uib-tab>
    <uib-tab index="1" heading="Open Tran List">
      <pd-ar-tran-list />
    </uib-tab>
  </uib-tabset>
</div>
