/*! _project.scss | Huro | Css ninja 2020-2021 */

/*
    1. Project Details
    2. Project Details Dark Mode
    3. Media Queries
*/

/* ==========================================================================
1. Project Details
========================================================================== */

.project-details {

    &.is-webapp {
        padding-top: 30px;
    }

    .tabs-wrapper {
        .tabs-inner {
            .tabs {
                margin: 0 auto;
                background: $white;
            }
        }
    }

    .project-details-inner {
        padding: 20px 0;

        .project-details-card {
            @extend .s-card;

            padding: 40px;

            .card-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .title-wrap {
                    h3 {
                        font-family: $font-alt;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: $dark-text;
                        line-height: 1.2;
                        transition: all .3s;
                    }
                }
            }

            .project-overview {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0;

                p {
                    max-width: 420px;
                }
            }

            .project-features {
                display: flex;
                padding: 25px 0;
                border-top: 1px solid darken($fade-grey, 3%);
                border-bottom: 1px solid darken($fade-grey, 3%);

                .project-feature {
                    margin-right: 20px;
                    width: calc(25% - 20px);

                    i {
                        font-size: 1.6rem;
                        color: $primary;
                        margin-bottom: 8px;
                    }

                    h4 {
                        font-family: $font-alt;
                        font-size: .85rem;
                        font-weight: 600;
                        color: $dark;
                    }

                    p {
                        line-height: 1.2;
                        font-size: .85rem;
                        color: $light-text;
                        margin-bottom: 0;
                    }
                }
            }

            .project-files {
                padding: 20px 0;

                h4 {
                    font-family: $font-alt;
                    font-weight: 600;
                    font-size: .8rem;
                    text-transform: uppercase;
                    color: $primary;
                    margin-bottom: 12px;
                }

                .file-box {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    background: $white;
                    border: 1px solid transparent;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        border-color: darken($fade-grey, 3%);
                        box-shadow: $light-box-shadow;
                    }

                    img {
                        display: block;
                        width: 48px;
                        min-width: 48px;
                        height: 48px;
                    }

                    .meta {
                        margin-left: 12px;
                        line-height: 1.3;

                        span {
                            display: block;

                            &:first-child {
                                font-family: $font-alt;
                                font-size: .9rem;
                                font-weight: 600;
                                color: $dark-text;
                            }

                            &:nth-child(2) {
                                font-size: .9rem;
                                color: $light-text;

                                i {
                                    position: relative;
                                    top: -3px;
                                    font-size: .3rem;
                                    color: $light-text;
                                    margin: 0 4px;
                                }
                            }
                        }
                    }

                    .dropdown {
                        margin-left: auto;
                    }
                }
            }
        }

        .side-card {
            @extend .s-card;

            padding: 40px;
            margin-bottom: 1.5rem;

            h4 {
                font-family: $font-alt;
                font-weight: 600;
                font-size: .8rem;
                text-transform: uppercase;
                color: $primary;
                margin-bottom: 16px;
            }
        }

        .project-team-card {
            @extend .s-card;

            padding: 40px;
            max-width: 940px;
            display: block;
            margin: 0 auto;

            .column {
                padding: 1.5rem;

                &:nth-child(odd) {
                    border-right: 1px solid darken($fade-grey, 3%);
                }

                &.has-border-bottom {
                    border-bottom: 1px solid darken($fade-grey, 3%);
                }
            }
        }

        .task-grid {
            .grid-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                h3 {
                    font-family: $font-alt;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $dark-text;
                    line-height: 1.2;
                }

                .filter {
                    display: flex;
                    align-items: center;
                    background: $white;
                    padding: 8px 24px;
                    border-radius: 100px;

                    > span {
                        font-family: $font-alt;
                        font-size: .85rem;
                        font-weight: 600;
                        color: $dark-text;
                        margin-right: 30px;
                    }

                    .h-select {
                        min-width: 110px;

                        .select-box {
                            border: none;
                        }
                    }
                }
            }

            .task-card {
                @extend .s-card;

                min-height: 200px;
                display: flex !important;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: $light-box-shadow;
                }

                .title-wrap {
                    h3 {
                        font-size: 1.1rem;
                        font-family: $font-alt;
                        font-weight: 600;
                        color: $dark-text;
                        line-height: 1.2;
                        margin-bottom: 4px;
                    }

                    span {
                        font-family: $font;
                        font-size: .9rem;
                        color: $light-text;
                    }
                }

                .content-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .left {
                        .avatar-stack {
                            margin-bottom: 6px;
                        }

                        .attachments {
                            display: flex;
                            align-items: center;

                            i {
                                font-size: 15px;
                                color: $light-text;
                            }

                            span {
                                margin-left: 2px;
                                font-size: .9rem;
                                font-family: $font;
                                color: $light-text;
                            }
                        }
                    }

                }
            }
        }
    }
}

/* ==========================================================================
2. Project Details Dark Mode
========================================================================== */

body {
    &.is-dark {
        .project-details {
            .project-details-inner {
                .project-details-card {
                    .card-head {
                        .title-wrap {
                            h3 {
                                color: $dark-dark-text !important;
                            }
                        }
                    }

                    .project-features {
                        border-color: lighten($dark-sidebar, 12%);

                        .project-feature {
                            i {
                                color: $accent;
                            }

                            h4 {
                                color: $dark-dark-text;
                            }
                        }
                    }

                    .project-files {
                        h4 {
                            color: $accent;
                        }

                        .file-box {
                            background: lighten($dark-sidebar, 3%);

                            &:hover {
                                border-color: lighten($dark-sidebar, 10%);
                            }

                            .meta {
                                span {
                                    &:first-child {
                                        color: $dark-dark-text;
                                    }
                                }
                            }
                        }
                    }
                }

                .side-card {
                    h4 {
                        color: $accent;
                    }
                }

                .project-team-card {
                    .column {
                        border-color: lighten($dark-sidebar, 12%);
                    }
                }

                .task-grid {
                    .grid-header {
                        h3 {
                            color: $dark-dark-text;
                        }

                        .filter {
                            background: lighten($dark-sidebar, 1%) !important;
                            border-color: lighten($dark-sidebar, 4%) !important;

                            > span {
                                color: $dark-dark-text;
                            }
                        }
                    }

                    .task-card {
                        .title-wrap {
                            h3 {
                                color: $dark-dark-text;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ==========================================================================
3. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    .project-details {
        .project-details-inner {

            .project-details-card {
                padding: 30px;

                .project-overview {
                    flex-direction: column;

                    p {
                        margin-bottom: 20px;
                    }
                }

                .project-features {
                    flex-wrap: wrap;

                    .project-feature {
                        width: calc(50% - 20px);
                        text-align: center;
                        margin: 0 10px;

                        &:first-child, &:nth-child(2) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .project-team-card {
                padding: 30px;

                .column {
                    border-right: none !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .project-details {
        .project-details-inner {

            .project-details-card {
                .project-files {
                    .columns {
                        display: flex;

                        .column {
                            min-width: 50%;
                        }
                    }
                }
            }

            .project-team-card {
                .columns {
                    display: flex;

                    .column {
                        min-width: 50%;
                    }
                }
            }

            .task-grid {
                .columns {
                    display: flex;

                    .column {
                        min-width: 50%;
                    }
                }
            }
        }
    }
}