/*! _typography.scss | Huro | Css ninja 2020-2021 */

/*
    1. Titles
    2. Titles Dark mode
    3. Typography Helpers
*/

/* ==========================================================================
1. Titles
========================================================================== */

$font: 'Roboto', sans-serif;
$font-alt: 'Montserrat', sans-serif;

.title {
    font-family: $font-alt;

    &.is-heavy {
        font-weight: 600;
    }

    &.is-bold {
        font-weight: 700;
    }

    &.is-bolder {
        font-weight: 800;
    }
}

.subtitle {
    font-family: $font;
    color: $dark-text;

    &.is-narrow {
        margin-bottom: 0;
    }

    &.is-thin {
        font-weight: 300;
    }

    &.is-heavy {
        font-weight: 600;
    }

    &.is-bold {
        font-weight: 700;
    }

    &.is-bolder {
        font-weight: 800;
    }
}

// p {
//     font-family: $font;
//     font-weight: 300;
//     color: $light-text;

//     &.white-text {
//         color: $white;
//     }
// }

// div {
//     color: $dark-text;
// }

var {
    font-style: normal;
}

.font-size-base {
    font-size: 1rem;
}

.has-dark-text {
    color: $dark-text;
}

/* ==========================================================================
2. Titles Dark mode
========================================================================== */

body {
    &.is-dark {
        .title, .dark-inverted {
            color: $dark-dark-text !important;
        }

        .subtitle {
            color: $light-text;
        }

        a {
            &.dark-inverted {
                color: $accent !important;
            }

            &.dark-inverted-hover:hover {
                color: $accent !important;
            }
        }
    }
}
