/* ---------------------------------------------------------------------- */
/* Keep colors here with any Bulma overrides, midway down we run derived-variables from Bulma
/* see initial-variables for base overrides
/* ---------------------------------------------------------------------- */
// TODO https://blog.maximeheckel.com/posts/the-power-of-composition-with-css-variables/

@use "sass:map";
@use "../modules/cssVars";

$scheme-main: var(--color-background) !default;
$scheme-main-bis: var(--color-background-light) !default; // white-grey
$scheme-main-ter: var(--color-background-lighter) !default; // white-greyer
$scheme-invert: var(--color-contrast-dark)  !default; //black
$scheme-invert-bis: var(--color-contrast) !default; //black-grey
$scheme-invert-ter: var(--color-contrast-light) !default; //black-greyer

$background: $scheme-main-ter !default;
$background-main: $scheme-main !default;

// Bulma's text colors
// $text: rgba(0,0,0,0.9) !default;
// $text-strong: $black-bis !default;
// $text-invert: findColorInvert($text) !default;
// $text-light: rgba(0,0,0,0.6) !default;

// $text-lighter: $grey !default;

//bulma and misc
$text-strong: var(--color-text-dark) !default;
$text-light: var(--color-text-light)  !default;
$text-lighter: var(--color-text-lighter) !default;
$text-invert: var(--color-text-invert) !default;

// borders
$border: var(--color-tint-dark) !default;
$border-hover: var(--color-tint-darker) !default;
$border-light: var(--color-tint-light)  !default;
$border-light-hover: var(--color-tint) !default;


// $accent: #797bf2;
$azure: #5B9BD1;
$beige: #D2BD8E;
$bricky: #894550;

// --- Link colors are used all over Bulma---

$link: var(--color-link);
$link-invert: var(--color-link-invert);
// $link-light: findLightColor($link) !default;
// $link-dark: findDarkColor($link) !default;

$link-hover: var(--color-shade-dark) !default;
$link-hover-border: var(--color-shade)!default;
$link-focus: var(--color-shade)  !default;
$link-focus-border: var(--color-link) !default;
$link-active: var(--color-shade)  !default;
$link-active-border: var(--color-shade-light)  !default;

//** From huro **/
// FIXME replace these, here for now as it get things working
$fade-grey: #ededed;
$muted-grey: #999;

// $colors_list : ("primary", "secondary", "accent", "link", "info", "success", "danger", "warning");

$colors_from_theme: () !default;

@function create_bulma_color_list($color, $contrastVar) {
  $list: (
    var(--color-#{$color}),
    var($contrastVar),
    var(--color-#{$color}-highlight),
    var(--color-#{$color}-dark)
  );
  @return $list;
}

@each $color, $props in $theme-colors {
  $colorList: create_bulma_color_list($color, map.get($props, 'invert'));
  $map: ();
  $map: map-merge($map, ($color: $colorList ) );
  $colors_from_theme: map-merge($colors_from_theme, $map);
}

// more get added to this in Bulma's derived-variables.
// bulma spins through these and setups up classes prefixed with is.
// so this essentially sets up so we have a 'is-lighter' css class availiable for cards, toolbars etc
$custom-colors: null !default;

// override Bulma's colors in derived-variables
// @debug $unicorn-color-map;
$colors: map.deep-merge((
  "white": ($white, $black),
  "black": ($black, $white),
  // "light": ($scheme-main-ter, $scheme-invert-bis),
  // "dark": ($dark, $dark-invert),
  // "lighter": ($scheme-main-bis, $scheme-invert-bis), //we add these and they are not normally part of bulma
  ), $colors_from_theme
) !default;

// @debug $colors;

// override Bulma's shades in derived-variables
$custom-shades: null !default;

$shades: mergeColorMaps((
  "scheme-main": $scheme-main,
  "scheme-main-bis": $scheme-main-bis,
  "scheme-main-ter": $scheme-main-ter,
  "scheme-invert": $scheme-invert,
  "scheme-invert-bis": $scheme-invert-bis,
  "scheme-invert-ter": $scheme-invert-ter,
  "black-bis": $black-bis,
  "black-ter": $black-ter,
  "grey-darker": $grey-darker,
  "grey-dark": $grey-dark,
  "grey": $grey,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter,
  "white-ter": $white-ter,
  "white-bis": $white-bis),
  $custom-shades
) !default;

// Effects
// $shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02) !default
$shadow: 0px 4px 16px cssVars.alpha(var(--color-contrast), 0.12) !default;

//*** element and control colors
$icon-default-color: var(--color-shade) !default;

// side nav
$sidenav-background-color: var(--color-primary-dark) !default; //ends up as sidebar default
$sidenav-font-color: var(--color-primary-invert) !default;
$sidenav-nav-active-color: var(--color-secondary) !default;
$sidenav-nav-hover-color: $sidenav-nav-active-color !default;
$sidenav-overlay-background-color: cssVars.alpha($sidenav-background-color, 0.2) !default;

//**** bulma/form/shared.sass  ****/
// $form-colors: $colors !default

// $input-color: $text-strong !default
$input-background-color: $scheme-main !default;
$input-border-color: $border !default;
// $input-height: $control-height !default
// $input-shadow: inset 0 0.0625em 0.125em rgba($scheme-invert, 0.05) !default
// $input-placeholder-color: bulmaRgba($input-color, 0.3) !default

// $input-hover-color: $text-strong !default
// $input-hover-border-color: $border-hover !default

// $input-focus-color: $text-strong !default
// $input-focus-border-color: $link !default
// $input-focus-box-shadow-size: 0 0 0 0.125em !default
// $input-focus-box-shadow-color: bulmaRgba($link, 0.25) !default

// $input-disabled-color: $text-light !default
// $input-disabled-background-color: $background !default
// $input-disabled-border-color: $background !default
// $input-disabled-placeholder-color: bulmaRgba($input-disabled-color, 0.3) !default

// $input-arrow: $link !default
$input-arrow: var(--color-primary) !default;

// $input-icon-color: $border !default
// $input-icon-active-color: $text !default

//---------------------------
// $input-border-color: $border !default
// $input-color: $text-strong !default
// $input-focus-border-color:  #66afe9 !default//BS = $input-border-focus
// $input-focus-border-color: $link !default
// $input-focus-box-shadow-color: rgba(red($ifoc-color), green($ifoc-color), blue($ifoc-color), .6);
// $input-focus-box-shadow-size: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px;
// $input-arrow: $primary !default
// $input-shadow: inset 0 0.0625em 0.125em rgba($scheme-invert, 0.05) !default
// $input-placeholder-color: rgba($input-color, 0.3) !default
// $input-icon-color: $border !default
// $input-icon-active-color: $text !default

//*** bulma/elements/button.sass colors ****/
// $button-color: $text-strong !default
// $button-background-color: $scheme-main !default
$button-background-color: $scheme-main-bis !default;
// $button-family: false !default

$button-border-color: $border !default;
// $button-border-width: $control-border-width !default

// $button-padding-vertical: calc(0.5em - #{$button-border-width}) !default
// $button-padding-horizontal: 1em !default

$button-hover-color: inherit !default;
$button-hover-border-color: $border-hover !default;

// $button-focus-color: $link-focus !default
// $button-focus-border-color: $link-focus-border !default
$button-focus-border-color: $button-border-color !default;
// $button-focus-box-shadow-size: 0 0 0 0.125em !default
// $button-focus-box-shadow-color: bulmaRgba($link, 0.25) !default

// $button-active-color: $link-active !default
// $button-active-border-color: $link-active-border !default

// $button-text-color: $text !default
// $button-text-decoration: underline !default
// $button-text-hover-background-color: $background !default
// $button-text-hover-color: $text-strong !default

// $button-ghost-background: none !default
// $button-ghost-border-color: transparent !default
// $button-ghost-color: $link !default
// $button-ghost-decoration: none !default
// $button-ghost-hover-color: $link !default
// $button-ghost-hover-decoration: underline !default

// $button-disabled-background-color: $scheme-main !default
// $button-disabled-border-color: $border !default
// $button-disabled-shadow: none !default
// $button-disabled-opacity: 0.5 !default

// $button-static-color: $text-light !default
// $button-static-background-color: $scheme-main-ter !default
// $button-static-border-color: $border !default

// $button-colors: $colors !default

//** Cards
$card-background-color: $scheme-main !default;
$card-shadow: $shadow !default;
// $card-radius: 0.25rem !default
$card-radius: $radius-large !default;
$card-border-color: $border !default;
$card-hr-color: $card-border-color !default;

// ** datepicker
$dp-input-in-edit-border-color: $blue;
