// Custom colors and vars for our theme
$line-height-base: 1.428571429 !default;
// Theme vars
$header-background-color: $primary;
$main-content-background: #fff;
$border-default: #c8c7cc !default;

$font-size-base: $body-size !default;
$font-size-normal: $body-size !default;
$font-size-large: floor(($font-size-base * 1.25)) !default; // ~15px
$font-size-extra-large: floor(($font-size-base * 1.35)) !default; // ~17px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-extra-small: floor(($font-size-base * 0.85)) !default; // ~11px

//**** Layout ******

$header-height: 60px;
$mobile-header-height: 50px;
$horizontalMenu-height: 50px;

// Sidebar-nav
$sideBar-width: 260px; //old remove
$sideBar-closed-width: 70px; //old remove
$sidebar-background: $grey-lighter; //old remove

$sidebar-background-color: #344258 !default;
$sidebar-font-color: findColorInvert($sidebar-background-color) !default;
$sidebar-font-size: 16px;
$sidebar-nav-hover-color: $secondary;
$sidebar-nav-active-color: $secondary;
$sidebar-nav-width: 260px;
$sidebar-nav-closed-width: 56px;

$footer-height: 50px;
$horizontal-menu-height: 40px;
$page-header-height: 90px;
