/* ---------------------------------------------------------------------- */
/*
/*
/* ---------------------------------------------------------------------- */
@use "sass:map";
@use "../mixins/cssVars";


$primary: hsl(210, 40%, 37%) !default;
$primary-invert: findContrastColor($primary) !default;

// force the orange one to white so it doesn't go to black
$orange-invert: #fff !default;
// secondary, not in stock Bulma
$secondary: $orange !default;
$secondary-invert: $orange-invert !default;

// --- accent
$accent: hsl( 167, 100%, 47%) !default;
$accent-invert: findColorInvert($accent) !default;

// --- info
$info: $cyan !default;
$info-invert: findColorInvert($info) !default;

// --- success
$success: $green !default;
$success-invert: findColorInvert($success) !default;

// --- warning
$warning: $yellow !default;
$warning-invert: findColorInvert($warning) !default;

// --- danger
$danger: $red !default;
$danger-invert: findColorInvert($danger) !default;

$link: $blue !default;
$link-invert: findColorInvert($link) !default;

$colorVariables: (
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "accent": ($accent, $accent-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "danger": ($danger, $danger-invert),
  "warning": ($warning, $warning-invert)
) !default;

$unicorn-colors: (
  'primary': (
    'base': #384ea9,
  ),
  'secondary': (
    'base': #f08110,
  ),
  'accent': (
    'base': #393939,
  ),
  'link': (
    'base': #f8f5f5,
  ),
  'info': (
    'base': #384ea9,
  ),
  'success': (
    'base': #384ea9,
  ),
  'danger': (
    'base': #384ea9,
  ),
  'warning': (
    'base': #384ea9,
  )
);
