@use "../tools/cssVars";

// these are hacks to get things tied together
body {
  // overflow: auto; //FIXME need to sort out scrolling for the page containers and remove this
  // position: unset; //unsets the relative that f7 sets, not sure why or the implications here
  // height: unset;
}

.aurora {
  --f7-card-box-shadow: #{$shadow};
}

.toolbar.tabbar {
  background-color: transparent;
}

:root {
  /* Sync default color theme, can't do primary as all links etc are set to it */
  // --f7-theme-color: var(--color-primary-strong);
  // --f7-theme-color-rgb: 57, 94, 132;
  // --f7-theme-color-shade: var(--color-primary-strong);
  // --f7-theme-color-tint: var(--color-primary-light);
  /* for now set to primary to our link color */
  --f7-theme-color: var(--color-link);
  --f7-theme-color-rgb: 46, 112, 177;
  --f7-theme-color-shade: var(--color-link-strong);
  --f7-theme-color-tint: var(--color-link-light);

  --f7-page-bg-color: #{cvar(body)};
  --f7-tabbar-link-inactive-color: #{cvar(text, light)};
  --f7-input-clear-button-color: var(--color-shade-20);

  // --f7-bars-link-color:
  --f7-tabbar-link-active-color: var(--color-link);
  --f7-tabbar-link-active-border-color: var(--color-link);
}

//input mods
.item-input-required {
  .item-label:after {
    margin-left: 1px;
    content: "*";
    color: $danger;
    position: absolute;
  }
}

//makes it so select drop down is not hidden
.popover-inner {
  overflow: visible;
}
