li.spinner {
    width: 40px;
}

li.spinner i.spin:before {
    content: url('../img/ajax-loader.gif');
}

/* Loading spinner for lazy tabs */
.nav-tabs li.loading a:after {
  content: url('../img/ajax-loader.gif');
}

.fixed-alert {
    position: fixed;
    max-width: 980px;
    width: 100%;
    z-index: 999999;
}
