/*! _widgets.scss | Huro | Css ninja 2020-2021 */

/* ==========================================================================
Widget Styles
========================================================================== */

/*
    1. Widget Toolbar
    2. Gauge Widget
    3. Icon Toolbar Widget
    4. Text Widget
    5. Tags Widget
    6. Calendar Widget
    7. Image Widget
    8. List Widget
    9. Picker Widget
    10. Stat Widget
    11. Search Widget
    12. Icon List Widget
    13. Video Widget
    14. Inbox Widget
*/

/* ==========================================================================
1. Widget Toolbar
========================================================================== */

.widget {
    margin-bottom: 20px;
}

.widget-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .left {
        display: flex;
        align-items: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .tag {
            font-family: $font;
        }

        .right-icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            min-width: 32px;
            border-radius: 50%;
            color: lighten($light-text, 12%);
            transition: all .3s;

            &.has-indicator {
                &:after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: 4px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: $secondary;
                    border: 1.8px solid $white;
                }
            }

            svg {
                height: 18px;
                width: 18px;
                transition: stroke .3s;
            }
        }
    }

    h3 {
        font-family: $font-alt;
        font-size: .9rem;
        color: $dark-text;
        font-weight: 600;

        &.is-bigger {
            font-size: 1rem;
        }
    }

    .action-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        min-width: 32px;
        border-radius: 50%;
        color: lighten($light-text, 12%);
        transition: all .3s;

        svg {
            height: 18px;
            width: 18px;
            transition: stroke .3s;
        }
    }
}

body {
    &.is-dark {
        .widget-toolbar {
            h3 {
                color: $dark-dark-text;
            }

            .right {
                .right-icon {
                    &.has-indicator {
                        &:after {
                            border-color: lighten($dark-sidebar, 6%);
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
2. Gauge Widget
========================================================================== */

.gauge-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    text-align: center;

    .gauge-wrap {
        padding: 30px 0;
    }
}

/* ==========================================================================
3. Icon Toolbar Widget
========================================================================== */

.icon-toolbar-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    padding: 16px;

    .icon-toolbar {
        display: flex;

        .toolbar-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0px;

            .inner-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                min-width: 32px;
                border-radius: 50%;
                color: lighten($light-text, 12%);
                transition: all .3s;

                &:hover:not(.is-active) {
                    background: lighten($fade-grey, 3%);
                    color: $light-text;
                }

                &.is-active {
                    color: $primary;
                }

                svg {
                    height: 18px;
                    width: 18px;
                    transition: stroke .3s;
                }
            }
        }
    }
}

body {
    &.is-dark {
        .icon-toolbar-widget {
            .icon-toolbar {
                .toolbar-icon {
                    .inner-icon {
                        color: darken($light-text, 12%);

                        &:hover:not(.is-active) {
                            background: lighten($dark-sidebar, 3%);
                        }

                        &.is-active {
                            color: $accent;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
4. Text Widget
========================================================================== */

.text-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .widget-content {
        p {
            font-size: .9rem;

            span {
                color: $dark-text;
                font-weight: 500;
            }
        }

        .hashtags {
            padding-top: 8px;
            font-family: $font;

            a {
                color: $primary;
                margin: 0 2px;
            }
        }
    }
}

body {
    &.is-dark {
        .text-widget {
            .widget-content {
                p {
                    span {
                        color: $dark-dark-text;
                    }
                }
            }

            .hashtags {
                a {
                    color: $accent;
                }
            }
        }
    }
}

/* ==========================================================================
5. Tags Widget
========================================================================== */

.tags-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .widget-content {
        .tags {}
    }
}

/* ==========================================================================
6. Calendar Widget
========================================================================== */

.calendar-widget {
    .calendar-widget-inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: -6px;
        margin-left: -6px;
        margin-right: -6px;

        .calendar-square {
            @extend .l-card;

            flex: 1;
            margin: 6px;
            width: calc(50% - 6px);

            .date {
                text-align: center;

                span {
                    display: block;
                    font-family: $font;

                    &:first-child {
                        font-weight: 700;
                        color: $dark-text;
                        font-size: 1.6rem;
                    }

                    &:nth-child(2) {
                        font-size: .75rem;
                        text-transform: uppercase;
                        color: $light-text;
                    }
                }
            }
        }
    }
}

body {
    &.is-dark {
        .calendar-widget {
            .calendar-widget-inner {
                .calendar-square {
                    .date {
                        span {
                            &:first-child {
                                color: $dark-dark-text;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
7. Image Widget
========================================================================== */

.image-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    position: relative;
    padding: 10px;
    height: 310px;

    > img {
        display: block;
        height: 100%;
        object-fit: cover;
        border-radius: 14px;
    }

    .progress-wrap {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        padding: 0 30px;

        .progress {
            background-color: #000;
            background-image: linear-gradient(to right, $primary 30%, #000 30%);
            height: .15rem !important;
        }
    }
}

body {
    &.is-dark {
        .image-widget {
            .progress-wrap {
                .progress {
                    background-image: linear-gradient(to right, $accent 30%, #000 30%) !important;
                }
            }
        }
    }
}

/* ==========================================================================
8. List Widget
========================================================================== */

.list-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 12px;
            }

            a {
                font-family: $font;
                display: flex;
                justify-content: space-between;
                color: $light-text;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

body {
    &.is-dark {
        .list-widget {
            ul {
                li {
                    a {
                        &:hover {
                            color: $accent;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
9. Picker Widget
========================================================================== */

.picker-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .calendar {
        color: $dark-text;
        font-size: 12px;
        font-family: $font;
        width: 100%;
        margin-bottom: 5px;

        thead, tbody {
            width: 100%;
        }
    }

    .calendar thead {
        color: $primary;
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
    }

    .calendar td {
        padding: .5em 0;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
    }

    .calendar tbody td:hover {
        background: lighten($fade-grey, 3%);
        color: $primary;
    }

    .current-day {
        color: $primary;
        font-weight: 600;
    }

    .prev-month,
    .next-month {
        color: #cacaca;
    }
}

body {
    &.is-dark {
        .picker-widget {
            .calendar {
                color: $dark-dark-text;

                thead {
                    color: $accent;
                }

                td:hover {
                    background: lighten($dark-sidebar, 3%);
                    color: $accent;
                }
            }

            .current-day {
                color: $accent;
            }
        }
    }
}

/* ==========================================================================
10. Stat Widget
========================================================================== */

.stats-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    padding: 20px 0 0 0;

    .widget-toolbar {
        padding: 0 20px;
    }

    .stat-number {
        span {
            display: block;
            font-family: $font;

            &:first-child {
                font-size: 2rem;
                font-weight: 700;
                color: $dark-text;

                svg {
                    stroke: $success;
                }
            }

            &:nth-child(2) {
                font-size: .75rem;
                font-family: $font-alt;
                text-transform: uppercase;
                color: $light-text;
            }
        }
    }

    .stat-chart {
        position: relative;
        bottom: -30px;
    }
}

body {
    &.is-dark {
        .stats-widget {
            .stat-number {
                span {
                    &:first-child {
                        color: $dark-dark-text;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
11. Search Widget
========================================================================== */

.search-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .field {
        .control {
            position: relative;

            .input {
                height: 42px;
                border-radius: 8px;
                background: $widget-grey;
                border-color: $widget-grey;

                &:focus {
                    border-color: darken($fade-grey, 3%);
                    background: $white;
                }
            }

            .search-button {
                position: absolute;
                top: 0;
                right: 0;
                height: 42px;
                width: 42px;
                border-radius: 8px;
                background: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                color: $white;
                cursor: pointer;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }
        }

        .topics {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-top: 12px;

            a {
                font-family: $font;
                color: $light-text;
                font-size: .95rem;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

body {
    &.is-dark {
        .search-widget {
            .field {
                .control {
                    .input {
                        background: lighten($dark-sidebar, 3%);
                        border-color: lighten($dark-sidebar, 12%);
                    }

                    .search-button {
                        background: $accent;
                    }
                }

                .topics {
                    a:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
12. Icon List Widget
========================================================================== */

.icon-list-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .icon-list {
        .icon-list-item {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &:hover {
                .icon-wrap {
                    background: $primary;
                    color: $white;
                    box-shadow: $primary-box-shadow;
                }

                .item-meta {
                    span {
                        color: $dark-text;
                    }
                }
            }

            .icon-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                width: 42px;
                border-radius: 10px;
                background: darken($widget-grey, 2%);
                color: darken($light-text, 6%);
                transition: all .3s;

                svg {
                    height: 18px;
                    width: 18px;
                    transition: stroke .3s;
                }
            }

            .item-meta {
                margin-left: 12px;

                span {
                    font-family: $font;
                    color: $light-text;
                }
            }
        }
    }
}

body {
    &.is-dark {
        .icon-list-widget {
            .icon-list {
                .icon-list-item {
                    &:hover {
                        .icon-wrap {
                            background: $accent;
                            box-shadow: $accent-box-shadow;
                            color: $smoke-white;
                        }

                        .item-meta {
                            span {
                                color: $accent !important;
                            }
                        }
                    }

                    .icon-wrap {
                        background: lighten($dark-sidebar, 3%);
                        color: lighten($light-text, 2%);
                    }
                }
            }
        }
    }
}

/* ==========================================================================
13. Video Widget
========================================================================== */

.video-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    padding: 10px;

    .widget-content {
        display: flex;

        > img {
            height: 100px;
            width: 100px;
            border-radius: 10px;
            object-fit: cover;
        }

        .widget-meta {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            font-family: $font;

            > svg {
                height: 20px;
                width: 20px;
                stroke-width: 1.6px;
                stroke: $primary;
                margin-bottom: 6px;
            }

            h4 {
                font-weight: 600;
                font-family: $font-alt;
                font-size: .9rem;
                line-height: 1.3;
                color: $dark-text;
            }

            .views {
                display: flex;
                align-items: center;
                margin-top: auto;
                color: $light-text;

                svg {
                    height: 14px;
                    width: 14px;
                    stroke-width: 1.4px;
                    margin-right: 6px;
                }

                span {
                    font-size: .85rem;
                }
            }
        }
    }
}

body {
    &.is-dark {
        .video-widget {
            .widget-meta {
                > svg {
                    stroke: $accent;
                }

                h4 {
                    color: $dark-dark-text;
                }
            }
        }
    }
}

/* ==========================================================================
14. Inbox Widget
========================================================================== */

.inbox-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .sender-block {
        h4 {
            font-family: $font;
            font-weight: 500;
            color-interpolation-filters: $dark-text;
            font-size: .95rem;
        }

        .sender-block-inner {
            display: flex;
            align-items: center;
            padding: 16px 0;

            .meta {
                margin-left: 10px;
                line-height: 1.2;

                span {
                    font-family: $font-alt;
                    font-weight: 600;
                    font-size: .8rem;
                }
            }
        }

        .exerpt {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid darken($fade-grey, 3%);
            font-family: $font;

            h5 {
                display: flex;
                align-items: center;
                font-size: .8rem;
                font-family: $font-alt;
                font-weight: 600;
                color: $primary;
                margin-bottom: 6px;

                i {
                    font-size: 6px;
                    margin-right: 6px;
                }
            }

            p {
                font-size: .9rem;
                color: $dark-text;
                margin-bottom: 6px;
            }

            small {
                color: $light-text;
            }
        }
    }
}

body {
    &.is-dark {
        .inbox-widget {
            .sender-block {
                .sender-block-inner {
                    .meta {
                        span {
                            color: $dark-dark-text;
                        }
                    }
                }
            }

            .exerpt {
                background: lighten($dark-sidebar, 4%);
                border-color: lighten($dark-sidebar, 12%);

                h5 {
                    color: $accent;
                }

                p {
                    color: $dark-dark-text;
                }
            }
        }
    }
}

/* ==========================================================================
15. Illustration Widget
========================================================================== */

.illustration-widget {
    &.illustration-widget-v1 {
        @extend .l-card;

        &.is-straight {
            @extend .s-card;
        }

        padding: 40px 30px;
        text-align: center;
        font-family: $font;

        .img-container {
            position: relative;
            margin: 0 auto 12px auto;
            max-width: 180px;

            .main {
                display: block;
            }

            .badge {
                position: absolute;

                &.badge-1 {
                    height: 70px;
                    width: 70px;
                    top: 0;
                    right: 0;
                }

                &.badge-2 {
                    height: 50px;
                    width: 50px;
                    top: 0;
                    left: 0;
                }
            }
        }

        h3 {
            font-weight: 600;
            font-size: .95rem;
            font-family: $font-alt;
            color: $dark-text;
            margin-bottom: 4px;
        }

        p {
            font-size: .9rem;
        }
    }

    &.illustration-widget-v2 {
        @extend .l-card;

        &.is-straight {
            @extend .s-card;
        }

        padding: 16px;

        img {
            border-radius: 14px;
            margin-bottom: 4px;
        }

        h3 {
            font-weight: 600;
            font-size: .95rem;
            font-family: $font-alt;
            color: $dark-text;
        }

        p {
            font-size: .9rem;
        }
    }

    &.illustration-widget-v3 {
        @extend .l-card;

        &.is-straight {
            @extend .s-card;
        }

        padding: 24px;

        img {
            border-radius: 18px;
            margin-bottom: 4px;
        }

        h3 {
            font-weight: 600;
            font-size: .95rem;
            font-family: $font-alt;
            color: $dark-text;
        }

        p {
            font-size: .9rem;
        }
    }
}

body {
    &.is-dark {
        .illustration-widget {
            &.illustration-widget-v1, &.illustration-widget-v2, &.illustration-widget-v3 {
                h3 {
                    color: $dark-dark-text;
                }
            }
        }
    }
}

/* ==========================================================================
16. Creative List Widget
========================================================================== */

.creative-list-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .creative-list {
        .creative-list-item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            background: lighten($fade-grey, 3%);
            margin-bottom: 8px;

            &.is-orange {
                background: lighten($h-orange, 20%);
            }

            &.is-purple {
                background: lighten($h-purple, 38%);
            }

            &.is-green {
                background: lighten($success, 48%);
            }

            .meta {
                font-family: $font;
                font-size: .95rem;
                color: $dark-text;
                font-weight: 500;
                margin-left: 10px;
            }
        }
    }
}

body {
    &.is-dark {
        .creative-list-widget {
            .creative-list {
                .creative-list-item {
                    background: lighten($dark-sidebar, 2%);
                    border: 1px solid lighten($dark-sidebar, 12%);

                    .meta {
                        color: $smoke-white;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
17. Social Buttons Widget
========================================================================== */

.social-buttons-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    padding: 16px;

    .social-buttons {
        display: flex;

        .social-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0px;

            .inner-button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                min-width: 32px;
                border-radius: 8px;
                color: lighten($light-text, 12%);
                transition: all .3s;

                &:hover:not(.is-active) {
                    background: lighten($fade-grey, 3%);
                    color: $light-text;
                }

                &.is-rounded {
                    border-radius: 50%;
                }

                &.is-active {
                    &.is-facebook {
                        background: $facebook;
                        color: $smoke-white;
                        box-shadow: $facebook-box-shadow;
                    }

                    &.is-linkedin {
                        background: $linkedin;
                        color: $smoke-white;
                        box-shadow: $facebook-box-shadow;
                    }

                    &.is-twitter {
                        background: $twitter;
                        color: $smoke-white;
                        box-shadow: $twitter-box-shadow;
                    }

                    &.is-instagram {
                        background: $instagram;
                        color: $smoke-white;
                        box-shadow: $angular-box-shadow;
                    }

                    &.is-github {
                        background: $github;
                        color: $smoke-white;
                        box-shadow: $github-box-shadow;
                    }

                    &.is-invision {
                        background: $invision;
                        color: $smoke-white;
                        box-shadow: $invision-box-shadow;
                    }

                    &.is-atlassian {
                        background: $linkedin;
                        color: $smoke-white;
                        box-shadow: $linkedin-box-shadow;
                    }

                    &.is-bootstrap {
                        background: $h-purple;
                        color: $smoke-white;
                        box-shadow: $h-purple-box-shadow;
                    }
                }

                svg {
                    height: 18px;
                    width: 18px;
                    transition: stroke .3s;
                }
            }
        }
    }
}

body {
    &.is-dark {
        .social-buttons-widget {
            .social-buttons {
                .social-button {
                    .inner-button {
                        &:hover:not(.is-active) {
                            background: lighten($dark-sidebar, 2%);
                            color: $light-text;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
18. Call Widget
========================================================================== */

.call-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    padding: 40px 30px;
    text-align: center;
    font-family: $font;

    .img-container {
        position: relative;
        margin: 0 auto 12px auto;
        max-width: 180px;
        max-height: 180px;

        .main {
            display: block;
        }

        .badge {
            position: absolute;
            height: 60px;
            width: 60px;
            bottom: 0;
            right: 2px;
            border-radius: 50%;
            border: 6px solid $white;
        }
    }

    h3 {
        font-weight: 600;
        font-family: $font-alt;
        font-size: 1rem;
        color: $dark-text;
        margin-bottom: 4px;
    }

    p {
        font-size: .9rem;
    }

    .actions {
        display: flex;
        justify-content: center;
        padding-top: 12px;

        .action {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 36px;
            min-width: 36px;
            border-radius: 50%;
            color: lighten($light-text, 12%);
            transition: all .3s;
            margin: 0 6px;
            border: 1px solid darken($fade-grey, 3%);
            box-shadow: $light-box-shadow;
            transition: all .3s;

            &:hover {
                background: $primary;
                border-color: $primary;
                color: $smoke-white;
                box-shadow: $primary-box-shadow;
            }

            svg {
                height: 16px;
                width: 16px;
                transition: stroke .3s;
            }
        }
    }
}

body {
    &.is-dark {
        .call-widget {
            h3 {
                color: $dark-dark-text;
            }

            .img-container {
                .badge {
                    border-color: lighten($dark-sidebar, 6%);
                }
            }

            .actions {
                .action {
                    background: lighten($dark-sidebar, 2%);
                    border: 1px solid lighten($dark-sidebar, 12%);
                    color: $dark-dark-text;

                    &:hover {
                        border-color: $accent;
                        color: $accent;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
16. Avatar List Widget
========================================================================== */

.avatar-list-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    padding: 14px;

    .field {
        .control {
            position: relative;

            .input {
                height: 42px;
                border-radius: 8px;
                background: $widget-grey;
                border-color: $widget-grey;

                &:focus {
                    border-color: darken($fade-grey, 3%);
                    background: $white;
                }
            }

            .search-button {
                position: absolute;
                top: 0;
                right: 0;
                height: 42px;
                width: 42px;
                border-radius: 8px;
                background: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                color: $white;
                cursor: pointer;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }

    .avatar-list {
        .avatar-list-item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 8px;
            transition: all .3s;

            &:hover {
                background: lighten($fade-grey, 3%);
            }

            .meta {
                font-family: $font-alt;
                font-size: .95rem;
                color: $dark-text;
                font-weight: 600;
                margin-left: 10px;
            }
        }
    }
}

body {
    &.is-dark {
        .avatar-list-widget {
            .field {
                .control {
                    .input {
                        background: lighten($dark-sidebar, 3%);
                        border-color: lighten($dark-sidebar, 12%);
                    }

                    .search-button {
                        background: $accent;
                    }
                }

                .topics {
                    a:hover {
                        color: $accent;
                    }
                }
            }

            .avatar-list {
                .avatar-list-item {

                    &:hover {
                        background: lighten($dark-sidebar, 8%);
                    }

                    .meta {
                        color: $dark-dark-text;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
17. Contact Widget
========================================================================== */

.contact-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    &.is-reversed {
        .widget-content {
            flex-direction: row-reverse;
        }
    }

    .widget-content {
        display: flex;
        border-bottom: 1px solid darken($fade-grey, 3%);
        margin-bottom: 16px;
        padding-bottom: 16px;

        .left {
            text-align: center;
            width: 40%;

            .h-avatar {
                display: block;
                margin: 0 auto;

                .avatar {
                    margin: 0;
                }
            }
        }

        .right {
            width: 60%;
            font-family: $font;

            > h3 {
                font-family: $font-alt;
                color: $dark-text;
                font-weight: 600;
                margin-bottom: 4px;
            }

            .company {
                font-size: .9rem;
                line-height: 1.2;
                margin-bottom: 4px;

                span {
                    color: $primary;
                }

                p {}
            }

            .contact-info {
                font-size: .85rem;

                > span {
                    display: flex;
                    align-items: center;

                    svg {
                        height: 14px;
                        width: 14px;
                        margin-right: 4px;
                        stroke-width: 1.4px;
                        stroke: $light-text;
                    }
                }
            }
        }
    }

    .email {
        text-align: center;
        font-size: .9rem;
    }
}

body {
    &.is-dark {
        .contact-widget {
            .widget-content {
                border-color: lighten($dark-sidebar, 12%);

                .right {
                    h3 {
                        color: $dark-dark-text;
                    }

                    .company {
                        span:first-child {
                            color: $accent;
                        }
                    }

                    .contact-info {
                        span span {
                            color: $dark-dark-text;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
18. Followers Widget
========================================================================== */

.followers-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .channels {
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
        width: 100%;

        .channel {
            width: calc(33.3% - 16px);
            text-align: center;
            margin: 0 8px;

            .channel-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 36px;
                width: 36px;
                border-radius: 10px;
                background: $widget-grey;
                margin: 0 auto 4px auto;

                i {
                    font-size: 14px;
                    color: $light-text;
                }
            }

            .channel-stats {
                span {
                    font-family: $font;
                    display: block;

                    &:first-child {
                        font-weight: 500;
                        color: $light-text;
                    }
                }
            }
        }
    }
}

body {
    &.is-dark {
        .followers-widget {
            .channels {
                .channel {
                    .channel-icon {
                        background: lighten($dark-sidebar, 2%);
                        border: 1px solid lighten($dark-sidebar, 12%);
                    }
                }
            }
        }
    }
}

/* ==========================================================================
18. Cart Widget
========================================================================== */

.cart-widget {
    @extend .l-card;

    &.is-straight {
        @extend .s-card;
    }

    .cart-items {
        .cart-item {
            display: flex;
            margin: 8px 0;

            .meta {
                margin-left: 12px;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-family: $font;

                    &:first-child {
                        font-size: .9rem;
                        color: $light-text;
                    }

                    &:nth-child(2) {
                        color: $dark-text;
                        margin-top: auto;
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .cart-button {
        padding-top: 16px;

        .button {
            min-height: 50px;
            border-radius: 10px;
        }
    }
}


body {
    &.is-dark {
        .cart-widget {
            .cart-items {
                .cart-item {
                    .meta {
                        span {
                            &:nth-child(2) {
                                color: $accent;
                            }
                        }
                    }
                }
            }
        }
    }
}