<aside class="sidebar bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav">
    <li><a ui-sref="examples.gridExample"><i class="icon-chevron-right"></i>Grid example</a></li>
    <li><a ui-sref="examples.usersDialog"><i class="icon-chevron-right"></i>Users (dialog based)</a></li>
    <li><a ui-sref="examples.users.list"><i class="icon-chevron-right"></i>Users</a></li>
    <li><a ui-sref="examples.fileUpload"><i class="icon-chevron-right"></i>File Upload</a></li>
    <li><a ui-sref="examples.panels"><i class="icon-chevron-right"></i>Panels</a></li>
  </ul>
</aside>

<section class="content">
  <ag-alerts></ag-alerts>
  <section ui-view autoscroll="false"></section>
</section>
