/*! _hub.scss | Huro | Css ninja 2020-2021 */

/*
    1. Card Hub
    2. Card Hub Dark mode
*/

/* ==========================================================================
1. Card Hub
========================================================================== */

.card-hub {
    max-width: 840px;
    margin: 0 auto;

    .hub-header {
        text-align: center;

        > img {
            display: block;
            margin: 0 auto;
            max-width: 300px;
        }

        .h-avatar {
            margin: 0 auto 12px auto;
        }

        .anim-icon {
            margin-bottom: 12px;
        }

        p {
            font-size: 1.15rem;
        }
    }

    .hub-body {
        padding: 10px 0 20px 0;

        .body-inner {
            display: flex;
            flex-wrap: wrap;

            .hub-card {
                background-color: $white;
                border-radius: 6px;
                border: 1px solid darken($fade-grey, 3%);
                width: calc(50% - 20px);
                max-width: calc(50% - 20px);
                margin: 10px;
                transition: all .3s;

                &:hover {
                    box-shadow: $light-box-shadow;

                    .hub-card-body {
                        img {
                            filter: grayscale(0);
                            opacity: 1;
                        }
                    }
                }

                .hub-card-body {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 24px;

                    .inner-content {
                        .title {
                            font-size: 1.3rem;
                            margin-bottom: 8px;
                        }

                        p {
                            max-width: 220px;
                        }

                        .partner-name {
                            span {
                                font-weight: 500;
                                color: $dark-text;
                            }
                        }
                    }

                    img {
                        display: block;
                        width: 100%;
                        max-width: 100px;
                        height: 100px;
                        filter: grayscale(1);
                        opacity: .6;
                        transition: all .3s;
                    }
                }

                .hub-card-foot {
                    border-top: 1px dashed darken($fade-grey, 4%);
                    border-top-width: 1.6px;
                    padding: 18px 24px;

                    a {
                        color: $primary;
                        opacity: .6;
                        font-weight: 500;
                        transition: opacity .3s;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .hub-footer {
        text-align: center;
        padding-top: 20px;

        p {
            font-weight: 500;

            a {
                position: relative;
                transition: color .3s;
            }
        }
    }
}

/* ==========================================================================
2. Card Hub Dark mode
========================================================================== */

body {
    &.is-dark {
        .card-hub {
            .hub-header {
                .h-avatar {
                    .badge {
                        border-color: lighten($dark-sidebar, 6%) !important;
                    }
                }
            }

            .hub-body {
                .body-inner {
                    .hub-card {
                        background: lighten($dark-sidebar, 6%);
                        border-color: lighten($dark-sidebar, 12%);

                        .hub-card-foot {
                            border-color: darken($muted-grey, 25%);

                            a {
                                color: $accent;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    .card-hub {
        .hub-body {
            .body-inner {
                .hub-card {
                    width: calc(100% - 20px);
                    max-width: calc(100% - 20px);
                }
            }
        }
    }
}
