
<!-- Single button -->
<div class="btn-group">
  <ag-button color="{{dropCtrl.color}}" button-class="{{dropCtrl.bCls}}" icon="{{dropCtrl.icon}}"
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <ng-transclude></ng-transclude>
  </ag-button>
  <ul class="dropdown-menu {{dropCtrl.menuClass}}">
    <li ng-repeat="menuItem in dropCtrl.menuItems" ng-class="{ divider: menuItem.divider }" class="{{menuItem.class}}">
      <a ng-if="!menuItem.divider" ng-click="dropCtrl.fireMenuClick(menuItem, $event)">
        <span ng-if="menuItem.icon" class="icon is-small mr-1">
          <i class="{{dropCtrl.getIconClass(menuItem.icon)}}"></i>
        </span>
        <span ng-bind-html="menuItem.display" ></span>
      </a>
    </li>
    <!-- <li role="separator" class="divider"></li> -->
  </ul>
</div>

<!-- BS4 Future use -->
<!-- <div class="dropdown">
    <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
        <span class="placeholder">{{ ::$ctrl.menuDisplay }}</span>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"
           ng-repeat="menuAction in $ctrl.menuActions"
           ng-bind-html="menuAction.display"
           ng-click="menuAction.action()">
        </a>
    </div>
</div> -->
