<div class="modal-header">
  <button type="button" class="close" ng-click="closeEditDialog()" aria-hidden="true">&times;</button>

  <h3 ng-show="createNew">Create New User</h3>
  <h3 ng-hide="createNew">Edit User {{item.name}}</h3>
</div>

<div class="modal-body">
  <form name="editForm" novalidate class="form-horizontal no-margin"
        ag-server-validation-errors
        ng-submit="save(item)">

    <div ag-field-group for="name">
      <label class="control-label">Name</label>

      <div class="controls">
        <input type="text" name="name" placeholder="Enter Name"
               ng-model="item.name" autofocus ng-required="true" />
        <ag-validation-errors for="name" required="This field is required" />
      </div>
    </div>

    <div ag-field-group for="login">
      <label class="control-label">Login</label>

      <div class="controls">
        <input type="text" name="login" placeholder="Enter Login"
               ng-model="item.login" autofocus ng-required="true" />
        <ag-validation-errors for="login" required="This field is required" />
      </div>
    </div>

    <div ag-field-group for="infoEmail">
      <label class="control-label">Email</label>

      <div class="controls">
        <input type="text" name="infoEmail" placeholder="Enter Email"
               ng-model="item.info.email" autofocus ng-required="true" />
        <ag-validation-errors for="infoEmail" required="This field is required" />
      </div>
    </div>

    <div ag-field-group for="allowance">
      <label class="control-label">Allowance</label>

      <div class="controls">
        <input type="text" name="allowance" placeholder="Enter Allowance"
               ng-model="item.allowance" />
      </div>
    </div>

    <div ag-field-group for="birthday">
      <label class="control-label">Birthday</label>

      <div class="controls">
        <input type="text" bs-datepicker
               name="birthday" ng-model="item.birthday"
               ng-required="true" />
      </div>
    </div>

    <div ag-field-group for="password,passwordConfirmation">
      <label class="control-label">Password</label>

      <div class="controls">
        <input type="password" name="password" placeholder="Enter Password"
               ng-model="item.password" autofocus ng-required="item.newRecord()" ng-minlength="6" />
        <ag-validation-errors for="password"
                          required="This field is required"
                          minlength="Password must be at least 6 characters." />
      </div>

      <div class="controls">
        <input type="password" name="passwordConfirmation" placeholder="Enter Password Confirmation"
               ng-model="item.passwordConfirmation" autofocus
               ng-required="item.newRecord()" match="item.password" ng-minlength="6" />
        <ag-validation-errors for="passwordConfirmation"
                          required="This field is required"
                          minlength="Password must be at least 6 characters."
                          mismatch="The password does not match the confirmation" />
      </div>
    </div>

    <div class="modal-footer">
      <ag-submit-button></ag-submit-button>
      <span ng-hide="createNew">
        <ag-delete-button when-confirmed="delete(item)"></ag-delete-button>
      </span>
      <ag-cancel-button ng-click="closeEditDialog()"></ag-cancel-button>
    </div>
  </form>
</div>
