<h2 class="page-header">Users dialog based example</h2>

<div ng-show="showSearchForm" class="search-form-panel">
  <div ng-include src="'templates/usersDialog/searchForm.html'"></div>
</div>

<div class="navbar navbar-grid">
  <div class="navbar-inner with-selected-pointer with-grid-options">
    <ul class="nav">
      <li class="dropdown selected-actions">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left: 2px">
          <i class="icon-selected-pointer"></i> Actions <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href=""><i class="icon-eye-open"></i> View</a></li>
          <li><a href=""><i class="icon-external-link"></i> Export</a></li>
          <li class="divider"></li>
          <li><a href="" ng-click="massUpdate()"><i class="icon-edit"></i> Mass update</a></li>
          <li class="divider"></li>
          <li><a href=""><i class="icon-trash"></i> Delete</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <a href="" class="create-button" ng-click="createItem()">
          <i class="icon-edit"></i>New
        </a>
      </li>
    </ul>

    <ul class="nav pull-right">
      <li>
        <a href="" title="search screen"
           ng-click="showSearchForm = !showSearchForm"><i class="icon-search"></i></a>
      </li>
    </ul>

    <form class="navbar-search pull-right" ng-submit="usersGrid.search(filters)">
      <input type="text" value="" placeholder="quick search" class="search-query span2" style="width: 150px;"
             ng-model="filters.quickSearch"/>
    </form>
  </div>
</div>

<div ag-grid="gridOptions"
     ag-grid-name="usersGrid"></div>
