<div class="well" ng-controller="usersDialog.SearchFormCtrl">
  <form name="searchForm" ag-search-form="usersGrid"
        class="form-horizontal form-multi-column no-margin">

    <div class="row-fluid">
      <div class="control-group span6">
        <label class="control-label">Name</label>
        <div class="controls">
          <!--<input type="text" name="filterName" ng-model="filters.name" ng-required="true" />-->
          <!--<span ng-show="searchForm.filterName.$error.required">error: this is required</span>-->
          <input type="text" name="filterName" ng-model="filters.name" />
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Allowance</label>
        <div class="controls">
          <input type="text" ng-model="filters.allowance">
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="control-group span6">
        <label class="control-label">Birthday from</label>
        <div class="controls">
          <input type="text" bs-datepicker ng-model="filters.birthday.from" />
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Birthday to</label>
        <div class="controls">
          <input type="text" bs-datepicker ng-model="filters.birthday.to" />
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="control-group span6">
        <label class="control-label">Org</label>
        <div class="controls">
          <div class="input-append">

            <ag-select2 select-ajax-url="/api/orgs.json"
                        select-minimum-input-length="3"
                        select-ajax-quiet-millis="300"
                        ng-model="filters.org">
              <table ag-select2-result class="table table-condensed org-select-result">
                <tr>
                  <td>{{item.num}}</td>
                  <td>{{item.name}}</td>
                </tr>
              </table>
            </ag-select2>

          </div>
        </div>
      </div>

      <div class="control-group span6 foo">
        <label class="control-label">Type</label>

        <div class="controls">
          <input type="text" ui-select2="userTypeSelectOptions"
                 name="contactType" ng-model="filters.contact.type" />
        </div>
      </div>
    </div>

    <div class="pull-right">
      <ag-search-button></ag-search-button>
      <ag-reset-search-button></ag-reset-search-button>
    </div>
  </form>
</div>
