$blue:  hsl(217, 71%,  53%) !default;
$link: $blue !default;

.control {
  &.has-icons-right{
    .input:focus ~ .icon {
      color: #999;
      &.is-active {
        color: $link
      }
    }
  }

  .icon {
    &.is-clickable {
      pointer-events: auto;
      cursor: pointer;
      //color: $link
    }
    &.is-active {
      color: $link
    }
  }
}
