<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()">&times;</button>
  <h3>Note</h3>
</div>

<form name="editForm" class="form-horizontal-fixed"
      novalidate="true"
      ng-submit="save(note)">

  <div class="modal-body">
    <div class="columns">
      <div class="column">
        <div ag-field-group for="name">
          <label class="control-label">Name</label>

          <div class="controls">
            <input type="text" name="name" placeholder="Enter name" class="form-control"
                   ng-model="note.name" ng-required="true"/>
            <ag-validation-errors for="name"/>
          </div>
        </div>

        <div ag-field-group for="content">
          <label class="control-label ">Content</label>

          <div class="controls">
        <textarea name="content" rows="5" class="form-control"
                  ng-model="note.content" ng-required="true"></textarea>
            <ag-validation-errors for="content"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <ag-submit-button></ag-submit-button>
    <ag-cancel-button ng-click="closeDialog()"></ag-cancel-button>
  </div>
</form>
