<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()">&times;</button>
  <h3>Mass update</h3>
</div>

<form name="massUpdateForm" novalidate class="form-horizontal"
      ag-submit="massUpdate(records, massUpdateForm)">

  <div class="modal-body">
    <div ag-field-group for="allowance">
      <label class="control-label">Allowance</label>

      <div class="col-sm-8">
        <input type="text" name="creditInfoAllowance" placeholder="Enter Allowance"
               ng-model="records.creditInfo.allowance" ng-required="false" />
        <ag-validation-errors for="creditInfoAllowance" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <ag-submit-button></ag-submit-button>
    <ag-cancel-button ng-click="closeDialog()"></ag-cancel-button>
  </div>
</form>
