<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/" ag-back-button><i class="icon-arrow-left"></i> Back</a></li>
    <li><a class="list" href="#/examples/users"><i class="icon-list"></i> Users List</a></li>
    <li><a class="create" href="#/examples/users/create"><i class="icon-plus"></i> New user</a></li>
  </ul>
</div>

<div class="content">

  <h2 class="page-header">
    {{user.name}}&lt;{{user.info.email}}&gt;
  </h2>

  <tabset>
    <tab>
      <tab-heading>Editable form</tab-heading>

      <div>
        <form editable-form name="editableForm" onaftersave="update(user)" novalidate="true">

          <div>
            <span class="title">Login</span>
            <span editable-text="user.login"
                  e-name="login"
                  e-required="true">{{user.login}}</span>
          </div>

          <div>
            <span class="title">Name</span>
            <span editable-text="user.name"
                  e-name="name"
                  e-required="true">{{user.name}}</span>
          </div>

          <div>
            <span class="title">Tags</span>
            <span editable-select2="user.tags"
                  e-ui-select2="roleSelect2Options"
                  e-name="tags">{{user.tags}}</span>
          </div>

          <div>
            <span class="title">Birthday</span>
            <span editable-datepicker="user.birthday"
                  e-ng-required="true"
                  e-name="birthday">{{user.birthday | date}}</span>
          </div>

          <div>
            <span class="title">Death</span>
            <span editable-datepicker="user.death"
                  e-ng-required="false"
                  e-name="death">{{user.death | date}}</span>
          </div>

          <fieldset>
            <legend>Notification</legend>

            <div>
              <span class="title">Type</span>
              <span editable-select="user.notificationType"
                    e-ng-options="t.id as t.text for t in notificationTypes"
                    e-name="notificationType">{{user.notificationType || 'None'}}</span>
            </div>

            <!-- TODO figure out how to dry it -->
            <div ng-if="(!editableForm.$visible && user.notificationType === 'email') ||
                        (editableForm.$visible && editableForm.notificationType.$modelValue === 'email')">
              <span class="title">Notification email</span>
              <span editable-email="user.notification.email"
                    e-name="notificationEmail"
                    e-ng-required="true">{{user.notification.email}}</span>
            </div>

            <div ng-if="(!editableForm.$visible && user.notificationType === 'fax') ||
                        (editableForm.$visible && editableForm.notificationType.$modelValue === 'fax')">
              <span class="title">Notification fax</span>
              <span editable-text="user.notification.fax"
                    e-name="notificationFax"
                    e-ng-required="true"
                    e-ng-minlength="3" e-ng-maxlength="11">{{user.notification.fax}}</span>
            </div>
          </fieldset>

          <div class="buttons">
            <button type="button" class="btn btn-default"
                    ng-click="editableForm.$show()"
                    ng-show="!editableForm.$visible">
              Edit
            </button>

            <span ng-show="editableForm.$visible">
              <button type="submit" class="btn btn-primary"
                      ng-disabled="editableForm.$invalid || editableForm.$waiting">
                Save
              </button>

              <button type="button" class="btn btn-default"
                      ng-disabled="editableForm.$waiting"
                      ng-click="editableForm.$cancel()">
                Cancel
              </button>
            </span>
          </div>
        </form>
      </div>
    </tab>

    <tab>
      <tab-heading>User details</tab-heading>

      <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{user.id}}</dd>

        <dt>Name</dt>
        <dd>{{user.name}}</dd>

        <dt>Login</dt>
        <dd>{{user.login}}</dd>

        <dt>Email</dt>
        <dd>{{user.info.email}}</dd>

        <dt>Birthday</dt>
        <dd>{{user.birthday | date}}</dd>

        <dt>Paid</dt>
        <dd>{{user.paid}}</dd>
      </dl>

      <div class="form-actions">
        <a ng-href="#/examples/users/{{user.id}}/edit" class="btn"><i class="icon-edit"></i> Edit</a>
        <ag-delete-button when-confirmed="delete(user)"></ag-delete-button>
      </div>
    </tab>

    <tab>
      <tab-heading>Embedded grid</tab-heading>

      <div ag-grid="gridOptions"
           ag-grid-name="embeddedGrid"></div>
    </tab>
  </tabset>
</div>
