<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/" ag-back-button><i class="icon-arrow-left"></i> Back</a></li>
    <li><a class="list" href="#/examples/users"><i class="icon-list"></i> Users List</a></li>
    <li><a class="create" href="#/examples/users/create"><i class="icon-plus"></i> New user</a></li>
  </ul>
</div>


<div bindonce class="content">

  <h2 class="page-header">
    <span bo-text="user.name"></span>
    &lt;<span bo-text="user.info.email"></span>&gt;
  </h2>

  <tabset>
    <tab>
      <tab-heading>User details</tab-heading>

      <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd bo-text="user.id">&nbsp;</dd>

        <dt>Name</dt>
        <dd bo-text="user.name">&nbsp;</dd>

        <dt>Login</dt>
        <dd bo-text="user.login">&nbsp;</dd>

        <dt>Email</dt>
        <dd bo-text="user.info.email">&nbsp;</dd>

        <dt>Birthday</dt>
        <dd bo-text="user.birthday | date">&nbsp;</dd>

        <dt>Paid</dt>
        <dd bo-text="user.paid">&nbsp;</dd>
      </dl>

      <div class="form-actions">
        <a bo-href="'#/examples/users/' + user.id + '/edit'" class="btn"><i class="icon-edit"></i> Edit</a>
        <ag-delete-button when-confirmed="delete(user)"></ag-delete-button>
      </div>
    </tab>

    <tab>
      <tab-heading>Embedded grid</tab-heading>

      <div ag-grid="gridOptions"
           ag-grid-name="embeddedGrid"></div>
    </tab>
  </tabset>
</div>
