.dropdown-menu {
  display: none;
  background-color: #ffffff;
}

.sidebar .logo-img img,
.off-canvas-sidebar .logo-img img {
  width: 42px;
  top: 16px;
  left: 18px;
  position: absolute;
}

.sidebar .logo img,
.off-canvas-sidebar .logo img {
  width: 42px;
  top: 16px;
  left: 18px;
  position: absolute;
}

/* .sidebar .logo .logo-img img {
  top: 7px;
  left: 0px;
} */
