<section class="anchor">
  <h2 class="page-header">Users list</h2>

  <ag-create-button href="#/users/create">Create user</ag-create-button>

  <button class="btn" ng-click="usersGrid.toggleColumn('allowance')">
    <span ng-show="usersGrid.isColumnHidden('allowance')">Show</span>
    <span ng-hide="usersGrid.isColumnHidden('allowance')">Hide</span>
    Allowance
  </button>

  <button class="btn" ng-click="usersGrid.toggleColumn('birthday')">
    <span ng-show="usersGrid.isColumnHidden('birthday')">Show</span>
    <span ng-hide="usersGrid.isColumnHidden('birthday')">Hide</span>
    Birthday
  </button>

  <div ag-grid="gridOptions" ag-grid-name="usersGrid"></div>
</section>
