<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/users"><i class="icon-list"></i> Users List</a></li>
    <li><a class="create" href="#/users/create"><i class="icon-plus"></i> New user</a></li>
  </ul>
</div>

<div class="content">
  <h2 class="page-header">Show user</h2>

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{user.id}}</dd>

    <dt>Email</dt>
    <dd>{{user.name}}</dd>

    <dt>Login</dt>
    <dd>{{user.login}}</dd>

    <dt>Paid</dt>
    <dd>{{user.paid}}</dd>
  </dl>

  <div class="form-actions">
    <a href="#/users/{{user.id}}/edit" class="btn"><i class="icon-edit"></i> Edit</a>
    <ag-delete-button when-confirmed="delete(user)"></ag-delete-button>
  </div>
</div>
