<h2 class="page-header">{{title}}</h2>

<tabset>
  <tab>
    <tab-heading>First tab</tab-heading>

    <div class="row ag-panels-row">
      <div class="col-md-6">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel One</h4>
          </div>

          <div class="panel-body">
            <button ng-click="addContent()">add row</button>
            <button ng-click="removeContent()">remove row</button>

            <ul>
              <li ng-repeat="content in contents">{{content.body}}</li>
            </ul>
          </div>

          <div class="panel-footer" ph-txt="1s"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel Two</h4>
          </div>

          <div class="panel-body" ph-txt="2p4s"></div>
          <div class="panel-footer" ph-txt="1s"></div>
        </div>
      </div>
    </div>
  </tab>

  <tab>
    <tab-heading>Second tab</tab-heading>

    <div class="row-fluid ag-panels-row">
      <div class="col-md-4">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel One</h4>
          </div>

          <div class="panel-body" ng-init="loadMore = false">
            <span ph-txt="2p1s"></span>

            <button ng-click="loadMore = !loadMore">show more</button>

            <span ng-show="loadMore" ph-txt="10p"></span>
          </div>
          <div class="panel-footer" ph-txt="1s"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel Two</h4>
          </div>

          <div class="panel-body" ph-txt="3p"></div>
          <div class="panel-footer" ph-txt="2s"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel Three</h4>
          </div>

          <div class="panel-body" ph-txt="1p2s"></div>
          <div class="panel-footer" ph-txt="1s"></div>
        </div>
      </div>
    </div>
  </tab>

  <tab>
    <tab-heading>Third tab</tab-heading>

    <div class="row-fluid ag-panels-row">
      <div class="col-md-3">
        <div class="panel ag-panel panel-default">
          <div class="panel-body" ph-txt="4p3s"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel Two</h4>
          </div>

          <div class="panel-body" ph-txt="2p"></div>
          <div class="panel-footer" ph-txt="4s"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel ag-panel panel-default">
          <div class="panel-body" ph-txt="1p2s"></div>
          <div class="panel-footer" ph-txt="1s"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel ag-panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Panel Four</h4>
          </div>

          <div class="panel-body" ph-txt="10s"></div>
        </div>
      </div>
    </div>
  </tab>

</tabset>

<h3>More panels</h3>

<div class="row-fluid ag-panels-row">
  <div class="col-md-6">
    <div class="panel ag-panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Panel One</h4>
        <button ng-click="toggled = !toggled">toggle</button>
      </div>

      <div ng-show="!toggled" class="panel-body" ph-txt="2p3s"></div>
      <div ng-show="toggled" class="panel-body" ph-txt="1p2s"></div>

      <div class="panel-footer" ph-txt="1s"></div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel ag-panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Panel Two</h4>
      </div>

      <div class="panel-body" ph-txt="1p1s"></div>
      <div class="panel-footer" ph-txt="2s"></div>
    </div>
  </div>
</div>
