<div class="buttons">
  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick">
    Action Jackson
  </ag-dropdown>

  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick" color="primary">
    Action Primary
  </ag-dropdown>

  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick" color="success">
    Action Success
  </ag-dropdown>

  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick" color="info">
    Action info
  </ag-dropdown>

  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick" color="warning">
    Action warning
  </ag-dropdown>

  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick" color="danger">
    Action Danger
  </ag-dropdown>

  <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick" icon="mdi-dots-vertical">
  </ag-dropdown>
</div>
