<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">WELCOME TO CLIP-TWO</h4>
	<span class="mainDescription">overview &amp; stats </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row no-margin">
		<div class="col-lg-3 col-md-6 no-padding">
			<div class="panel panel-azure height-300 no-radius no-border">
				<div class="panel-heading padding-5 padding-bottom-0">
					<span class="triangle-top-right text-white pull-right"></span>
				</div>
				<div class="panel-body no-padding">
					<div class="block text-dark text-center">
						<span class="counter text-bold text-white" count-to="5635" value="0" duration="1" filter="number">5,635</span>
						<h4 class="text-uppercase text-white no-margin">TOTAL VISITS</h4>
						<span class="line-separator line-sm text-white"></span>
						<p>
							<span class="text-white-transparent">Last Month: </span><span class="label background-light text-bold text-dark">+11%</span>
						</p>
						<!-- /// controller:  'BarCtrl2' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
						<div ng-controller="BarCtrl2">
							<canvas class="chart chart-bar height-70" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 no-padding">
			<div class="panel panel-white height-300 no-radius no-border">
				<div class="panel-heading padding-5 padding-bottom-0">
					<span class="triangle-top-right text-light pull-right"></span>
					<h3 class="padding-5"><i class="fa fa-sort-up small text-red margin-right-5"></i><span class="text-bold text-dark margin-right-10">10.6m</span><span class="text-grey">(53%)</span></h3>
				</div>
				<div class="panel-body">
					<div class="text-center">
						<!-- /// controller:  'PerformanceCtrl1' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
						<div class="inline-block" ng-controller="PerformanceCtrl1">
							<ui-knob value="value" options="options"></ui-knob><span class="text-white block">CPU used</span>
						</div>
						<h4 class="text-bold text-light">Sales skills audit</h4>
						<p>
							<span class="text-light margin-right-5">Source:</span><span>CT Sales Skills Audit</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 no-padding">
			<div class="panel panel-purple height-300 no-radius no-border">
				<div class="panel-heading padding-5 padding-bottom-0">
					<span class="triangle-top-right text-white pull-right"></span>
				</div>
				<div class="panel-body no-padding">
					<div class="block text-dark text-center">
						<span class="counter text-bold text-white" count-to="3234" value="0" duration="1" filter="number">3,234</span>
						<span class="counter-symbol text-white">$</span>
						<h4 class="text-uppercase text-white no-margin">CONVERSION RATE</h4>
						<span class="line-separator line-sm text-white"></span>
						<p class="no-margin">
							<span class="text-white-transparent">Last Month: </span><span class="label background-light text-bold text-dark">-16%</span>
						</p>
						<div class="min-height-80">
							<div class="padding-top-20">
								<uib-progressbar value="89" class="progress-xs no-radius background-dark no-margin" type="white"></uib-progressbar>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 no-padding">
			<div class="panel panel-white panel-carousel height-300 no-radius no-border">
				<div class="panel-body no-padding">
					<!-- start: CAROUSEL -->
					<slick dots=true arrows=false infinite=false speed=300 autoplay=true autoplay-speed=6000 slides-to-show=1 slides-to-scroll=1 class="carousel">
						<div class="slide padding-20 height-300" style="background: url('assets/images/carousel/06.jpg')">
							<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Prjects <i class="fa fa-arrow-circle-o-right"></i></h5>
							<letter-icon data="Alpha" color="#947499" box="round" size="lg" class="margin-right-5"></letter-icon><h3 class="inline-block">Project Alpha</h3>
							<div class="block margin-top-10 ">
								<span class="label background-dark text-white margin-top-10 margin-right-5">75%</span><span class="cl-effect-19"></span>
								<a href="#" class="text-extra-small">
									track progress
								</a>
							</div>
						</div>
						<div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
							<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Prjects <i class="fa fa-arrow-circle-o-right"></i></h5>
							<letter-icon data="Omega" color="#7F8C8D" box="round" size="lg" class="margin-right-5"></letter-icon><h3 class="inline-block">Omega</h3>
							<div class="block margin-top-10 ">
								<span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
								<a href="#" class="text-extra-small">
									track progress
								</a>
							</div>
						</div>
					</slick>
					<!-- end: CAROUSEL -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FIRST SECTION -->
<!-- start: SECOND SECTION -->
<div class="container-fluid container-fullw">
	<div class="row no-margin">
		<div class="col-xs-12 no-padding partition-azure no-border">
			<div class="row no-margin">
				<div class="col-md-8 col-lg-9 no-padding">
					<div class="panel panel-white no-radius no-margin">
						<div class="panel-heading border-light padding-30">
							<div class="row">
								<div class="col-lg-4 col-xs-5">
									<span class="input-icon">
										<input type="text" placeholder="Search posts..." id="form-field-14" class="form-control radius-10">
										<i class="ti-search"></i> </span>
								</div>
								<div class="col-lg-8 col-xs-7 text-right">
									<div class="btn-group margin-top-5" uib-dropdown ng-init="selected='Newest'">
										<button id="split-button" type="button" class="btn btn-azure btn-sm">
											Sort by: <span class="text-bold">{{selected}}</span>
										</button>
										<button type="button" class="btn btn-azure btn-sm" uib-dropdown-toggle>
											<span class="caret"></span>
											<span class="sr-only">Split button!</span>
										</button>
										<ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
											<li role="menuitem">
												<a href="#" ng-click="selected='Newest'">
													Newest
												</a>
											</li>
											<li role="menuitem">
												<a href="#" ng-click="selected='Oldest'">
													Oldest
												</a>
											</li>
											<li role="menuitem">
												<a href="#" ng-click="selected='Approved'">
													Approved
												</a>
											</li>
											<li role="menuitem">
												<a href="#" ng-click="selected='In Review'">
													In Review
												</a>
											</li>
											<li class="divider"></li>
											<li role="menuitem">
												<a href="#" ng-click="selected='Declined'">
													Declined
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<table class="table no-margin">
								<tbody>
									<tr>
										<td class="max-width-100">
										<div class="icons-effect">
											<img src="assets/images/portfolio/image01_th.jpg" class="img-responsive img-rounded" alt="">
											<div class="mask mask-rounded">
												<div class="icons-wrapper">
													<div class="icons">
														<a href="#" class="icon">
															<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
														</a>
													</div>
												</div>
											</div>
										</div></td>
										<td>
										<div class="padding-10">
											<div class="block">
												<strong>Multi-slot transclusion</strong><span class="text-muted"> has been approved</span>
											</div>
											<span class="text-small text-muted">An endorsement for </span><span class="text-azure">AngularJs</span>
											<div class="block margin-top-10">
												<span class="label label-success">Approved</span>
											</div>
										</div></td>
										<td class="hidden-xs">
										<div class="block">
											<a href="#" class="margin-right-10 block">
												<i class="fa fa-comments text-azure"></i> Workroom
											</a>
											<a href="#" class="block">
												<i class="fa fa-retweet text-green"></i> Re-Hire
											</a>
										</div></td>
										<td class="visible-lg">
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Subscribers
													<br>
													<strong>156,987</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Female
													<br>
													<strong>38%</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="padding-5">
												<small class="text-muted">Male
													<br>
													<strong>62%</strong></small>
											</div>
										</div></td>
									</tr>
									<tr>
										<td class="max-width-100">
										<div class="icons-effect">
											<img src="assets/images/portfolio/image02_th.jpg" class="img-responsive img-rounded" alt="">
											<div class="mask mask-rounded">
												<div class="icons-wrapper">
													<div class="icons">
														<a href="#" class="icon">
															<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
														</a>
													</div>
												</div>
											</div>
										</div></td>
										<td>
										<div class="padding-10">
											<div class="block">
												<strong>Command Line Interface</strong><span class="text-muted"> has been approved</span>
											</div>
											<span class="text-small text-muted">An endorsement for </span><span class="text-azure">Apple Watch</span>
											<div class="block margin-top-10">
												<span class="label label-warning">In Review</span>
											</div>
										</div></td>
										<td class="hidden-xs">
										<div class="block">
											<a href="#" class="margin-right-10 block">
												<i class="fa fa-comments text-azure"></i> Workroom
											</a>
											<a href="#" class="block">
												<i class="fa fa-retweet text-green"></i> Re-Hire
											</a>
										</div></td>
										<td class="visible-lg">
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Subscribers
													<br>
													<strong>156,987</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Female
													<br>
													<strong>68%</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="padding-5">
												<small class="text-muted">Male
													<br>
													<strong>32%</strong></small>
											</div>
										</div></td>
									</tr>
									<tr>
										<td class="max-width-100">
										<div class="icons-effect">
											<img src="assets/images/portfolio/image03_th.jpg" class="img-responsive img-rounded" alt="">
											<div class="mask mask-rounded">
												<div class="icons-wrapper">
													<div class="icons">
														<a href="#" class="icon">
															<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
														</a>
													</div>
												</div>
											</div>
										</div></td>
										<td>
										<div class="padding-10">
											<div class="block">
												<strong>Tools and Training</strong><span class="text-muted"> has been approved</span>
											</div>
											<span class="text-small text-muted">An endorsement for </span><span class="text-azure">Visual Basic</span>
											<div class="block margin-top-10">
												<span class="label label-danger">Declined</span>
											</div>
										</div></td>
										<td class="hidden-xs">
										<div class="block">
											<a href="#" class="margin-right-10 block">
												<i class="fa fa-comments text-azure"></i> Workroom
											</a>
											<a href="#" class="block">
												<i class="fa fa-retweet text-green"></i> Re-Hire
											</a>
										</div></td>
										<td class="visible-lg">
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Subscribers
													<br>
													<strong>156,987</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Female
													<br>
													<strong>68%</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="padding-5">
												<small class="text-muted">Male
													<br>
													<strong>32%</strong></small>
											</div>
										</div></td>
									</tr>
									<tr>
										<td class="max-width-100">
										<div class="icons-effect">
											<img src="assets/images/portfolio/image05_th.jpg" class="img-responsive img-rounded" alt="">
											<div class="mask mask-rounded">
												<div class="icons-wrapper">
													<div class="icons">
														<a href="#" class="icon">
															<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
														</a>
													</div>
												</div>
											</div>
										</div></td>
										<td>
										<div class="padding-10">
											<div class="block">
												<strong>Angular 2 integration</strong><span class="text-muted"> has been approved</span>
											</div>
											<span class="text-small text-muted">An endorsement for </span><span class="text-azure">AngularJs</span>
											<div class="block margin-top-10">
												<span class="label label-warning">In Review</span>
											</div>
										</div></td>
										<td class="hidden-xs">
										<div class="block">
											<a href="#" class="margin-right-10 block">
												<i class="fa fa-comments text-azure"></i> Workroom
											</a>
											<a href="#" class="block">
												<i class="fa fa-retweet text-green"></i> Re-Hire
											</a>
										</div></td>
										<td class="visible-lg">
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Subscribers
													<br>
													<strong>156,987</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="border-right border-dark padding-5">
												<small class="text-muted">Female
													<br>
													<strong>68%</strong></small>
											</div>
										</div>
										<div class="col-xs-4 no-padding text-center">
											<div class="padding-5">
												<small class="text-muted">Male
													<br>
													<strong>32%</strong></small>
											</div>
										</div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel-footer no-border">
							<p class="no-margin">
								<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i></a>
								<span class="text-light margin-left-10">Show more details </span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 no-padding">
					<div class="panel panel-azure no-border no-radius no-margin">
						<div class="panel-body">
							<ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>
							<h3 class="text-white padding-top-10">In Review</h3>
							<table class="table margin-bottom-5">
								<tbody>
									<tr>
										<td><span class="text-white">Multi-slot transclusion</span></td>
										<td>
										<div class="pull-right margin-top-5">
											<switch ng-model="switchsetting" ng-init="switchsetting = false" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
										</div></td>
									</tr>
									<tr>
										<td><span class="text-white">Command Line Interface</span></td>
										<td>
										<div class="pull-right margin-top-5">
											<switch ng-model="switchsetting2" ng-init="switchsetting2 = false" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
										</div></td>
									</tr>
									<tr>
										<td><span class="text-white">Tools and Training</span></td>
										<td>
										<div class="pull-right margin-top-5">
											<switch ng-model="switchsetting3" ng-init="switchsetting3 = true" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
										</div></td>
									</tr>
									<tr>
										<td><span class="text-white">Angular 2 integration</span></td>
										<td>
										<div class="pull-right margin-top-5">
											<switch ng-model="switchsetting4" ng-init="switchsetting4 = false" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
										</div></td>
									</tr>
								</tbody>
							</table>
							<div class="block text-dark text-center">
								<span class="counter text-bold text-white" count-to="12" value="0" duration="0.4" filter="number">12</span>
								<h4 class="text-uppercase text-white no-margin">Proposal</h4>
								<span class="line-separator line-sm text-white"></span>
								<p class="no-margin">
									<span class="text-white-transparent">Last Month: </span><span class="label background-light text-bold text-dark">16</span>
								</p>
								<!-- /// controller:  'LineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
								<div ng-controller="LineCtrl">
									<canvas class="chart chart-line height-80" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: SECOND SECTION -->
<!-- start: THIRD SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<div class="panel panel-white no-radius no-border">
								<div class="panel-heading">
									<h2 class="inline-block"> Project List </h2>
									<p class="text-muted">
										Keep track of your projects
									</p>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Omega" color="#7F8C8D" size="sm" class="margin-right-5"></letter-icon>
														Omega</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="89" class="progress-xs no-radius background-dark no-margin" type="azure"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Alpha" color="#947499" size="sm" class="margin-right-5"></letter-icon>
														Alpha</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="54" class="progress-xs no-radius background-dark no-margin" type="azure"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Kappa" color="#5A8770" size="sm" class="margin-right-5"></letter-icon>
														Kappa</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="32" class="progress-xs no-radius background-dark no-margin" type="azure"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Zeta" color="#5B9BD1" size="sm" class="margin-right-5"></letter-icon>
														Zeta</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="32" class="progress-xs no-radius background-dark no-margin" type="azure"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Upsilon" color="#315777" size="sm" class="margin-right-5"></letter-icon>
														Upsilon</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="78" class="progress-xs no-radius background-dark no-margin" type="azure"></uib-progressbar></span>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="panel-footer no-border padding-top-0">
									<p class="no-margin">
										<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i> <span class="text-light margin-left-10">Show more details </span></a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-12">
							<div class="panel panel-white no-radius no-border" id="visits">
								<div class="panel-body margin-bottom-10">
									<div class="row padding-bottom-30">
										<div class="col-xs-4 text-center">
											<div class="margin-bottom-10">
												<letter-icon data="Alpha" color="#947499" size="sm" class="margin-right-10"></letter-icon><span class="text-extra-large text-bold">+5,04 %</span>
											</div>
											Alpha
										</div>
										<div class="col-xs-4 text-center">
											<div class="margin-bottom-10">
												<letter-icon data="Omega" color="#7F8C8D" size="sm" class="margin-right-10"></letter-icon><span class="text-extra-large text-bold">+2,21 %</span>
											</div>
											Omega
										</div>
										<div class="col-xs-4 text-center">
											<div class="margin-bottom-10">
												<letter-icon data="Kappa" color="#5A8770" size="sm" class="margin-right-10"></letter-icon><span class="text-extra-large text-bold">+0,68 %</span>
											</div>
											Kappa
										</div>
									</div>
									<!-- /// controller:  'ProductsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
									<div ng-controller="ProductsCtrl">
										<canvas class="chart chart-line height-300" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-12">
							<div class="row">
								<div class="col-md-6 col-lg-12">
									<div class="panel panel-white no-radius no-border">
										<div class="panel-heading no-border">
											<h4 class="panel-title"> Dashboard Users </h4>
										</div>
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="panel-scroll height-180" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
														<table class="table no-margin">
															<tbody>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-1-small.jpg"></td>
																	<td><span class="text-small block text-light">UI Designer</span>
																	<a href="#">
																		Peter Clark
																	</a></td>
																	<td class="text-right"><span class="label partition-purple">Administrator</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-2-small.jpg"></td>
																	<td><span class="text-small block text-light">Content Designer</span>
																	<a href="#">
																		Nicole Bell
																	</a></td>
																	<td class="text-right"><span class="label partition-green">Editor</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-3-small.jpg"></td>
																	<td><span class="text-small block text-light">Visual Designer</span>
																	<a href="#">
																		Steven Thompson
																	</a></td>
																	<td class="text-right"><span class="label partition-blue">Author</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-5-small.jpg"></td>
																	<td><span class="text-small block text-light">Senior Designer</span>
																	<a href="#">
																		Kenneth Ross
																	</a></td>
																	<td class="text-right"><span class="label partition-orange">Contributor</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-4-small.jpg"></td>
																	<td><span class="text-small block text-light">Web Editor</span>
																	<a href="#">
																		Ella Patterson
																	</a></td>
																	<td class="text-right"><span class="label partition-green">Editor</span></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-12">
									<div class="panel panel-white no-radius no-border">
										<div class="panel-heading no-border padding-bottom-0">
											<h4 class="panel-title"> All Earnings </h4>
										</div>
										<div class="panel-body no-padding">
											<!-- /// controller:  'AcquisitionCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
											<div ng-controller="AcquisitionCtrl">
												<canvas class="chart chart-bar height-75" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: THIRD SECTION -->
