/*! _auth.scss | Huro | Css ninja 2020-2021 */

/*
    1. Login page
    2. Login page Dark mode
    3. Remember me toggle
    4. Remember me toggle Dark mode
    5. Signup page
    6. Login / Signup v2
    7. Login / Signup v2 Dark mode
    8. Login / Signup v3
    9. Login / Signup v3 Dark mode
    10. Media Queries
*/

/* ==========================================================================
1. Login page
========================================================================== */

.modern-login {
    position: relative;
    background: $white;
    min-height: 100vh;

    .column {
        &.is-relative {
            position: relative;
        }
    }

    .hero {
        &.has-background-image {
            position: relative;

            .hero-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #5d4298 !important;
                opacity: .6;
            }
        }
    }

    .underlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 66.6%;
        height: 100%;
        background: lighten(#fafafa, 1%);
        z-index: 0;
    }

    .dark-mode {
        position: absolute;
        top: -64px;
        right: 38px;
        transform: scale(0.6);
        z-index: 2;
    }

    .top-logo {
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        img {
            display: block;
            width: 100%;
            max-width: 50px;
            margin: 0 auto;
        }
    }

    .is-image {
        position: relative;
        border-right: 1px solid $fade-grey;

        .hero-image {
            position: relative;
            z-index: 2;
            display: block;
            margin: -80px auto 0 auto;
            max-width: 60%;
            width: 60%;
        }
    }

    .is-form {
        position: relative;
        max-width: 420px;
        margin: 0 auto;

        form {
            animation: fadeInLeft .5s;
        }

        .form-text {
            padding: 0 20px;
            animation: fadeInLeft .5s;

            h2 {
                font-family: $font-alt;
                font-weight: 400;
                font-size: 2rem;
                color: $primary;
            }

            p {
                color: $muted-grey;
                margin-top: 10px;
            }
        }

        .recover-text {
            font-size: .9rem;
            color: $dark-text;
        }

        .login-wrapper {
            padding: 30px 20px;

            .control {
                position: relative;
                width: 100%;
                margin-top: 16px;

                .input {
                    padding-top: 14px;
                    height: 60px;
                    border-radius: 10px;
                    padding-left: 55px;
                    transition: all .3s;

                    &:focus {
                        background: lighten($fade-grey, 6%);
                        border-color: $placeholder;

                        ~ .auth-label, ~ .auth-icon i {
                            color: $muted-grey;
                        }
                    }
                }

                .error-text {
                    color: $danger;
                    font-size: .8rem;
                    display: none;
                    padding: 2px 6px;
                }

                .auth-label {
                    position: absolute;
                    top: 6px;
                    left: 55px;
                    font-size: .8rem;
                    color: $dark-text;
                    font-weight: 500;
                    z-index: 2;
                    transition: all .3s;
                }

                .auth-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 24px;
                        color: $placeholder;
                        transition: all .3s;
                    }
                }

                &.has-validation {
                    .validation-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 60px;
                        width: 60px;
                        display: none;
                        justify-content: center;
                        align-items: center;

                        .icon-wrapper {
                            height: 20px;
                            width: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;

                            svg {
                                height: 10px;
                                width: 10px;
                                stroke-width: 3px;
                                stroke: $white;
                            }
                        }

                        &.is-success {
                            .icon-wrapper {
                                background: $success;
                            }
                        }

                        &.is-error {
                            .icon-wrapper {
                                background: $danger;
                            }
                        }
                    }

                    &.has-success {
                        .validation-icon {
                            &.is-success {
                                display: flex;
                            }

                            &.is-error {
                                display: none;
                            }
                        }
                    }

                    &.has-error {
                        .input {
                            border-color: $danger;
                        }

                        .error-text {
                            display: block;
                        }

                        .validation-icon {
                            &.is-error {
                                display: flex;
                            }

                            &.is-success {
                                display: none;
                            }
                        }
                    }
                }

                &.is-flex {
                    display: flex;
                    align-items: center;

                    a {
                        display: block;
                        margin-left: auto;
                        color: $muted-grey;
                        font-weight: 500;
                        font-size: .9rem;
                        transition: color .3s;

                        &:hover {
                            color: $primary;
                        }
                    }

                    .remember-me {
                        font-size: .9rem;
                        color: $muted-grey;
                        font-weight: 500;
                    }
                }
            }

            .button-wrap {
                margin: 40px 0;

                &.has-help {
                    display: flex;
                    align-items: center;

                    > span {
                        margin-left: 12px;
                        font-family: $font;

                        a {
                            color: $primary;
                            font-weight: 500;
                            padding: 0 2px;
                        }
                    }
                }

                .button {
                    height: 46px;
                    width: 140px;
                    margin-left: 6px;

                    &:first-child {
                        &:hover {
                            opacity: .8;
                        }
                    }

                    &:nth-child(2) {
                        color: $dark-text;
                        border-color: $placeholder;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
2. Login page Dark mode
========================================================================== */

body {
    &.is-dark {
        .modern-login {
            background: $dark-sidebar;

            .underlay {
                background: lighten($dark-sidebar, 10%);
            }

            .is-image {
                border-color: lighten($dark-sidebar, 10%);
            }

            .is-form {
                .form-text {
                    h2 {
                        color: $accent;
                    }
                }

                .login-wrapper {
                    .control {
                        &.is-flex {
                            a:hover {
                                color: $accent;
                            }
                        }

                        .input {
                            background: lighten($dark-sidebar, 4%);

                            &:focus {
                                border-color: $accent;

                                ~ .auth-icon {
                                    i {
                                        color: $accent;
                                    }
                                }
                            }
                        }

                        .auth-label {
                            color: $light-text;
                        }
                    }

                    .button-wrap {
                        &.has-help {
                            span {
                                color: $light-text;

                                a {
                                    color: $accent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Remember me toggle
========================================================================== */

.remember-toggle {
    width: 65px;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: scale(0.9);

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .toggler {
            border-color: $primary;

            .active, .inactive {
                transform: translateX(100%) rotate(360deg);
            }

            .active {
                opacity: 1;
            }

            .inactive {
                opacity: 0;
            }
        }
    }

    .toggler {
        position: relative;
        display: block;
        height: 34px;
        width: 61px;
        border: 2px solid $placeholder;
        border-radius: 100px;
        transition: all .3s;

        .active, .inactive {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(0) rotate(0);
            transition: all .3s ease;

            svg {
                stroke: $white;
                height: 14px;
                width: 14px;
                stroke-width: 3px;
            }
        }

        .inactive {
            background: $placeholder;
            border-color: $placeholder;
            opacity: 1;
            z-index: 1;
        }

        .active {
            background: $primary;
            border-color: $primary;
            opacity: 0;
            z-index: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .modern-login {
        .top-logo {
            top: 30px;
        }

        .is-form {
            padding-top: 100px;
        }
    }
}

/* ==========================================================================
3. Remember me toggle Dark mode
========================================================================== */

body {
    &.is-dark {
        .remember-toggle {
            input {
                &:checked + .toggler {
                    border-color: $accent;

                    > span {
                        background: $accent;
                    }
                }
            }

            .toggler {
                border-color: lighten($dark-sidebar, 12%);

                > span {
                    background: lighten($dark-sidebar, 12%);
                }
            }
        }
    }
}

/* ==========================================================================
4. Sign up
========================================================================== */

.signup-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 99;

    .signup-nav-inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            img {
                display: block;
                min-width: 48px;
                max-width: 48px;
            }
        }
    }
}

.upload-signup-modal {
    .upload-demo-wrap {
        .filepond-profile-wrap {
            display: block;
            margin: 0 auto;
        }
    }
}

.signup-steps {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 380px;

    .steps-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .progress {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            width: calc(100% - 80px);
            margin: 0 auto;
            height: .35rem !important;
            background-color: $white;
            z-index: 0;

            &::-webkit-progress-value {
                background-color: $primary;
                transition: width 0.5s ease;
            }

            &::-moz-progress-bar {
                background-color: $primary;
                transition: width 0.5s ease;
            }

            &::-ms-fill {
                background-color: $primary;
                transition: width 0.5s ease;
            }
        }

        .step-icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 46px;
            width: 46px;
            border-radius: 50%;
            background: $fade-grey;
            cursor: pointer;
            z-index: 1;

            &.is-active {
                .inner {
                    background: $white;
                    border-color: $primary;

                    svg {
                        stroke: $primary;
                    }
                }
            }

            &.is-done {
                .inner {
                    background: $primary;
                    border-color: $primary;

                    svg {
                        stroke: $smoke-white;
                    }
                }
            }

            &.is-inactive {
                pointer-events: none;
            }

            .inner {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 2px solid $accent-grey;
                background: $accent-grey;
            }

            .step-label {
                position: absolute;
                top: 45px;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                min-width: 100px;
                transform: translateX(-25%);
                font-size: .8rem;
                font-weight: 500;
                color: $dark-text;
            }

            svg {
                height: 16px;
                width: 16px;
                stroke: $muted-grey;
            }
        }
    }
}

.signup-columns {
    animation: fadeInLeft .5s;
}

.signup-wrapper {
    position: relative;
    min-height: 100vh;
    background: $fade-grey;

    .card-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 90%;
        transition: all .3s;

        &.faded {
            opacity: 0;
        }
    }

    .signup-title {
        font-family: $font-alt;
        color: $dark-text;
    }

    .signup-subtitle {
        font-family: $font;
        color: $muted-grey;
        font-size: 1rem;
    }

    .hero {
        .signup-form {
            .control {
                position: relative;
                width: 100%;

                &.has-switch {
                    display: flex;
                    align-items: center;

                    span {
                        display: block;
                        color: $muted-grey;
                    }
                }

                &.is-agree {
                    span {
                        color: darken($placeholder, 8%);

                        a {
                            color: $muted-grey;
                            font-weight: 500;
                            transition: color .3s;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }

                .input {
                    padding-top: 10px;
                    height: 60px;
                    padding-left: 10px;
                    border-radius: 8px;
                    transition: all .3s;

                    &:focus {
                        background: lighten($fade-grey, 6%);
                        border-color: $placeholder;

                        ~ .auth-label, ~ .auth-icon i {
                            color: $muted-grey;
                        }
                    }
                }

                .error-text {
                    color: $danger;
                    font-size: .8rem;
                    display: none;
                    padding: 2px 6px;
                }

                .auth-label {
                    position: absolute;
                    top: 6px;
                    left: 10px;
                    font-size: .8rem;
                    color: $dark-text;
                    font-weight: 500;
                    z-index: 2;
                    transition: all .3s;
                }

                .auth-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 24px;
                        color: $placeholder;
                        transition: all .3s;
                    }
                }

                &.has-validation {
                    .validation-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 60px;
                        width: 60px;
                        display: none;
                        justify-content: center;
                        align-items: center;

                        .icon-wrapper {
                            height: 20px;
                            width: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;

                            svg {
                                height: 10px;
                                width: 10px;
                                stroke-width: 3px;
                                stroke: $white !important;
                            }
                        }

                        &.is-success {
                            .icon-wrapper {
                                background: $success;
                            }
                        }

                        &.is-error {
                            .icon-wrapper {
                                background: $danger;
                            }
                        }
                    }

                    &.has-success {
                        .validation-icon {
                            &.is-success {
                                display: flex;
                            }

                            &.is-error {
                                display: none;
                            }
                        }
                    }

                    &.has-error {
                        .input {
                            border-color: $danger;
                        }

                        .error-text {
                            display: block;
                        }

                        .validation-icon {
                            &.is-error {
                                display: flex;
                            }

                            &.is-success {
                                display: none;
                            }
                        }
                    }
                }

                &.is-flex {
                    display: flex;
                    align-items: center;

                    a {
                        display: block;
                        margin-left: auto;
                        color: $muted-grey;
                        font-weight: 500;
                        font-size: .9rem;
                        transition: color .3s;

                        &:hover {
                            color: $primary;
                        }
                    }

                    .remember-me {
                        font-size: .9rem;
                        color: $muted-grey;
                        font-weight: 500;
                    }
                }
            }
        }

        .button-wrap {
            margin: 20px 0 0 0;

            &.has-help {
                display: flex;
                align-items: center;

                > span {
                    margin-left: 12px;
                    font-family: $font;

                    a {
                        color: $primary;
                        font-weight: 500;
                        padding: 0 3px;
                    }
                }
            }

            &.is-centered {
                margin-top: 40px;
                text-align: center;

                .button {
                    min-width: 180px;
                    margin-left: 0 !important;
                }
            }

            .button {
                height: 46px;
                width: 190px;
                margin-left: 6px;

                &:first-child {
                    &:hover {
                        opacity: .95;
                        box-shadow: $primary-box-shadow;
                    }
                }

                &:nth-child(2) {
                    color: $dark-text;
                    border-color: $placeholder;
                }
            }
        }

        .signup-type {
            display: flex;
            align-items: center;

            .box-wrap {
                width: 100%;
                position: relative;

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;

                    &:checked + .signup-box {
                        border-color: $primary;

                        i {
                            color: $primary;
                        }

                        .meta {
                            span:first-child {
                                color: $primary;
                            }
                        }
                    }
                }

                .signup-box {
                    display: flex;
                    align-items: center;
                    padding: 12px;
                    background: $white;
                    border: 1px solid darken($fade-grey, 3%);
                    border-radius: 6px;
                    transition: all .3s;

                    i {
                        font-size: 2rem;
                        color: $muted-grey;
                    }

                    .meta {
                        margin-left: 10px;

                        span {
                            display: block;

                            &:first-child {
                                font-size: .85rem;
                                font-weight: 500;
                                color: $dark-text;
                            }

                            &:nth-child(2) {
                                font-size: .8rem;
                                color: $muted-grey;
                            }
                        }
                    }
                }

                &:first-child {
                    margin-right: 6px;
                }

                &:nth-child(2) {
                    margin-left: 6px;
                }
            }
        }
    }
}

.signup-profile-wrapper {
    padding: 80px 60px 10px 60px;

    .title, .subtitle {
        text-align: center;
    }

    .title {
        font-family: $font-alt;
        font-size: 1.4rem;
    }

    .subtitle {
        font-family: $font;
        font-size: 1rem;
    }

    .picture-selector, .skill-picture-selector {
        width: 100%;
        text-align: center;

        .image-container {
            position: relative;
            width: 140px;
            height: 140px;
            margin: 10px auto;
            border-radius: 50%;

            img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                display: block;
                border: 4px solid #e8e8e8;
                margin-left: -1px;
            }

            .upload-button {
                position: absolute;
                bottom: 18px;
                right: 0;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                border-radius: 50%;
                border: 1px solid darken($fade-grey, 4%);
                z-index: 5;
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    box-shadow: $light-box-shadow;
                }

                svg {
                    height: 16px;
                    width: 16px;
                    stroke: $dark-text;
                }
            }
        }
    }
}

.avatar-carousel {
    text-align: center;
    max-width: 550px;
    margin: 0 auto 20px auto;

    &:hover .slick-custom {
        opacity: 1;
    }

    .carousel-item {
        margin: 0 10x;
    }

    .image-wrapper {
        position: relative;

        &.is-smaller img {
            height: 70px;
            width: 70px;
        }

        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin: 0 auto;
            transition: all .3s;
        }
    }

    .slick-slide {
        max-width: 120px;
        text-align: center;
        cursor: pointer;

        &:focus {
            outline: none !important;
        }

        img {
            opacity: 0.6;
            border: 4px solid transparent;
            transform: scale(0.75);
        }

        &.slick-current {
            img {
                opacity: 1;
                transform: scale(1);
                border: 2px solid $primary;
            }
        }
    }

    .slick-custom {
        opacity: 0;

        &.is-prev {
            left: -45px;
        }

        &.is-next {
            right: -45px;
        }
    }

    .slick-dots {
        bottom: -60px !important;
    }

    .slick-prev:before, .slick-next:before {
        color: $muted-grey;
    }

    .slick-custom {
        position: absolute;
        top: calc(50% - 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $fade-grey;
        width: 30px;
        height: 30px;
        background: $white;
        border-radius: 100px;
        cursor: pointer;
        color: $dark-text;
        transition: all 0.3s;
        z-index: 25;

        svg {
            height: 16px;
            width: 16px;
            stroke: $primary;
            transition: all .3s;
        }

        &:hover {
            border-color: darken($fade-grey, 4%);
            color: $white;
            box-shadow: $light-box-shadow;
        }

        &.is-prev {
            left: -6px;
        }

        &.is-next {
            right: -6px;
        }
    }
}

.username-form {
    padding-top: 80px;
}

/* ==========================================================================
5. Sign up Dark mode
========================================================================== */

body {
    &.is-dark {

        .signup-wrapper {
            background: lighten($dark-sidebar, 10%);
        }

        .signup-steps {
            .steps-container {

                .progress {
                    &::-webkit-progress-value {
                        background: $accent;
                    }
                
                    &::-moz-progress-bar {
                        background: $accent;
                    }
                
                    &::-ms-fill {
                        background: $accent;
                    }
                }

                .step-icon {
                    background: lighten($dark-sidebar, 7%);

                    &.is-active {
                        background: lighten($dark-sidebar, 16%);

                        .inner {
                            background: $accent;

                            svg {
                                stroke: $white;
                            }
                        }

                        .step-label {
                            color: $accent;
                            opacity: 1;
                        }
                    }

                    .inner {
                        background: lighten($dark-sidebar, 9%);
                        border-color: lighten($dark-sidebar, 9%);
                    }

                    .step-label {
                        color: $dark-dark-text;
                        opacity: .6;
                    }
                }
            }
        }

        .hero {
            .signup-form {
                .control {

                    .auth-label {
                        color: $light-text;
                    }

                    .input {
                        &:focus {
                            background: darken($dark-sidebar, 4%);
                            border-color: lighten($dark-sidebar, 12%);
    
                            ~ .auth-label, ~ .auth-icon i {
                                color: $accent;
                            }
                        }
                    }
                }

                .signup-type {
                    .box-wrap {

                        input {
                            &:checked + .signup-box {
                                border-color: $accent;
        
                                i {
                                    color: $accent;
                                }
        
                                .meta {
                                    span:first-child {
                                        color: $accent;
                                    }
                                }
                            }
                        }

                        .signup-box {
                            background-color: lighten($dark-sidebar, 2%);
                            border-color: lighten($dark-sidebar, 4%);

                            .meta {
                                span:first-child {
                                    color: $dark-dark-text;
                                }
                            }
                        }
                    }
                }

                .button-wrap {
                    &.has-help {
                        > span {
                            color: $light-text;
        
                            a {
                                color: $accent;
                            }
                        }
                    }
                }
            }
        }

        .signup-profile-wrapper {
            .picture-selector {
                .image-container {
                    img {
                        border-color: lighten($dark-sidebar, 10%);
                    }

                    .upload-button {
                        background-color: lighten($dark-sidebar, 2%);
                        border-color: lighten($dark-sidebar, 10%);

                        svg {
                            stroke: $light-text;
                        }
                    }
                }
            }
        }

        .divider-container {
            .divider {
                span {
                    &::before, &::after {
                        border-color: lighten($dark-sidebar, 18%);
                    }
                }
            }
        }

        .avatar-carousel {
            .slick-slide {
                &.slick-current {
                    img {
                        border-color: $accent;
                    }
                }
            }

            .slick-custom {
                background-color: lighten($dark-sidebar, 2%);
                border-color: lighten($dark-sidebar, 10%);
                
                &::before, &::after {
                    color: $light-text;
                }
            }
        }
    }
}

/* ==========================================================================
6. Login / Signup v2
========================================================================== */

.auth-wrapper-inner {
    overflow: hidden !important;
    height: 100%;
    padding: 0;
    margin: 0;

    &.is-gapless:not(:last-child) {
        margin-bottom: 0 !important;
    }

    &.is-single {
        background: $widget-grey;
        min-height: 100vh;
    }

    .hero-banner {
        background: $widget-grey;
    }

    .hero-heading {
        position: relative;
        max-width: 360px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0 0 0;

        .dark-mode {
            position: absolute;
            top: 24px;
            right: 24px;
            transform: scale(0.6);
            z-index: 2;
        }

        .auth-logo {
            display: flex;
            justify-content: center;

            .top-logo {
                height: 42px;
            }
        }
    }

    .hero {
        &.is-white {
            background: $white;
        }

        .hero-body {
            .login {
                padding: 10px 0;
            }

            .auth-content {
                max-width: 320px;
                width: 100%;
                margin: 0 auto;
                margin-top: -40px;
                margin-bottom: 40px;

                h2 {
                    font-size: 2rem;
                    font-family: $font;
                    line-height: 1;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 8px;
                    color: $muted-grey;
                }

                a {
                    font-size: .9rem;
                    font-family: $font-alt;
                    font-weight: 500;
                    color: $primary;
                }
            }

            .auth-form-wrapper {
                max-width: 320px;
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .forgot-link {
        margin-top: 10px;

        a {
            font-family: $font-alt;
            font-size: .9rem;
            color: $light-text;
            transition: color .3s;

            &:hover {
                color: $primary;
            }
        }
    }

    .setting-item {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .setting-meta {
            font-family: $font;
            color: $light-text;
            margin-left: 8px;
        }
    }

    .h-button {
        min-height: 44px;
    }
}

/* ==========================================================================
7. Login / Signup v2 Dark mode
========================================================================== */

body {
    &.is-dark {
        .auth-wrapper-inner {
            .hero-banner {
                background: lighten($dark-sidebar, 4%);
            }

            .hero {
                &.is-white {
                    background: darken($dark-sidebar, 4%);
                }

                .hero-body {
                    .auth-content {
                        h2 {
                            color: $dark-dark-text;
                        }

                        a {
                            color: $accent;
                        }
                    }
                }
            }

            .forgot-link {
                a:hover {
                    color: $accent;
                }
            }
        }
    }
}

/* ==========================================================================
8. Login / Signup v3
========================================================================== */

.auth-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .left, .right {
        display: flex;
        align-items: center;
        width: 20%;
    }

    .right {
        justify-content: flex-end;

        .dark-mode {
            transform: scale(0.7);
        }
    }

    .center {
        flex-grow: 2;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                max-width: 50px;
            }
        }
    }
}

.auth-wrapper-inner {
    .single-form-wrap {
        min-height: 690px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-wrap {
            width: 100%;
            max-width: 400px;
            margin: 40px auto 0 auto;

            .auth-head {
                max-width: 320px;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 20px;
                text-align: center;

                h2 {
                    font-size: 2rem;
                    font-family: $font;
                    line-height: 1;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 8px;
                    color: $muted-grey;
                }

                a {
                    font-size: .9rem;
                    font-family: $font-alt;
                    font-weight: 500;
                    color: $primary;
                }
            }

            .form-card {
                background: $white;
                border: 1px solid darken($fade-grey, 3%);
                border-radius: 10px;
                padding: 50px;
                margin-bottom: 16px;

                .h-button {
                    margin-top: 10px;
                }
            }
        }
    }
}

/* ==========================================================================
9. Login / Signup v3 Dark mode
========================================================================== */

body {
    &.is-dark {
        .auth-wrapper-inner {
            &.is-single {
                background: lighten($dark-sidebar, 4%);

                .single-form-wrap {
                    .inner-wrap {
                        .auth-head {
                            h2 {
                                color: $dark-dark-text;
                            }

                            a {
                                color: $accent;
                            }
                        }

                        .form-card {
                            background: darken($dark-sidebar, 4%);
                            border-color: lighten($dark-sidebar, 1%);
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
10. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    .avatar-carousel {
        &.resized-mobile {
            max-width: 300px;
        }

        .slick-custom {
            display: none !important;
        }

        .image-wrapper img {
            height: auto;
        }
    }

    .auth-wrapper-inner {
        .hero {
            .hero-body {
                .auth-content {
                    text-align: center !important;
                }
            }
        }

        .single-form-wrap {
            .inner-wrap {
                .form-card {
                    padding: 40px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .modern-login {
        .top-logo {
          svg {
            height: 60px;
            width: 60px;
          }
        }
    
        .dark-mode {
          top: -58px;
          right: 30%;
        }
    
        .columns {
          display: flex;
          height: 100vh;
        }
      }

    .auth-wrapper-inner {
        .hero {
            .hero-body {
                .auth-content {
                    text-align: center !important;
                }
            }
        }
    }

    .signup-columns {
        max-width: 460px;
        margin: 0 auto;
    }

}