<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ page.base_path }}assets/js/jquery.js"></script>
<script src="{{ page.base_path }}assets/js/bootstrap.js"></script>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ page.base_path }}assets/js/holder.js"></script>

<script src="{{ page.base_path }}assets/js/application.js"></script>

{% if page.slug == "customize" %}
<script src="{{ page.base_path }}assets/js/less.js"></script>
<script src="{{ page.base_path }}assets/js/jszip.js"></script>
<script src="{{ page.base_path }}assets/js/uglify.js"></script>
<script src="{{ page.base_path }}assets/js/filesaver.js"></script>
<script src="{{ page.base_path }}assets/js/raw-files.js"></script>
<script src="{{ page.base_path }}assets/js/customizer.js"></script>
{% endif %}
