<li>
  <a href="#forms-basic">Basic example</a>
</li>
<li>
  <a href="#forms-validation">Form validations</a>
  <ul class="nav">
    <li>
      <a href="#forms-validation-ag-field-group">agFieldGroup directive</a>
    </li>
    <li>
      <a href="#forms-validation-ag-validation-errors">agValidationErrors directive</a>
    </li>
    <li>
      <a href="#forms-validation-ag-server-validation-errors">agServerValidationErrors directive</a>
    </li>
  </ul>
</li>
<li>
  <a href="#form-ag-submit-button">agSubmitButton directive</a>
</li>
<li>
  <a href="#form-ag-delete-button">agDeleteButton directive</a>
</li>
