<li>
  <a href="#develop">Develop AngleGrinder <i class="icon-chevron-right"></i></a>
  <ul class="nav">
    <li>
      <a href="#develop-checkout">Checkout from github repo</a>
    </li>
    <li>
      <a href="#develop-install-nodejs">Install nodejs</a>
    </li>
    <li>
      <a href="#develop-install-libraries">Install required tools and libraries</a>
    </li>
    <li>
      <a href="#develop-install-phantomjs">Install PhantomJS and CasperJS</a>
    </li>
    <li>
      <a href="#develop-grunt-tasts">Grunt tasks</a>
    </li>
    <li>
      <a href="#develop-running-tests">Running tests</a>
    </li>
    <li>
      <a href="#develop-running-app">Running the example application</a>
    </li>
    <li>
      <a href="#develop-directory-structure">Directory structure</a>
    </li>
  </ul>
</li>
<li>
  <a href="#develop-building">Building the app</a>
</li>
