<li>
  <a href="#develop"><i class="icon-chevron-right"></i> Develop AngleGrinder</i></a>
</li>
<li>
  <a href="#develop-checkout"><i class="icon-chevron-right"></i> Checkout from github repo</a>
</li>
<li>
  <a href="#develop-install-nodejs"><i class="icon-chevron-right"></i> Install nodejs</a>
</li>
<li>
  <a href="#develop-install-libraries"><i class="icon-chevron-right"></i> Install required tools and libraries</a>
</li>
<li>
  <a href="#develop-install-phantomjs"><i class="icon-chevron-right"></i> Install PhantomJS and CasperJS</a>
</li>
<li>
  <a href="#develop-grunt-tasts"><i class="icon-chevron-right"></i> Grunt tasks</a>
</li>
<li>
  <a href="#develop-running-tests"><i class="icon-chevron-right"></i> Running tests</a>
</li>
<li>
  <a href="#develop-running-app"><i class="icon-chevron-right"></i> Running the example application</a>
</li>
<li>
  <a href="#develop-directory-structure"><i class="icon-chevron-right"></i> Directory structure</a>
</li>
<li>
  <a href="#develop-building"><i class="icon-chevron-right"></i> Building the app</a>
</li>
