<form name="editForm" novalidate class="form-horizontal no-margin" ng-submit="save(editForm, org)">

  <div ag-field-group for="phone">
    <label class="control-label">Phone</label>

    <div class="controls">
      <input type="text" name="phone" placeholder="Phone number"
             ng-model="org.phone" autofocus required/>
      <ag-validation-errors for="phone" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="state">
    <label class="control-label">State</label>

    <div class="controls">
      <input type="text" name="state" placeholder="Enter state"
             ng-model="org.state" autofocus required/>
      <ag-validation-errors for="state" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="city">
    <label class="control-label">City</label>

    <div class="controls">
      <input type="text" name="city" placeholder="Enter city name"
             ng-model="org.city" autofocus required/>
      <ag-validation-errors for="city" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="zip">
    <label class="control-label">Zip Code</label>

    <div class="controls">
      <input type="text" name="zip" placeholder="Enter zip code"
             ng-model="org.zip" autofocus required/>
      <ag-validation-errors for="zip" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="street">
    <label class="control-label">Street</label>

    <div class="controls">
      <input type="text" name="street" placeholder="Enter street name"
             ng-model="org.street" autofocus required/>
      <ag-validation-errors for="street" required="This field is required"/>
    </div>
  </div>

  <div class="form-actions">
    <ag-submit-button></ag-submit-button>
  </div>

</form>
