<div ng-controller="tabbedOrg.NoteListCtrl">
  <div class="nav navbar-toolbar navbar-grid">
    <div class="navbar-inner with-selected-pointer with-grid-options">
      <ul class="nav">
        <li class="col-md-3">
          <a href="" ng-click="createRecord()">
            <i class="fa fa-user"></i> Create note
          </a>
        </li>
          <li>
              <ag-grid-quick-search  for="contactsGrid" filters="filters.quickSearch"></ag-grid-quick-search>
          </li>
      </ul>

    </div>
  </div>

  <div ng-show="gridOptions"
       ag-grid="gridOptions"
       ag-grid-name="notesGrid"></div>
</div>
