<div ng-controller="tabbedOrg.orgShowCaseCtrl">
    <legend>Example Local Date</legend>
    <form name="showCaseForm" class="form-horizontal" novalidate
          ng-submit="save(orgShowCase)">
        <div ag-field-group for="exampleLocalDate" class="form-group row">
            <label class="control-label col-md-2">Local Date</label>

            <div class="controls">
                <div ag-datepicker ag-trim-time="orgShowCase.exampleLocalDate">
                    <input type="text"
                           ng-model="orgShowCase.exampleLocalDate"
                           name="exampleLocalDate"/>
                </div>

                <ag-validation-errors for="exampleLocalDate"/>
            </div>
        </div>

        <div ag-field-group class="form-group row">
            <label class="control-label col-md-2">Got from server:</label>

            <div class="col-md-10">{{tzShowCase.exampleLocalDate}}</div>
        </div>

        <div ag-field-group class="form-group row">
            <label class="control-label col-md-2">Will be send to server:</label>

            <div class="controls col-md-10">{{orgShowCase.exampleLocalDate}}</div>
        </div>

        <legend>Post Date</legend>

        <div ag-field-group for="exampleDateTime" class="form-group row">
            <label class="control-label col-md-2">Date Time</label>

            <div class="col-md-10">
                <div ag-datepicker>
                    <input type="text"
                           ng-model="orgShowCase.exampleDateTime"
                           name="exampleDateTime"/>
                </div>

                <ag-validation-errors for="exampleDateTime"/>
            </div>
        </div>

        <div ag-field-group class="form-group row">
            <label class="control-label col-md-2">Got from server:</label>

            <div class="controls col-md-10">{{tzShowCase.exampleDateTime}}</div>
        </div>

        <div ag-field-group class="form-group row">
            <label class="control-label col-md-2">Will be send to server:</label>

            <div class="col-md-10">{{orgShowCase.exampleDateTime}}</div>
        </div>

        <legend>Reminder Date</legend>
        <div ag-field-group for="exampleDate" class="form-group row">
            <label class="control-label col-md-2">Date</label>

            <div class=" col-md-10">
                <div ag-datepicker>
                    <input type="text"
                           ng-model="orgShowCase.exampleDate"
                           name="exampleDate"/>
                </div>

                <ag-validation-errors for="exampleDate"/>
            </div>
        </div>

        <div ag-field-group class="form-group row">
            <label class="control-label col-md-2">Got from server:</label>

            <div class="col-md-10">{{tzShowCase.exampleDate}}</div>
        </div>

        <div ag-field-group class="form-group row">
            <label class="control-label col-md-2">Will be send to server:</label>

            <div class="col-md-10">{{orgShowCase.exampleDate}}</div>
        </div>
        <ag-submit-button></ag-submit-button>
    </form>
</div>