<div class="ag-panels-row" ng-controller="org.ListCtrl">
  <h3 class="page-header">Org list</h3>

  <div class="ag-panel">
    <div ng-show="showSearchForm" class="search-form-panel">
         <div ng-include="'/templates/tabbedOrg/searchForm.html' | withContext"></div>
    </div>

    <div class="navbar navbar-toolbar navbar-grid navbar-default">
        <div class="navbar-inner with-selected-pointer with-grid-options">
            <ul class="nav navbar-nav col-sm-4">
              <li class="dropdown selected-actions">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left:2px">
                      <i class="fa fa-selected-pointer"></i> Actions <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="" ng-click="massUpdate()"><i class="fa fa-pencil-square-o"></i> Mass update</a></li>
                  </ul>
              </li>
              <li class="divider-vertical"></li>
                  <li>
                      <a href="#/create">
                          <i class="fa fa-user"></i> Create org
                      </a>
                  </li>
            </ul>
            <ag-panel-states>
                <ag-reload-grid for="grid.org"></ag-reload-grid>
            </ag-panel-states>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a title="search screen" ng-click="showSearchForm = !showSearchForm" href="">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
            <ag-grid-quick-search for="grid.org" filters="filters"></ag-grid-quick-search>
        </div>
    </div>

    <div ag-grid="gridOptions"
         ag-grid-name="grid.org"></div>
  </div>
</div>
