<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/"><i class="icon-list"></i> Org List</a></li>
    <li><a class="create" href="#/create"><i class="icon-plus"></i> New org</a></li>
  </ul>
</div>

<div class="content">
  <h3 class="page-header">Org show</h3>

  <div class="pager" ng-if="gridPager.show()">
    <a href="" ng-click="gridPager.prevRow()">&#8592; prev</a> |
    <a href="" ng-click="gridPager.nextRow()">next &#8594;</a>
  </div>

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{org.id}}</dd>

    <dt>Name</dt>
    <dd>{{org.name}}</dd>

    <dt>Num</dt>
    <dd>{{org.num}}</dd>
  </dl>

  <ag-tabset>
    <ag-tab template-url="/templates/tabbedOrg/_address.html">
      <ag-tab-heading><i class="icon-envelope"></i> Address</ag-tab-heading>
    </ag-tab>

    <ag-tab template-url="/templates/tabbedOrg/_contacts.html">
      <ag-tab-heading><i class="icon-user"></i> Contacts</ag-tab-heading>
    </ag-tab>

    <ag-tab template-url="/templates/tabbedOrg/_notes.html">
      <ag-tab-heading><i class="icon-user"></i> Notes</ag-tab-heading>
    </ag-tab>
  </ag-tabset>
</div>
