@mixin make_avatar_size($dim, $dot_dim, $dot_pos, $dot_border) {
  max-width: $dim;
  min-width: $dim;
  max-height: $dim;

  &.has-dot {
    &:after {
      content: "";
      top: $dot_pos,;
      right: $dot_pos,;
      height: $dot_dim;
      width: $dot_dim;
      border-width: $dot_border;
    }

    &.has-dot-squared {
      &:after {
        top: -2px;
        right: -2px;
      }
    }
  }

  .avatar-img {
    width: $dim;
    min-width: $dim;
    height: $dim;

    &.is-squared {
      border-radius: $dim * .25 !important;
    }

    &.is-letter,
    &.is-more {
      width: $dim;
      min-width: $dim;
      height: $dim;

      .inner {
        width: $dim - 2px;
        min-width: $dim - 2px;
        height: $dim - 2px;
      }

      span {
        font-size: $dim * .5;
      }
    }
  }

  .badge {
    border-width: 1px;
    width: $dim * .5;
    height: $dim * .5;
  }
}

.avatar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  // flex-basis: auto;
  // flex-grow: 0;
  // flex-shrink: 0;

  &.has-dot {
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      right: 1px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: $success;
      border: 2px solid $white;
    }

    &.has-dot-squared {
      &:after {
        top: -3px;
        right: -3px;
      }
    }

    &.dot-primary {
      &:after {
        background: $primary;
      }
    }

    &.dot-info {
      &:after {
        background: $info;
      }
    }

    &.dot-warning {
      &:after {
        background: $warning;
      }
    }

    &.dot-danger {
      &:after {
        background: $danger;
      }
    }

    &.dot-grey {
      &:after {
        background: $text-lighter;
      }
    }
  }

  .avatar-img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    object-fit: cover;

    &.is-squared {
      border-radius: 10px !important;
    }

    &.is-letter {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $fade-grey;
      border-radius: 50%;

      span {
        position: relative;

        //top: -1px;
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: $white;
      }
    }

    &.is-more {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      .inner {
        width: 40px;
        min-width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: lighten($fade-grey, 2%);
        border: 1px solid $fade-grey;

        span {
          line-height: 1;
          position: relative;

          //top: -1px;
          left: -3px;
          display: block;
          font-size: 0.9rem;
          font-weight: 500;
          color: $text-lighter;
        }
      }
    }
  }

  .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16px;
    width: 16px;
    border: 1.4px solid $white;
  }

  img {
    display: block;
    border-radius: 50%;
  }

  &.is-xs {
    @include make_avatar_size(24px, 8px, 0, 1.4px);
  }

  &.is-small {
    @include make_avatar_size(32px, 10px, 1px, 2px);
  }

  &.is-medium {
    @include make_avatar_size(50px, 12px, 2px, 2px);
  }

  &.is-large {
    @include make_avatar_size(68px, 14px, 3px, 2px);
  }

  &.is-xl {
    @include make_avatar_size(80px, 16px, 4px, 3px);
  }

  &.is-xxl {
    @include make_avatar_size(100px, 18px, 5px, 3px);
  }

}

.avatar-stack {
  display: flex;

  .avatar-img {
    border-radius: 50%;

    &.is-small {
      border-radius: 50%;

      &:not(:first-child) {
        $var: 12;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            margin-left: -#{$var}px;
          }
        }
      }

      img,
      .is-letter,
      .is-more .inner {
        border: 2px solid $white;
      }
    }

    &.is-medium {
      border-radius: 50%;

      &:not(:first-child) {
        $var: 16;

        @for $i from 1 through 99 {
          &:nth-child(#{$i}) {
            margin-left: -#{$var}px;
          }
        }
      }

      img,
      .is-letter,
      .is-more .inner {
        border: 4px solid $white;
      }
    }

    &:not(:first-child) {
      $var: 14;

      @for $i from 1 through 99 {
        &:nth-child(#{$i}) {
          margin-left: -#{$var}px;
        }
      }
    }

    img,
    .is-letter,
    .is-more .inner {
      border: 2px solid $white;
    }
  }
}

.avatar-img.is-letter {
  &.letter-color-a {
    background-color: #5a8770 !important;
  }

  &.letter-color-b {
    background-color: #c0392b !important;
  }

  &.letter-color-c {
    background-color: #6fa9ab !important;
  }

  &.letter-color-d {
    background-color: #f5af29 !important;
  }

  &.letter-color-e {
    background-color: #0088b9 !important;
  }

  &.letter-color-f {
    background-color: #f18636 !important;
  }

  &.letter-color-g {
    background-color: #d35400 !important;
  }

  &.letter-color-h {
    background-color: #a6b12e !important;
  }

  &.letter-color-i {
    background-color: #9b59b6 !important;
  }

  &.letter-color-j {
    background-color: #f5888d !important;
  }

  &.letter-color-k {
    background-color: #b49255 !important;
  }

  &.letter-color-l {
    background-color: #407887 !important;
  }

  &.letter-color-m {
    background-color: #7f8c8d !important;
  }

  &.letter-color-n {
    background-color: #1abc9c !important;
  }

  &.letter-color-o {
    background-color: #be5464 !important;
  }

  &.letter-color-p {
    background-color: #3dc34b !important;
  }

  &.letter-color-q {
    background-color: #64471e !important;
  }

  &.letter-color-r {
    background-color: #2d59d7 !important;
  }

  &.letter-color-s {
    background-color: #616f51 !important;
  }

  &.letter-color-t {
    background-color: #4da7ce !important;
  }

  &.letter-color-u {
    background-color: #afaf50 !important;
  }

  &.letter-color-v {
    background-color: #008c69 !important;
  }

  &.letter-color-w {
    background-color: #947499 !important;
  }

  &.letter-color-x {
    background-color: #328e93 !important;
  }

  &.letter-color-y {
    background-color: #eab71c !important;
  }

  &.letter-color-z {
    background-color: #407887 !important;
  }

  &.letter-color-0 {
    background-color: #92b74a !important;
  }

  &.letter-color-1 {
    background-color: #51a8b9 !important;
  }

  &.letter-color-2 {
    background-color: #e4bd02 !important;
  }

  &.letter-color-3 {
    background-color: #ed726d !important;
  }

  &.letter-color-4 {
    background-color: #3e7b02 !important;
  }

  &.letter-color-5 {
    background-color: #ee3e02 !important;
  }

  &.letter-color-6 {
    background-color: #976eca !important;
  }

  &.letter-color-7 {
    background-color: #e27c4b !important;
  }

  &.letter-color-8 {
    background-color: #754634 !important;
  }

  &.letter-color-9 {
    background-color: #667268 !important;
  }
}
