/* ------------------------------------------------------------- */
/* List (material-ish)
/* https://material.io/components/lists/#specs
/* https://material.io/design/layout/spacing-methods.html#spacing
/* -------------------------------------------------------------- */

// sizes
// $list-item-margin: 16px;
//$list-item-with-icon-height: 56px;
// $list-icon-margin-right
// 16 + 24 + 16 + 16 = 72px
// $list-has-children-indent: $item-spacing + $icon-dimensions + $item-spacing + $item-spacing; //72px

// base padding size that everything is a multiple of. based on materials layout
$list-padding-y: $item-spacing * 0.5 !default; // 8px
$list-content-padding-y: $sp-12 !default;

$list-item-icon-margin-y: $item-spacing !default;
$list-item-icon-negative-margin: $icon-button-negative-margin !default;

$list-item-min-height: 3em !default;
$list-item-two-line-min-height: $sp-64 !default;
$list-item-three-line-min-height: $sp-88 !default;

$list-item-padding: 0 $item-spacing !default;
$list-item-action-margin: $sp-12 0 !default;
$list-item-avatar-horizontal-margin: $list-padding-y !default;

$list-dense-icon-height: $sp-24 !default;
$list-dense-icon-margin: $list-padding-y !default;
$list-dense-min-height: $item-dense-height !default;

$list-item-dense-title-line-height: 1rem !default;
$list-item-dense-two-line-min-height: $list-item-two-line-min-height - 4px !default;
$list-item-dense-three-line-min-height: $list-item-three-line-min-height - 12px !default;
$list-dense-content-padding: $list-padding-y 0 !default;

.listify {
  // position: relative;
  display: block;
  padding: $list-padding-y 0;
  position: static;
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);

  .list-item-set {
    margin: 0;
    padding: 0;
    // max-width: 400px;
    list-style: none;
    list-style-type: none;
    // font-family: "Open Sans", sans-serif !important;
  }

  .list-item {

    position: relative;
    display: flex;
    align-items: center;
    padding: $list-item-padding;
    text-decoration: none;
    // color: $list-color;
    min-height: $list-item-min-height;

    .item-action {
      align-self: center;
      margin: $list-item-action-margin;
    }

    .item-avatar {
      margin-bottom: $list-padding-y;
      margin-top: $list-padding-y;
    }

    .item-icon {
      margin-bottom: $list-padding-y + 4px;
      margin-top: $list-padding-y + 4px;
    }

    .button.is-icon-button:last-child  {
      margin-right: $list-item-icon-negative-margin;
    }

    .item-action, .item-avatar, .item-icon {
      display: inline-flex;
      min-width: 24px;

      &:first-child{
        margin-right: $item-spacing * 2;
      }

      &:last-of-type:not(:only-child){
        margin-left: $list-padding-y;
      }
    }

    .item-title, .item-subtitle {
      line-height: 1.25;
      align-self: center;
      // font-size: 1rem;
      flex: 1 1 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-subtitle {
      font-size: $text-sm;
      color: $text-light;
    }

    .item-content {
      align-items: center;
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      flex: 1 1;
      overflow: hidden;
      padding: $list-content-padding-y 0;
    }
  }

  &.is-dense {
    .list-item {
      min-height: $list-dense-min-height;
    }
    .item-icon {
      height: $list-dense-icon-height;
      margin-top: $list-dense-icon-margin;
      margin-bottom: $list-dense-icon-margin;
    }
    .item-content {
      padding: $list-dense-content-padding;
    }
    .item-title {
      font-size: $text-sm;
    }
    .item-action {
      height: $list-dense-icon-height;
      margin-top: $list-dense-icon-margin;
      margin-bottom: $list-dense-icon-margin;
    }
  }

}

.listify .list-item-set .list-item.has-children {
  // dropdown arrow
  > .item-content::after {
    @extend %arrow;
    z-index: 4;
    transform: rotate(-135deg);
    transition: all 0.5s;
    // border-color: $white;
    border-color: $primary;
    right: 1.25rem;
    top: 1.875em;
  }

  // dropdown arrow animation
  &.is-open {
    > .item-content::after {
      border-color: $list-active-color;
      transform: rotate(-45deg);
      top: 1.75em;
    }
  }

  // active children
  &.is-active {
    > .item-content .title, .icon {
      color: $list-active-color;
    }
  }

  // first child item group
  > .list-item-set{
    display: none;
  }

  // submenu list item children
  .list-item-set {
    padding: 0px;

    .list-item {
      .item-content {
        color: $white;
        padding-left: 72px;
        font-size: 1rem;

        &.is-active {
          color: $list-active-color;
        }
      }
    }
  } // sub .list-item-set
} // .list-item.has-children

