// Hacks to get it working without bootstrap
// WIP DO NOT LEAVE IT LIKE THIS, REFACTOR ONCE DONE

.container {
  padding-right: 15px;
  padding-left: 15px;
}

// needed for the old UIB tabs
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.hidden {
  display: none !important;
}
