<div class="manage-columns-modal">
  <div class="modal-card-head">
    <span class="modal-card-title">Manage Columns</span>
    <button class="delete" aria-label="close" ng-click="$ctrl.cancel()"></button>
  </div>

  <div class="modal-card-body">
    <div ng-repeat="(listName, list) in $ctrl.gridColumns" class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{listName}} columns</h3>
        </div>
        <div class="panel-body simpleDemo">

          <ul dnd-list="list">
            <li ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.label}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-card-foot">
    <ag-ok-cancel ok-label="Save" ok-click="$ctrl.save()" cancel-click="$ctrl.cancel()"
                  is-loading="dlgCtrl.isSaving">
    </ag-ok-cancel>
  </footer>

</div>
