<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li>
            <a href="">Home</a>
        </li>
        <li><a href="" class="active">Charts</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading ">
            <div class="panel-title">Rickshaw Charts
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-4 no-padding">
                <div class="p-r-30">
                    <h3>Talk less, show more</h3>
                    <br>
                    <p>Rickshaw is a JavaScript toolkit for creating interactive time series graphs.Rickshaw provides the elements you need to create interactive graphs: renderers, legends, hovers, range selectors, etc. You put the pieces together.</p>
                    <br>
                    <div class="inline">
                        <p class="small hint-text">Rickshaw: JavaScript toolkit for creating interactive time series graphs.
                            <br> <a href="http://code.shutterstock.com/rickshaw/">View the official documentation</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-transparent">
                    <div class="panel-heading ">
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" class="portlet-collapse" data-toggle="collapse"><i class="pg-arrow_maximize"></i></a>
                                </li>
                                <li><a href="" class="portlet-refresh" data-toggle="refresh"><i class="pg-refresh_new"></i></a>
                                </li>
                                <li><a href="" class="portlet-close" data-toggle="close"><i class="pg-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul id="tabs-rickshaw" class="nav nav-tabs nav-tabs-linetriangle">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-rickshaw-realtime" pg-tab ng-click="refreshRickshaw(rickshaw_realtime_options,$event)">
                                    <span>Realtime Charts</span>
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-rickshaw-bars" pg-tab ng-click="refreshRickshaw(rickshaw_stacked_options,$event)">
                                    <span>Stacked Bar Charts</span>
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-rickshaw-slider" pg-tab ng-click="refreshRickshawSlider()">
                                    <span>Area Chart with Slider</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content no-padding bg-transparent">
                            <div class="tab-pane active relative" id="tab-rickshaw-realtime">
                                <div id="rickshaw-realtime_y_axis" class=""></div>
                                <rickshaw rickshaw-options="rickshaw_realtime_options" rickshaw-features="rickshaw_realtime_features" rickshaw-series="rickshaw_realtime_series" class="rickshaw-chart full-width ">
                                </rickshaw>
                            </div>
                            <div class="tab-pane " id="tab-rickshaw-bars">
                                <rickshaw rickshaw-options="rickshaw_stacked_options" rickshaw-features="rickshaw_stacked_features" rickshaw-series="rickshaw_stacked_series" class="full-width rickshaw-chart">
                                </rickshaw>
                            </div>
                            <div class="tab-pane relative" id="tab-rickshaw-slider">
                                <div id="rickshaw-slider" class="relative" rickshaw-slider>
                                    <div class="slider full-width m-t-20"></div>
                                    <div class="y_axis"></div>
                                    <div class="chart full-width rickshaw-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading ">
                <div class="panel-title">NVD3 Charts
                </div>
                <div class="panel-controls">
                    <ul>
                        <li><a href="" class="portlet-collapse" data-toggle="collapse"><i class="pg-arrow_maximize"></i></a>
                        </li>
                        <li><a href="" class="portlet-refresh" data-toggle="refresh"><i class="pg-refresh_new"></i></a>
                        </li>
                        <li><a href="" class="portlet-close" data-toggle="close"><i class="pg-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-4 no-padding">
                    <div class="p-r-30">
                        <h3>Talk less, show more</h3>
                        <br>
                        <p>This project is an attempt to build re-usable charts and chart components for d3.js without taking away the power that d3.js gives you. This is a very young collection of components, with the goal of keeping these components very customizeable, staying away from your standard cookie cutter solutions.</p>
                        <br>
                        <div class="inline">
                            <p class="small hint-text">NVD3: Re-usable charts for d3.js
                                <br> <a href="http://nvd3.org/examples/index.html">View the official documentation</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Nav tabs -->
                    <ul id="tabs-nvd3" class="nav nav-tabs nav-tabs-linetriangle">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-nvd3-line" pg-tab on-shown="refreshNvd3(nvd3_line_api)"><span>Line Chart</span></a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-nvd3-area" pg-tab on-shown="refreshNvd3(nvd3_area_api)"><span>Stacked Area Charts</span></a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-nvd3-line2" pg-tab on-shown="refreshNvd3(nvd3_line2_api)"><span>Line Charts with area</span></a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content no-padding">
                        <div class="tab-pane active" id="tab-nvd3-line">
                            <nvd3 options='nvd3_line_options' class="line-chart m-t-30 text-center" data='nvd3_line_data' api="nvd3_line_api" data-x-grid="false"></nvd3>
                        </div>
                        <div class="tab-pane " id="tab-nvd3-area">
                            <nvd3 options='nvd3_area_options' class="line-chart m-t-30 text-center" data='nvd3_area_data' api="nvd3_area_api"></nvd3>
                        </div>
                        <div class="tab-pane " id="tab-nvd3-line2">
                            <nvd3 options='nvd3_line2_options' data='nvd3_line2_data' api="nvd3_line2_api" class="line-chart" data-line-color="master" data-area-color="master" data-point-color="white" data-x-grid="false" data-points="true" data-stroke-width="1"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading ">
                <div class="panel-title">Sparkline Charts
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-4 no-padding">
                    <div class="p-r-30">
                        <h3>Lighter but Smarter</h3>
                        <br>
                        <p>
                            This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript. The plugin is compatible with most modern browsers and has been tested with Firefox 2+, Safari 3+, Opera 9, Google Chrome and Internet Explorer 6, 7, 8, 9 & 10 as well as iOS and Android.</p>
                        <br>
                        <div class="inline">
                            <p class="small hint-text">Sparkline
                                <br> <a href="http://omnipotent.net/jquery.sparkline/#s-about">View the official documentation</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-transparent">
                        <div class="panel-heading ">
                            <div class="panel-controls">
                                <ul>
                                    <li><a href="" class="portlet-collapse" data-toggle="collapse"><i class="pg-arrow_maximize"></i></a>
                                    </li>
                                    <li><a href="" class="portlet-refresh" data-toggle="refresh"><i class="pg-refresh_new"></i></a>
                                    </li>
                                    <li><a href="" class="portlet-close" data-toggle="close"><i class="pg-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <div jq-sparkline class="sparkline-chart m-t-40" ng-model="sparkline_line_data" opts="{{ sparkline_line_options }}"></div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div jq-sparkline class="sparkline-chart m-t-40" ng-model="sparkline_pie_data" opts="{{ sparkline_pie_options }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->
    </div>
</div>