<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="">UI Elements</a>
                </li>
                <li><a href="" class="active">Tabs &amp; Accordians</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
            <div class="row">
                <div class="col-lg-7 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="full-height">
                        <div class="panel-body text-center">
                            <img class="image-responsive-height demo-mw-600" src="assets/img/demo/tab.png" alt="">
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
                <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title">Getting started
                            </div>
                        </div>
                        <div class="panel-body">
                            <h3>Simply organized</h3>
                            <p>Seemingly unimportant but our range of simple and effective Tab choices, allows the user to select the manner in which to categorize, store and obtain content. All this can be done by clicking on the preferred type of tab. </p>
                            <br>
                            <div>
                                <div class="profile-img-wrapper m-t-5 inline">
                                    <img width="35" height="35" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
                                    <div class="chat-status available">
                                    </div>
                                </div>
                                <div class="inline m-l-10">
                                    <p class="small hint-text m-t-5">VIA senior product manage
                                        <br> for UI/UX at REVOX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-md-6">
            <div class="sm-m-l-5 sm-m-r-5">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <a ng-class="{collapsed:!collapseOne}" ng-click="collapseOne=!collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Collapsible Group Item
                            </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{in:collapseOne}">
                            <div class="panel-body">
                                Click headers to expand/collapse content that is broken into logical sections, much like tabs. Optionally, toggle sections open/closed on mouseover.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                            <a class="collapsed" ng-class="{collapsed:!collapseTwo}" ng-click="collapseTwo=!collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Typography Variables
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" ng-class="{in:collapseTwo}">
                            <div class="panel-body">
                                <h1 class="light">
                                                  go explore the <span class="semi-bold">world</span>
                                                </h1>
                                <h4>
                                                  small things in life matters the most
                                                </h4>
                                <h2>
                                                  Big Heading <span class="semi-bold">Body</span>,
                                                  <i>Variations</i>
                                                </h2>
                                <h4>
                                                  <span class="semi-bold">Open Me</span>, Light , <span class=
                                                  "semi-bold">Bold</span>, <i>Everything</i>
                                                </h4>
                                <p>
                                    is the art and technique of arranging type in order to make language visible. The arrangement of type involves the selection of typefaces, point size, line length, leading (line spacing), adjusting the spaces between groups of letters (tracking)
                                </p>
                                <p>
                                    and adjusting the Case space between pairs of letters (kerning). Type design is a closely related craft, which some consider distinct and others a part of typography
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                            <a class="collapsed" ng-class="{collapsed:!collapseThree}" ng-click="collapseThree=!collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Easy Edit
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" ng-class="{in:collapseThree}">
                            <div class="panel-body">
                                Click headers to expand/collapse content that is broken into logical sections, much like tabs. Optionally, toggle sections open/closed on mouseover.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info visible-xs m-r-5 m-l-5" role="alert">
                      <button class="close" data-dismiss="alert"></button>
                      <strong>Info: </strong> On mobile the tab will be come a Accorian by using data-init-reponsive-tabs="collapse"
                    </div>
            <div class="panel">
                <ul class="nav nav-tabs nav-tabs-simple" role="tablist" ui-jq="tabCollapse">
                    <li class="active"><a href="#tab2hellowWorld" data-toggle="tab" pg-tab role="tab">Hello World</a>
                    </li>
                    <li><a href="#tab2FollowUs" data-toggle="tab" pg-tab role="tab">Hello Two</a>
                    </li>
                    <li><a href="#tab2Inspire" data-toggle="tab" pg-tab role="tab">Hello Three</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab2hellowWorld">
                        <div class="row column-seperation">
                            <div class="col-md-6">
                                <h3>
                                            <span class="semi-bold">Sometimes</span> Small things in life means the most</h3>
                            </div>
                            <div class="col-md-6">
                                <h3 class="semi-bold">great tabs</h3>
                                <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab2FollowUs">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>“ Nothing is
                                            <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                            <span class="semi-bold">possible</span>'! ”</h3>
                                <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                <br>
                                <p class="pull-right">
                                    <button type="button" class="btn btn-default btn-cons">White</button>
                                    <button type="button" class="btn btn-success btn-cons">Success</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2Inspire">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Follow us &amp; get updated!</h3>
                                <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Tab Orientations
            </div>
        </div>
        <div class="panel-body no-padding">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-transparent">
                        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left bg-white" id="tab-3">
                            <li class="active">
                                <a data-toggle="tab" pg-tab href="#tab3hellowWorld">One</a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#tab3FollowUs">Two</a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#tab3Inspire">Three</a>
                            </li>
                        </ul>
                        <div class="tab-content bg-white">
                            <div class="tab-pane" id="tab3hellowWorld">
                                <div class="row column-seperation">
                                    <div class="col-md-6">
                                        <h3>
                                        <span class="semi-bold">Sometimes </span>Small things in life
                                        means the most
                                      </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="semi-bold">
                                        great tabs
                                      </h3>
                                        <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab3FollowUs">
                                <h3>
                                    “ Nothing is <span class="semi-bold">impossible</span>, the word
                                    itself says 'I'm <span class="semi-bold">possible</span>'! ”
                                  </h3>
                                <p>
                                    A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...
                                </p>
                                <br>
                                <p class="pull-right">
                                    <button class="btn btn-default btn-cons" type="button">White</button>
                                    <button class="btn btn-success btn-cons" type="button">Success</button>
                                </p>
                            </div>
                            <div class="tab-pane" id="tab3Inspire">
                                <h3>
                                    Follow us &amp; get updated!
                                  </h3>
                                <p>
                                    Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-transparent">
                        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-right bg-white" id="tab-4" role="tablist">
                            <li><a href="#tab4hellowWorld" data-toggle="tab" pg-tab role="tab">One</a>
                            </li>
                            <li><a href="#tab4FollowUs" data-toggle="tab" pg-tab role="tab">Two</a>
                            </li>
                            <li class="active"><a href="#tab4Inspire" data-toggle="tab" pg-tab role="tab">Three</a>
                            </li>
                        </ul>
                        <div class="tab-content bg-white">
                            <div class="tab-pane" id="tab4hellowWorld">
                                <div class="row column-seperation">
                                    <div class="col-md-6">
                                        <h3>
                                                    <span class="semi-bold">Sometimes</span> Small things in life means the most
                                                </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="semi-bold">great tabs</h3>
                                        <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="tab4FollowUs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>“ Nothing is
                                                    <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                                    <span class="semi-bold">possible</span>'! ”</h3>
                                        <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                        <br>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-default btn-cons">White</button>
                                            <button type="button" class="btn btn-success btn-cons">Success</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab4Inspire">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Follow us &amp; get updated!</h3>
                                        <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Tabs Styles
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Line Triangle Tabs</h5> Add the class
                    <code>nav-tabs-linetriangle</code> to the main wrapper of the tabs
                    <br>
                    <br>
                    <div class="panel panel-transparent">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-linetriangle" pg-tab-dropdownfx>
                            <li class="active">
                                <a data-toggle="tab" pg-tab href="#home"><span>Hello World</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#profile"><span>Hello Two</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#messages"><span>Hello Three</span></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div class="row column-seperation">
                                    <div class="col-md-6">
                                        <h3>
                                                <span class="semi-bold">Sometimes</span> Small things in life means the most
                                            </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="semi-bold">great tabs</h3>
                                        <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>“ Nothing is
                                                <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                                <span class="semi-bold">possible</span>'! ”</h3>
                                        <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                        <br>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-default btn-cons">White</button>
                                            <button type="button" class="btn btn-success btn-cons">Success</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="messages">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Follow us &amp; get updated!</h3>
                                        <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5>Fill In Tabs</h5> Add the class
                    <code>nav-tabs-fillup</code> to the main wrapper of the tabs
                    <br>
                    <br>
                    <div class="panel panel-transparent ">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-fillup" pg-tab-dropdownfx>
                            <li class="active">
                                <a data-toggle="tab" pg-tab href="#tab-fillup1"><span>Home</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#tab-fillup2"><span>Profile</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#tab-fillup3"><span>Messages</span></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-fillup1">
                                <div class="row column-seperation">
                                    <div class="col-md-6">
                                        <h3>
                                                <span class="semi-bold">Sometimes</span> Small things in life means the most
                                            </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="semi-bold">great tabs</h3>
                                        <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-fillup2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>“ Nothing is
                                                <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                                <span class="semi-bold">possible</span>'! ”</h3>
                                        <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                        <br>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-default btn-cons">White</button>
                                            <button type="button" class="btn btn-success btn-cons">Success</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-fillup3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Follow us &amp; get updated!</h3>
                                        <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Tabs Pane Transitions
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Fade effect</h5> Add the class
                    <code>fade</code> to the tab panes
                    <br>
                    <br>
                    <div class="panel panel-transparent">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-linetriangle" pg-tab-dropdownfx>
                            <li class="active">
                                <a data-toggle="tab" pg-tab href="#fade1"><span>Hello World</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#fade2"><span>Hello Two</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#fade3"><span>Hello Three</span></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="fade1">
                                <div class="row column-seperation">
                                    <div class="col-md-6">
                                        <h3>
                                                <span class="semi-bold">Sometimes</span> Small things in life means the most
                                            </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="semi-bold">great tabs</h3>
                                        <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fade2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>“ Nothing is
                                                <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                                <span class="semi-bold">possible</span>'! ”</h3>
                                        <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                        <br>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-default btn-cons">White</button>
                                            <button type="button" class="btn btn-success btn-cons">Success</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fade3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Follow us &amp; get updated!</h3>
                                        <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5>Slide effect</h5> Add the class
                    <code>slide-left</code> or <code>slide-right</code> to the tab panes
                    <br>
                    <br>
                    <div class="panel panel-transparent ">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-fillup" pg-tab-dropdownfx>
                            <li class="active">
                                <a data-toggle="tab" pg-tab href="#slide1"><span>Home</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#slide2"><span>Profile</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" pg-tab href="#slide3"><span>Messages</span></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane slide-left active" id="slide1">
                                <div class="row column-seperation">
                                    <div class="col-md-6">
                                        <h3>
                                                <span class="semi-bold">Sometimes</span> Small things in life means the most
                                            </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="semi-bold">great tabs</h3>
                                        <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane slide-left" id="slide2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>“ Nothing is
                                                <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                                <span class="semi-bold">possible</span>'! ”</h3>
                                        <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                        <br>
                                        <p class="pull-right">
                                            <button type="button" class="btn btn-default btn-cons">White</button>
                                            <button type="button" class="btn btn-success btn-cons">Success</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane slide-left" id="slide3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Follow us &amp; get updated!</h3>
                                        <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->