<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" ui-sref="examples.users.list"><i class="icon-list"></i> Users List</a></li>
    <li><a class="create" ui-sref="examples.users.create"><i class="icon-plus"></i> New user</a></li>
  </ul>
</div>


<div bindonce class="content">

  <h2 class="page-header">
    <span bo-text="user.name"></span>
    &lt;<span bo-text="user.info.email"></span>&gt;
  </h2>

  <div class="pager" ag-show-page-pager="user" bo-show="showPager()">
    <a ui-sref="examples.users.show({ id: prevId(), ids: ids })">&#8592; prev</a> |
    <a ui-sref="examples.users.show({ id: nextId(), ids: ids })">next &#8594;</a>
  </div>

  <tabset>
    <tab>
      <tab-heading>User details</tab-heading>

      <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd bo-text="user.id">&nbsp;</dd>

        <dt>Name</dt>
        <dd bo-text="user.name">&nbsp;</dd>

        <dt>Login</dt>
        <dd bo-text="user.login">&nbsp;</dd>

        <dt>Email</dt>
        <dd bo-text="user.info.email">&nbsp;</dd>

        <dt>Birthday</dt>
        <dd bo-text="user.birthday | date">&nbsp;</dd>

        <dt>Paid</dt>
        <dd bo-text="user.paid">&nbsp;</dd>
      </dl>

      <div class="form-actions">
        <a ui-sref="examples.users.edit({ id: user.id })" class="btn"><i class="icon-edit"></i> Edit</a>
        <ag-delete-button when-confirmed="delete(user)"></ag-delete-button>
      </div>
    </tab>

    <tab>
      <tab-heading>Embedded grid</tab-heading>

      <div ag-grid="gridOptions"
           ag-grid-name="embeddedGrid"></div>
    </tab>
  </tabset>
</div>
