<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/"><i class="fa fa-list"></i> Org List</a></li>
    <li><a class="create" href="#/create"><i class="fa fa-plus"></i> New org</a></li>
  </ul>
</div>

<div class="content">
  <h3 class="page-header">Org show</h3>

  <div class="pager" ng-if="gridPager.show()">
    <a href="" ng-click="gridPager.prevRow()">&#8592; prev</a> |
    <a href="" ng-click="gridPager.nextRow()">next &#8594;</a>
  </div>

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{org.id}}</dd>

    <dt>Name</dt>
    <dd>{{org.name}}</dd>

    <dt>Num</dt>
    <dd>{{org.num}}</dd>
  </dl>

  <ag-tabset>
    <ag-tab template-url="/templates/tabbedOrg/_address.html">
      <i class="fa fa-envelope"></i> Address
    </ag-tab>

    <ag-tab template-url="/templates/tabbedOrg/_contacts.html">
      <i class="fa fa-user"></i> Contacts
    </ag-tab>

    <ag-tab template-url="/templates/tabbedOrg/_notes.html">
      <i class="fa fa-user"></i> Notes
    </ag-tab>
    <ag-tab template-url="/templates/tabbedOrg/_showcase.html">
      <i class="fa fa-clock-o"></i> Showcase
    </ag-tab>
    <ag-tab template-url="/templates/tabbedOrg/_showcase2.html">
      <i class="fa fa-clock-o"></i> Showcase2
    </ag-tab>
    <ag-tab template-url="/templates/tabbedOrg/_xeditable.html">
      <i class="fa fa-pencil-square-o"></i> Xeditable
    </ag-tab>
  </ag-tabset>
</div>
