// Custom colors and vars for our theme

// Custom colors and vars
$secondary: $orange; // #F39200
$accent: #00efb7;
$dark-grey: #344258; //ends up as sidebar default

//  Add Colour Settings
// legacy, move these is we still want them
$azure: #5B9BD1;
$beige: #D2BD8E;
$bricky: #894550;

// Theme vars
$header-background-color: $primary;
$main-content-background: #fff;
$border-default: #c8c7cc !default;

$text-color: $text !default;;
$text-dark: $text-strong !default;;
//$text-light: lighten($text-color, 5%) !default;
$link-color: $link !default;

$font-family-monospace: $family-monospace;

$font-size-base: $body-size !default;
$font-size-normal: $body-size !default;
$font-size-large: floor(($font-size-base * 1.25)) !default; // ~15px
$font-size-extra-large: floor(($font-size-base * 1.35)) !default; // ~17px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-extra-small: floor(($font-size-base * 0.85)) !default; // ~11px

//**** Layout ******

$h1-size-base: 36px !default;
$h1-size-extra-large: floor(($h1-size-base * 1.40)) !default; // ~50px

$header-height: 60px;
$mobile-header-height: 50px;
$horizontalMenu-height: 50px;

// Sidebar-nav
$sideBar-width: 260px; //old remove
$sideBar-closed-width: 70px; //old remove
$sidebar-background: $grey-lighter; //old remove

$sidebar-background-color: #344258 !default;
$sidebar-font-color: findColorInvert($sidebar-background-color) !default;
$sidebar-font-size: 16px;
$sidebar-nav-hover-color: $secondary;
$sidebar-nav-active-color: $secondary;
$sidebar-nav-width: 260px;
$sidebar-nav-closed-width: 56px;

$footer-height: 50px;
$horizontal-menu-height: 40px;
$page-header-height: 90px;

//  breakpoints

// Extra small screen / phone
$screen-xs-min: 480px !default;

// Small screen / tablet
$screen-sm-min: 768px !default;

// Medium screen / desktop
$screen-md-min: 992px !default;

// Large screen / wide desktop
$screen-lg-min: 1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$checkbox-focus: 0 0px 4px 2px #78aad6 !default;

