body {
  background: #sanityChecks;
}

@import "../../components/bower/bootstrap/less/bootstrap.less";
@import "../../components/bower/bootstrap/less/responsive.less";
@import "../../components/bower/font-awesome/less/font-awesome.less";

// do not collapse until it reaches a smaller value
@navbarCollapseWidth: 600px;

// Sprite icons path
@iconSpritePath:      "../img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

@import "bs-nav-side";
@import "bs-ux";
