form[editable-form] div {
  height: auto;
  padding: 5px 0;
}

form[editable-form] .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  min-width: 130px;
  text-align: right;
  margin-right: 8px;
	
}

form[editable-form] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}

form[editable-form] select {
  width: 160px;
}

form[editable-form] input {
  width: 160px;
}

form[editable-form] .editable-error {
  color: #b94a48;
}

form[editable-form] input.ng-invalid {
  border-color: #b94a48;
}

form[editable-form] input,select {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    height: 20px;
}
