form[editable-form] .editable-datepicker input {
    width: 125px;
}

form[editable-form] .editable-checkbox input {
    width: auto;
}

form[editable-form] .customer-tags .select2-search-field {
    height: 20px;
}

form[editable-form] .customer-tags li.select2-search-choice {
    float: none;
    margin: 3px 5px 3px 5px;
}

form[editable-form] .customer-tags li.select2-search-choice div {
    padding: 1px;
}

form[editable-form] div {
    height: auto;
    padding: 5px 0;
    margin-bottom: 3px;
    min-height: 5px;
}

form[editable-form] .title {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 130px;
    text-align: right;
    margin-right: 8px;
    margin-left: 5px;
}

form[editable-form] .editable {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

form[editable-form] select {
    width: 160px;
}

form[editable-form] input {
    width: 160px;
}

form[editable-form] .editable-error {
    color: #b94a48;
}

form[editable-form] input.ng-invalid {
    border-color: #b94a48;
}

form[editable-form] input,select {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    height: 20px;
}

input[type=number].editable-input {
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}