<div class="card">
  <div class="card-content">
    <form name="form" xt-form class="form-horizontal-fixed" autocomplete="off" novalidate>
      <fieldset>
        <legend>ag-input</legend>
        <ag-input name="name" ng-model="$ctrl.vm.name" minimum-length="2" required ></ag-input>
        <ag-input type="email" name="email" ng-model="$ctrl.vm.email" required ></ag-input>
        <ag-input name="website" ng-model="$ctrl.vm.website" ></ag-input>
      </fieldset>
      <div class="form-group">
        <div class="controls">
          <button ng-click="$ctrl.save(form)" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
    <pre ng-cloak>form.$invalid: {{form.$invalid}}<br>model: {{$ctrl.vm | json}}</pre>
  </div> <!-- /card-content -->
</div> <!-- /card -->
