<ag-toolbar class="is-light is-dense has-shadow-2">
  <div class="selection-pointer"><i class="fa"></i></div>
  <ag-button icon="fa-edit"></ag-button>
  <ag-button icon="fa-table"></ag-button>
  <div class="divider-vertical"></div>
  <ag-button icon="fa-plus"></ag-button>
  <div class="spacer"></div>
  <div class="toolbar-item">
    <div class="buttons has-addons">
      <ag-button ng-model="quickPick.states" uib-btn-radio="'all'">All</ag-button>
      <ag-button ng-model="quickPick.states" uib-btn-radio="'open'">Open</ag-button>
      <ag-button ng-model="quickPick.states" uib-btn-radio="'closed'">Closed</ag-button>
    </div>
  </div>
  <div class="toolbar-item p-0">
    <input type="text" class="input is-rounded is-search" placeholder="quick search">
  </div>
  <ag-button icon="fa-search"></ag-button>
  <ag-dropdown
    menu-items="$ctrl.menuItems"
    menu-click="$ctrl.menuItemClick"
    menu-class="dropdown-menu-right"
    icon="mdi-dots-vertical">
  </ag-dropdown>
</ag-toolbar>

<ag-toolbar class="is-light is-dense has-shadow-2 mt-4">
  <div class="selection-pointer"><i class="fa"></i></div>
  <div class="toolbar-item">
    <div class="buttons">
      <ag-button color='light'>button 1</ag-button>
      <ag-button >button 1</ag-button>
      <ag-button color='primary'>button 2</ag-button>
    </div>
  </div>
  <div class="divider-vertical"></div>
  <ag-button icon="fa-plus"></ag-button>
  <div class="spacer"></div>
  <ag-dropdown
    menu-items="$ctrl.menuItems"
    menu-click="$ctrl.menuItemClick"
    menu-class="dropdown-menu-right"
    icon="fas fa-ellipsis-h"><i class="fas fa-ellipsis-h"></i>
  </ag-dropdown>
</ag-toolbar>
