<form name="editForm"
      class="form-horizontal container"
      novalidate="true"
      ng-submit="save(editForm, org)">

  <div ag-field-group for="phone" class="row form-group">
    <label class="control-label col-md-2">Phone</label>

    <div class="col-md-9">
      <input type="text" name="phone" placeholder="Phone number"
             ng-model="org.phone" autofocus required/>
      <ag-validation-errors for="phone" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="state" class="row form-group">
    <label class="control-label col-md-2">State</label>

    <div class="col-md-9">
      <input type="text" name="state" placeholder="Enter state"
             ng-model="org.state" autofocus required/>
      <ag-validation-errors for="state" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="city" class="row form-group">
    <label class="control-label col-md-2">City</label>

    <div class="col-md-9">
      <input type="text" name="city" placeholder="Enter city name"
             ng-model="org.city" autofocus required/>
      <ag-validation-errors for="city" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="zip" class="row form-group">
    <label class="control-label col-md-2">Zip Code</label>

    <div class="col-md-9">
      <input type="text" name="zip" placeholder="Enter zip code"
             ng-model="org.zip" autofocus required/>
      <ag-validation-errors for="zip" required="This field is required"/>
    </div>
  </div>

  <div ag-field-group for="street" class="row form-group">
    <label class="control-label col-md-2">Street</label>

    <div class="col-md-9">
      <input type="text" name="street" placeholder="Enter street name"
             ng-model="org.street" autofocus required/>
      <ag-validation-errors for="street" required="This field is required"/>
    </div>
  </div>

  <div class="form-actions">
    <ag-submit-button></ag-submit-button>
  </div>

</form>
