<nav class="sidenav"
    ng-class="{
      'is-active': $ctrl.isOpen,
    }">
  <div class="sidenav-header">
    <button class="hamburger hamburger-arrow-left"
      ng-click="$ctrl.toggleSidenav()"
      ng-class="{
        'is-active': $ctrl.isOpen,
      }">
      <i></i>
    </button>
    <!-- <img class="logo" src="assets/images/logos/fresh-white-alt.svg"> -->
    <img class="logo" src="{{$ctrl.logo}}">
    <button title="toggle fixed side menu" class="icon tack"
        ng-class="{ 'is-fixed': $ctrl.layout.isSidenavFixed}"
        ng-click="$ctrl.layout.isSidenavFixed = !$ctrl.layout.isSidenavFixed">
      <!-- <i class="fas fa-thumb-tack"></i> -->
      <i class="material-icons"> push_pin</i>
    </button>
    <!-- <a class="sidenav-close" ng-click="$ctrl.toggleSidenav()"><i data-feather="x"></i></a> -->
  </div>
  <div class="sidenav-nav sidenav-list">

    <script type="text/ng-template" id="menuItemTree">
      <a href="{{$ctrl.hasChildren(mitem) ? '' : mitem.href}}" class="item-content nav"
         ng-click="$ctrl.itemClick(mitem, $event)">
        <span class="icon" ng-if="mitem.data.icon">
          <i class="{{mitem.data.icon}}"></i>
        </span>
        <span class="item-title" > {{ mitem.data.title }} </span>
      </a>
      <ul class="submenu list-item-set" ng-if="$ctrl.hasChildren(mitem)">
        <li class="list-item" ng-repeat="mitem in mitem.children" ng-include="'menuItemTree'"
        ng-class="{
          'has-children' : $ctrl.hasChildren(mitem),
          'is-active': $ctrl.appState.$state.includes(mitem.name)
        }"></li>
      </ul>
    </script>

    <ul class="sidenav-menu list-item-set">
      <li ng-repeat="mitem in $ctrl.sideMenuItems"
          class="list-item"
          ng-include="'menuItemTree'"
          ng-class="{
            'has-children' : $ctrl.hasChildren(mitem),
            'is-active': $ctrl.appState.$state.includes(mitem.name)
          }">
      </li>
    </ul>
  </div>
</nav>
<div ng-if="$ctrl.isOpen" class="sidenav-body-overlay" ng-click="$ctrl.toggleSidenav()"></div>
