<div class="sidebar is-active"
    ng-class="{
      'is-open': $ctrl.isOpen,
    }">
  <div class="sidebar-header">
    <button class="hamburger hamburger-arrow-left"
      ng-click="$ctrl.toggleSidenav()"
      ng-class="{
        'is-open': $ctrl.isOpen,
      }">
      <i></i>
    </button>
    <!-- <img src="assets/images/logos/fresh-white-alt.svg"> -->
    <!-- <a class="sidebar-close" ng-click="$ctrl.toggleSidenav()"><i data-feather="x"></i></a> -->
  </div>
  <div class="sidebar-nav list">

    <script type="text/ng-template" id="menuItemTree">
      <a ui-sref="{{subItem.children ? '-' : subItem.name}}">
        <span class="title" > {{ subItem.data.title }} </span>
      </a>
      <ul class="submenu" ng-if="subItem.children">
          <li ng-repeat="subItem in subItem.children" ng-include="'menuItemTree'">
          </li>
      </ul>
    </script>

    <ul class="sidebar-menu list-items">
      <li ng-repeat="mitem in $ctrl.sideMenuItems"
          class="list-item {{$ctrl.$state.includes(mitem.name) ? 'active' : ''}}"
          ng-class="{ 'has-children' : mitem.children, 'is-open': $ctrl.isItemOpen(mitem) }"
          >
        <a href="{{mitem.children ? '' : mitem.name}}"
           ng-click="$ctrl.itemClick(mitem, $event)">
          <i class="{{mitem.data.icon}}"></i>
          <span>{{ mitem.data.title }}</span>
        </a>
        <ul class="submenu slide" ng-if="mitem.children" ng-show="$ctrl.isItemOpen(mitem)">
          <li ng-repeat="subItem in mitem.children" ng-include="'menuItemTree'" ui-sref-active="active"></li>
        </ul>
      </li>
    </ul>

    <ul class="sidebar-menu list-items">
      <li><span class="nav-section-title"></span></li>
      <li class="list-item has-children">
        <a href="#" ng-click="$ctrl.itemClick(mitem, $event)" >
          <i class="material-icons">apps</i>
          <span>Apps</span>
        </a>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Documents</a></li>
        </ul>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">duo</i>
          <span>Messages</span>
        </a>
        <ul>
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Compose</a></li>
          <li><a href="#">Video</a></li>
        </ul>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">insert_photo</i>
          <span class="list-item-icon" >Media</span>
        </a>
        <ul>
          <li><a href="#">Library</a></li>
          <li><a href="#">Upload</a></li>
        </ul>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">policy</i>
          <span>Settings</span>
        </a>
        <ul>
          <li><a href="#">User settings</a></li>
          <li><a href="#">App settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div ng-if="$ctrl.isOpen" class="sidebar-body-overlay" ng-click="$ctrl.toggleSidenav()"></div>
