<div class="sidebar is-active" ng-class="{
  'is-open': $ctrl.isOpen,
}">
  <div class="sidebar-header">
    <!-- <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
      <svg width="1000px" height="1000px">
        <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800">
        </path>
        <path class="path2" d="M 300 500 L 700 500"></path>
        <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200">
        </path>
      </svg>
      <button id="menu-icon-trigger" class="menu-icon-trigger" ng-click="$ctrl.toggleSidenav()"></button>
    </div> -->
    <button class="hamburger hamburger-arrow-left"
      ng-click="$ctrl.toggleSidenav()"
      ng-class="{
        'is-open': $ctrl.isOpen,
      }">
      <i></i>
    </button>
    <!-- <img src="assets/images/logos/fresh-white-alt.svg"> -->
    <!-- <a class="sidebar-close" ng-click="$ctrl.toggleSidenav()"><i data-feather="x"></i></a> -->
  </div>
  <div class="sidebar-nav list">
    <ul class="sidebar-menu list-items">
      <li><span class="nav-section-title"></span></li>
      <li class="list-item has-children"><a href="#">
          <i class="material-icons">apps</i>
          <span>Apps</span>
        </a>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Documents</a></li>
        </ul>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">duo</i>
          <span>Messages</span>
        </a>
        <ul>
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Compose</a></li>
          <li><a href="#">Video</a></li>
        </ul>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">insert_photo</i>
          <span class="list-item-icon" >Media</span>
        </a>
        <ul>
          <li><a href="#">Library</a></li>
          <li><a href="#">Upload</a></li>
        </ul>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">policy</i>
          <span>Settings</span>
        </a>
        <ul>
          <li><a href="#">User settings</a></li>
          <li><a href="#">App settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
