/* ---------------------------------------------------------------------- */
/* These are BULMA derived variables to be run after initial-variables
/* After initial-variables. Run BEFORE Bulma's derived-variables.sass
/* ---------------------------------------------------------------------- */
// <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet" />
// <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300,400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

//red example
// .material-icons-two-tone {
//   filter: invert(8%) sepia(94%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);
// }

.material-icons-two-tone {
  // filter: contrast(70%);
  // filter: invert(10%) sepia(94%) saturate(1000%) hue-rotate(225deg) brightness(80%) contrast(80%);
  filter: invert(10%) sepia(100%) saturate(3000%) hue-rotate(225deg) brightness(30%) contrast(80%);
}

//**** Typography sizing ****/

// HTML: font-size. kind of goofy name but in Bulma
// 1rem- this is what sets the size of 1rem unit on html css
$body-size: 16px !default; // html: font-size

// Custom sizes, with default html font size of 16px, size-10 maps to 10px, etc..
$rem-62: 0.625rem !default; // ~10px
$rem-75: 0.75rem !default; // ~12px
$rem-87: 0.875rem !default; // ~14px
$rem-1: 1rem !default; // ~16px
$rem-112: 1.125rem !default; // ~18px
$rem-125: 1.25rem !default; // ~20px
$rem-150: 1.5rem !default; // ~24px
$rem-187: 1.875rem !default; // ~24px
$rem-200: 2rem !default; // ~32px
$rem-225: 2.25rem !default; // ~32px
$rem-250: 2.5rem !default; // ~40px
$rem-300: 3rem !default; // ~40px


// Bulma's initial variables
// $weight-light: 300 !default
// $weight-normal: 400 !default
// $weight-medium: 500 !default
// $weight-semibold: 600 !default
// $weight-bold: 700 !default

// tailwind-ish text classes
$text-xxs: $rem-62 !default; // ~10px
$text-xs: $rem-75 !default; // ~12px
$text-sm: $rem-87 !default; // ~14px
$text-base: $rem-1 !default; //  ~16px used in controls mixin, etc..
$text-lg: $rem-112 !default;
$text-xl: $rem-125 !default;
$text-xxl: $rem-150 !default;
$text-2xl: $rem-150 !default;
$text-3xl: $rem-187 !default;
$text-4xl: $rem-225 !default;
$text-5xl: $rem-300 !default;

// Bulma, basically the same, here to keep it consitent with text vars in case they change
$size-small: $text-xs !default;
$size-normal: $text-base !default;
$size-medium: $text-xl !default; // ~20px
$size-large: $text-xxl !default; // ~24px

// for Bulma
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;


$font-sizes: (
  "text-xxs": $text-xxs,
  "text-xs": $text-xs,
  "text-sm": $text-sm,
  "text-base": $text-base,
  "text-lg": $text-lg,
  "text-xl": $text-xl,
  "text-xxl": $text-xxl,
  "text-2xl": $text-2xl,
  "text-3xl": $text-3xl,
  "text-4xl": $text-4xl,
  "text-5xl": $text-5xl
) !default;

// Font types

$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont,  "Segoe UI", Roboto, "Helvetica Neue", Arial,"Noto Sans", "Liberation Sans", sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// $family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$family-primary: $family-sans-serif !default;
$family-secondary: $family-sans-serif !default;
$font-alt: 'Montserrat', sans-serif !default;
$family-code: $family-monospace !default;
