<div class="field" ng-class="{column: $ctrl.isHorizontal}">
  <ag-label label-class="{{$ctrl.labelClass}}" ng-if="$ctrl.label"
      ng-required="{{$ctrl.isRequired}}" >{{$ctrl.label}}</ag-label>
  <div class="control">
    <input
      class="form-control"
      name="{{::$ctrl.name}}"
      placeholder="{{::$ctrl.placeholder}}"
      id="{{::$ctrl.elementId}}"
			ng-model="$ctrl.value"
			ng-change="$ctrl.onChange()"
      ng-required="{{$ctrl.isRequired}}"
      ui-select2="$ctrl.selectOptions"
			>
    </input>
  </div>
  <p class="help" ng-if="$ctrl.hint">{{::$ctrl.hint}}</p>
  <ag-validation-inline for="{{$ctrl.elementId}}" ></ag-validation-inline>
</div>
