<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()">&times;</button>
  <h3>Note</h3>
</div>

<form name="editForm" class="form-horizontal"
      novalidate="true"
      ng-submit="save(editForm, note)">

  <div class="modal-body">
    <div ag-field-group for="name">
      <label class="control-label col-md-3">Name</label>

      <div class="col-md-4">
        <input type="text" name="name" placeholder="Enter name"
               ng-model="note.name" ng-required="true" />
        <ag-validation-errors for="name" />
      </div>
    </div>

    <div ag-field-group for="content">
      <label class="control-label col-md-3">Content</label>

      <div class="col-md-4">
        <textarea name="content" rows="5"
                  ng-model="note.content" ng-required="true"></textarea>
        <ag-validation-errors for="content" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <ag-submit-button></ag-submit-button>
    <ag-cancel-button ng-click="closeDialog()"></ag-cancel-button>
  </div>
</form>
