
//Variables from bulma
@use "../tools/cssVars";

$danger-border: cssVars.alpha($danger, 0.40);
//$danger-border: $danger;
//$danger-darker: rgba($danger, 0.50);

.ng-invalid.ng-touched {
  border-color: $danger-border;
}

input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border-color: $danger-border;
}

.ng-submitted input.ng-invalid,
.ng-submitted select.ng-invalid,
.ng-submitted textarea.ng-invalid {
  border-color: $danger-border;
}

.ag-validation-inline {
  font-size: $text-xs;
  color: $danger-dark;
  display: inline-block;
}

// hint/help text
p.help {
  //remove the bottom margin if its set on p like from bootstrap
  margin-bottom: 0px;
}

label.required:after {
  margin-left: 1px;
  content: "*";
  color: $danger;
  position: absolute;
}

// Bulma overrides
.label {
  font-size: $label-font-size;
}

.columns:not(:last-child) {
  // remove paddings on columns if its not the last item
  .field.column {
    padding-bottom: 0 !important;
  }
  .label.column {
    padding-bottom: 0 !important;
  }
}

.label.column {
  padding-top: $label-padding-top;
  text-align: right;
  // centers labels vertically
  height: $control-height;
  //line-height: $control-height;
}

// formly
// it does formly-field components with columns but underlying ag-input etc has the column as well
.formly-field {
  &.column {
    padding: 0;
    > .label.column {
      width: unset;
    }
  }
  .columns {
    // remove paddings on columns if its not the last item
    .field.column {
      padding-bottom: 0.75rem !important;
    }
  }
}

