// tweaks for bootstrap ERO datepicker

div.ag-datepicker {
  input {
    width: 170px;
  }
}

// fix button group align in the datepicker
.ag-datepicker {
  span {
    width: 0;
    &.btn-group {
      float: left;
    }
  }
}

.datepicker-column {
  width: 135px;
}
