// used in the xeditable panels

.input-underline {
  .ag-datepicker input,
  textarea,
  select,
  input {
    height: $input-height;
    font-size: $text-base;
    line-height: $control-line-height;
    background: none !important;
    background-image: none !important;
    border-bottom: 1px solid transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 0 0 0 !important;
    color: $text-strong!important;
    font-family: inherit !important;
    transition-duration: 0.1s !important;
    box-shadow: none !important;
    padding: 0 0 0 6px;
    transition: border 300ms ease-out;

    &:hover {
      border-bottom: 1px solid transparent !important;
      //border-color: darken($border-default, 10%) !important;
    }

    &:focus {
        box-shadow: none !important;
        border-bottom: 1px solid transparent !important;
        //border-color: $link !important;
        background-color: none !important;
        outline: none;
    }
  }
  .select2-container-multi .select2-choices, .select2-container .select2-choice {
    border: 1px solid transparent;
    //border-radius: 0 0 0 0 !important;
    &:hover {
      border-bottom: 1px solid transparent !important;
    }
  }

  .select2-chosen,
  .select2-choice > span:first-child,
  .select2-container .select2-choices .select2-search-field input {
    padding-left: 6px;
  }

  .select2-container-active .select2-choice,
  .select2-container-multi.select2-container-active .select2-choices {
    border-color: transparent;
    box-shadow: none !important;
  }

  .select2-dropdown-open .select2-choice,
  .select2-container-multi.select2-dropdown-open .select2-choices {
    border-color: $input-focus-border-color;
  }

  .select2-container .select2-choice::after {
    right: 0.5rem;
  }
  .select2-container-multi {
    .select2-choices:after, .select2-choice:after{
      margin-right: 0.625rem;
    }
  }

  .ag-datepicker .input-group-addon{
    background-color: transparent;
    border: none;
    padding: 6px;
  }
  // select:not([multiple]) {
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  // }
}
