
$input-check-focus-box-shadow-size: 0 0 0 0.2em !default;
$input-check-focus-box-shadow-color: rgba($link, 0.35) !default;

@import 'forms';
@import 'elements';
@import 'date-picker';
@import 'form-uib-datepicker';
//@import 'form-checkbox';
@import 'form-check';
@import 'form-switch';
//@import 'form-check';
@import 'form-horizontal';
@import 'form-underline';
// @import 'selects';
@import 'xeditable';
@import "search-form";
@import "ag-form";

//Overrides
.form-control {
  box-shadow:none;
}
