.extended-search-form {
  padding: 1.25rem;
  display: block;
  margin: 0 0 0.75rem 0;
  border: 1px solid $border;
  border-radius: $radius;

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all 0.5s ease-in-out;
    display: block !important;
  }

  &.ng-hide {
    opacity: 0;
    transform: translate(800px, 0);
  }
}
