.search-form.animate {

  border-spacing: 0px;
  opacity: 1;
  transform: translate(0, 0);

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all 0.5s ease-in-out;
    display: block !important;
  }

  &.ng-hide {
    opacity: 0;
    transform: translate(800px, 0);
  }

}

// styles for the advanced search form

form[ag-search-form] {

  .ui-autocomplete-input, .uneditable-input, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    display: inline-block;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px
  }

  padding: 0 0 25px;

  label.control-label {
    width: 100px;
  }

  .controls {
    margin-left: 110px !important;

    input {
      min-width: 0;
      width: 100%;

      .form-control {
        height: 28px !important;
      }
    }
  }

  .input-group {
    width: 100% !important;

    .select2-container {
      width: 100% !important;
    }
  }

  .form-group {
    margin: 0 0 20px 5px;
  }

  /* Datepicker tweaks */
  .range-date-pickers {
    .input-group {
      display: inline-table;
      margin: 0 !important;
      width: calc((100% - 5px)/2) !important;
    }

    .input-group:nth-child(2) {
      margin-left: 5px;
    }

    span {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
