
// tweaks for tab panels

.fields-panel dl {
  margin: 0;
}

.fields-panel dd {
  padding: 2px 0;
}

.fields-panel dt {
  color: #777;
  font-size: 92%;
  padding: 2px 0;
  width: 50%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.fields-panel .dl-horizontal dd {
  margin-left: 54%;
  padding: 2px 0;
}

.fields-panel .dl-horizontal dt {
  color: #777;
  font-size: 92%;
  padding: 2px 0;
  width: 50%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

hr.panel-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.tab-pane {
  overflow-x: hidden;
}


// fix alert error styling
.alert-error {
  color: $danger;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.search-form {
  padding-bottom: 6px;
  padding-top: 0px;
}

.extended-search-form {
  margin-right: 50px;
}

ag-validation-errors .help-inline {
  color: $danger;
}

legend {
  color: #555;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}

// .label {
//   margin-left: 4px;
// }
// .label:first-child {
//   margin-left: 0;
// }

.fixed-menu {
  position: fixed;
}

.panel-states {
  background: rgba(0, 0, 0, 0.027) none repeat scroll 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}


.panel-states {
  background: rgba(0, 0, 0, 0.027) none repeat scroll 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 12px;
  li {
    a {
      cursor: pointer;
      padding: 11px 5px
    }
  }
}

.th-text-right {
  th {
    text-align: right;
  }
}

//To make toastr icon show on the top, not on the center of toastr
// #toast-container > .toast {
//   background-position-x: 12px;
//   background-position-y: 36px;
// }

//move down a bit so its below toolbar
.toast-top-right {
  top: 58px;
  right: 12px;
}

label.required:after {
    margin-left: 3px;
    content: "*";
    color: $danger;
}


table.customer-select-result td:nth-child(1) {
  width: 60px;
}

.well.white {
  background-color: #fff;
  margin: 0;
  padding: 10px;
}

.well .dl-horizontal {
  margin: 0;
}

.view-header {
  /*border-bottom: 1px solid #EEEEEE;*/
  margin: 10px 0 0;
  padding-bottom: 5px;
  font-size: 20px;
}

.position-relative {
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*Tag Input directive*/
.tagged-input {
  border: 1px solid #ccc;
  padding: 4px;
  display: inline-block;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: white;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
.tagged-input input {
  display: inline-block;
  float: left;
  height: 24px;
  padding: 4px!important;
  border: 0!important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px;
  width: 100%;
}
.tagged-input input:focus {
  box-shadow: none !important;
}
.tagged-input .tag {
  padding: 2px 4px;
  line-height: 13px;
  color: #555;
  font-size: 13px;
  background: #fff;
  border: solid 1px;
  border-color: #ccc;
  border-radius: 2px ;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.tagged-input .tag .delete-tag i {
  font-size: 9px;
  margin-right: 4px;
  color: rgba(128, 128, 128, 0.78)
}
.tagged-input .tag .delete-tag i:hover {
  color: rgba(128, 128, 128, 1)
}
/*Tag Input directive styles end*/

.check-mark-false {
  color: $danger;
  font-size: 16px;
}

.check-mark-true {
  color: green;
  font-size: 19px;
}

.menu-arrow {
  padding: 15px 0px 4px 3px;;
}

/***** bootstrap tables *****/
td.align-right, td.number,
th.align-right, th.number {
  text-align: right;
}

.table.nolines th, .table.nolines td {
  border: none;
}

.form-group .controls .input-group {
  width: 100%;
}

.custom-form .form-group {
  margin: 0 0 20px 5px;
}

.transparent-backdrop{
  background-color: rgba(0, 0, 0, 0);
}

.flex-wrapper{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.flex-item {
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.full-width{
  width: 100%!important;
}

.row.full-width {
  width: 100%!important;
}
