
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-{{$ctrl.color}} dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <ng-transclude></ng-transclude> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="menuItem in $ctrl.menuItems" ng-class="{ divider: menuItem.divider }" >
      <a ng-if="!menuItem.divider" ng-bind-html="menuItem.display" ng-click="$ctrl.fireMenuClick(menuItem, $event)"></a>
    </li>
    <!-- <li role="separator" class="divider"></li> -->
  </ul>
</div>

<!-- BS4 -->
<!-- <div class="dropdown">
    <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
        <span class="placeholder">{{ ::$ctrl.menuDisplay }}</span>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"
           ng-repeat="menuAction in $ctrl.menuActions"
           ng-bind-html="menuAction.display"
           ng-click="menuAction.action()">
        </a>
    </div>
</div> -->
