<button type="{{btnCtrl.btnType}}" class="button {{btnCtrl.btnCls}}"
  ng-class="btnCtrl.ngClass"
  ng-disabled="btnCtrl.isDisabled" ag-ripple>
  <!-- <span> -->
    <span ng-if="btnCtrl.iconLeftClass" class="icon is-first-child">

      <i class="{{btnCtrl.iconLeftClass}}">{{btnCtrl.iconLeftText}}</i>
    </span>
    <span ng-if="btnCtrl.hasTranscluded" ng-transclude></span>
    <span class="ag-ripple animate"></span>
    <span ng-if="btnCtrl.iconSoloClass" class="icon is-solo">
      <i class="{{btnCtrl.iconSoloClass}}">{{btnCtrl.iconSoloText}}</i>
    </span>
    <span ng-if="btnCtrl.iconRightClass" class="icon is-last-child">
      <i class="{{btnCtrl.iconRightClass}}">{{btnCtrl.iconRightText}}</i>
    </span>
  <!-- </span> -->
</button>
