
<div class="buttons">
  <ag-button color="success" icon-left="fa-check">Save</ag-button>
  <ag-button color="success" icon-left="mdi-check-bold">Save</ag-button>
  <ag-button color="warning" icon-right="fa-plug">Plug</ag-button>
  <ag-button color="warning" icon-right="mdi-power-plug">Plug</ag-button>
</div>

<div class="buttons">
  <ag-button icon="fa-thumbs-up"></ag-button>
  <ag-button icon="mdi-thumb-up"></ag-button>
  <ag-button icon-solo="far fa-thumbs-up"></ag-button>
  <ag-button icon-solo="mdi-thumb-up-outline"></ag-button>
  <ag-button icon="fa-search"></ag-button>
  <ag-button icon="mdi-magnify"></ag-button>
  <ag-button icon="fa-edit"></ag-button>
  <ag-button icon="mdi-square-edit-outline"></ag-button>
  <ag-button icon="fas fa-table"></ag-button>
  <ag-button icon="mdi-table"></ag-button>
</div>

<div class="buttons">
  <ag-button color="danger" icon="fa-heart"></ag-button>
  <ag-button color="danger" icon="mdi-heart"></ag-button>
  <ag-button color="danger" icon-solo="far fa-heart"></ag-button>
  <ag-button color="danger" icon-solo="mdi-heart-outline"></ag-button>
</div>

