<!-- start: TOP NAVBAR -->
<header class="navbar navbar-default navbar-static-top hidden-print">
  <!-- start: NAVBAR HEADER -->
  <div class="navbar-header">
    <button href="javascript:void(0)" class="sidebar-desk-toggler btn no-radius pull-left"
      id="sidebar-desk-toggler" ng-click="$appCtrl.toggleSidenav()" v-pressable>
      <i class="fa fa-bars"></i>
    </button>
    <button href="javascript:void(0)" class="sidebar-mobile-toggler btn no-radius pull-left"
      id="sidebar-mobile-toggler" ng-click="$appCtrl.toggleSidenav()" v-pressable>
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" ui-sref="app.dashboard">
      <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" style="{{'width:' + app.layout.logoWidth + 'px'}}" />
    </a>
    <!-- <a class="navbar-brand navbar-brand-collapsed" ui-sref="app.dashboard">
      <img ng-src="{{app.layout.logoCollapsed}}" alt="" style="{{'height:' + app.layout.logoCollapsedHeight + 'px'}}" />
    </a> -->
    <button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler"
      ng-click="navbarCollapsed = !navbarCollapsed" v-pressable>
      <i ng-class="navbarCollapsed ? 'fa fa-folder' : 'fa fa-folder-open'"></i>
      <small><i class="fa fa-caret-down margin-left-5"></i></small>
    </button>
  </div>
  <!-- end: NAVBAR HEADER -->
  <div class="navbar-toolbar-menu">
    <!-- NAVBAR COLLAPSE -->
    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true"
      off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="'#menu-toggler'">
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
        <li>
          <a ng-click="goFullscreen()"> <i class="fa fa-expand" ng-show="!isFullscreen"></i> <i class="fa fa-compress"
              ng-show="isFullscreen"></i></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
        <li>
          <form role="search" class="navbar-form main-search">
            <div class="form-group">
              <input type="text" placeholder="{{ 'search.PLACEHOLDER' | translate }}" class="form-control">
              <button class="btn search-button" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </li>
      </ul>
      <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
      <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true"
        ng-swipe-up="navbarCollapsed = true">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
      </div>
      <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
    <!-- / NAVBAR COLLAPSE -->
    <div class="navbar-toolbar-right">
      <button class="dropdown-off-sidebar btn " ng-click="toggle('off-sidebar')" v-pressable>
        <i/>
      </button>
    </div>
  </div>
  <!-- end: NAVBAR COLLAPSE -->
</header>
<!-- end: TOP NAVBAR -->
