
// tweaks for tab panels

.fields-panel {
  dl {
    margin: 0;
  }
  dd {
    padding: 2px 0;
  }
  dt {
    color: #777;
    font-size: 92%;
    padding: 2px 0;
    width: 50%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .dl-horizontal dd {
    margin-left: 54%;
    padding: 2px 0;
  }
  .dl-horizontal dt {
    color: #777;
    font-size: 92%;
    padding: 2px 0;
    width: 50%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
}

hr.panel-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
