<div class="columns">
  <div class="column">
    <div class="card mb-4">
      <div editable-card-heading="editForm">Xeditable Form</div>
      <div class="card-content p-0">
        <form editable-form name="editForm" ag-form="" class="form-xeditable no-margin input-underline" novalidate="true"
          onaftersave="save(editForm, org)" ng-class="{editing: editForm.$visible}">
          <div stay-on-collapse class="edit-group">
            <label class="control-label">Phone</label>
            <div class="controls" editable-text="$ctrl.org.phone"
                 ag-bind="$ctrl.org.phone"
                 e-placeholder="org phone">
            </div>
          </div>
          <div class="edit-group">
            <label class="control-label">City</label>
            <div class="controls"
              editable-text="$ctrl.org.city"
              e-placeholder="org city"><span>{{$ctrl.org.city}}</span></div>
          </div>

          <div class="edit-group">
            <label class="control-label">State</label>
            <div class="controls"
              editable-text="$ctrl.org.state"
              e-name="orgState"
              e-placeholder="org state">{{$ctrl.org.state}}</div>
          </div>

          <div class="edit-group">
            <label class="control-label">Some Date</label>
            <div class="controls"
              editable-datepicker="$ctrl.org.birthdayDate"
              e-name="birthdayDate"
              e-placeholder="birthday date">{{$ctrl.org.birthdayDate}}</div>
          </div>

          <div class="edit-group">
            <label class="control-label">Textarea</label>
            <div class="controls"
              editable-textarea="$ctrl.org.description"
              e-name="description"
              e-placeholder="description">{{$ctrl.org.description}}</div>
          </div>

          <div class="edit-group">
            <label class="control-label">Single Select</label>
            <div class="controls"
              editable-custom="$ctrl.org.selectInput"
              ag-bind="$ctrl.org.selectInput.name"></div>
            <div editable-custom-template class="controls">
              <input name="selInput" ng-model="$ctrl.org.selectInput"
                ui-select2="$ctrl.selectInputOpts"
                class="form-control">
              </input>
            </div>
          </div>
          <div class="edit-group">
            <label class="control-label">Single Roles</label>
            <div class="controls" editable-custom="$ctrl.org.roles">{{$ctrl.org.role}}</div>
            <div editable-custom-template class="controls">
              <select name="role" class="form-control"
                      ng-model="$data"
                      ui-select2="{width: 'element'}">
                <option ng-repeat="role in $ctrl.roles" value="{{role.id}}">{{role.name}}</option>
              </select>
            </div>
          </div>

          <div class="edit-group">
            <label class="control-label">Multi Roles</label>
            <div class="controls" editable-custom="$ctrl.org.roles"><ag-tag-list items="$ctrl.org.roles"></ag-tag-list></div>
            <div editable-custom-template class="controls">
              <select name="role" class="form-control"
                      ng-model="$data"
                      ui-select2="{closeOnSelect: false, width: 'element'}"
                      multiple="true">
                <option ng-repeat="role in $ctrl.roles" value="{{role.id}}">{{role.name}}</option>
              </select>
            </div>
          </div>
          <section editable-form-buttons="editForm"></section>
        </form>
      </div>
    </div>
  </div><!-- /column -->
</div><!-- /columns -->
<pre ng-cloak>model: {{$ctrl.org | json}}</pre>
