.ass-menu-button {
  margin-top: 10px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.ass-aside-menu {
  position: fixed;
  z-index: 1000;
  display: block;
  left: -350px;
  top: 0px;
  width: 300px;
  height: 100vh;
  padding: 25px;
  background-color: #eee;
  color: #000;
}

.ass-aside-menu-title {
  text-transform: uppercase;
}

.ass-aside-menu-item {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  border-bottom: 1px solid #bbb;
  line-height: 40px;
}

.ass-aside-menu-item:first-of-type {
  margin-top: 20px;
}

.ass-aside-menu-item:active, .ass-aside-menu-item:visited, .ass-aside-menu-item:link,
.ass-aside-menu-close:active, .ass-aside-menu-close:visited, .ass-aside-menu-close:link {
  color: #000;
  text-decoration: none;
}

.ass-aside-menu-item:hover, .ass-aside-menu-close:hover {
  color: #aaa;
  text-decoration: none;
}

.ass-aside-menu-icon {
  display: inline-block;
  margin-right: 10px;
}

.ass-aside-menu-close {
  position: absolute;
  display: inline-block;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.ass-aside-overlay {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

/* annimations */
.ass-slide-in {
  -webkit-animation: slide-in 0.5s forwards;
  animation: slide-in 0.5s forwards;
}

@-webkit-keyframes slide-in {
  100% { left: 0px; }
}

@keyframes slide-in {
  100% { left: 0px; }
}

.ass-slide-out {
  -webkit-animation: slide-out 0.5s backwards;
  animation: slide-out 0.5s backwards;
}

@-webkit-keyframes slide-out {
  0% { left: 0px; }
  100% { left: -350px; }
}

@keyframes slide-out {
  0% { left: 0px; }
  100% { left: -350px; }
}
