
<div class="form-group" >
  <label class="control-label">Basic</label>
  <div class="controls is-flex">
    <input class="form-control" ng-model="$ctrl.vm.day"
        placeholder="select a day"
        ui-select2 ui-select2-data="['Mon','Tue','Wed','Thu','Fri','Sat','Sun']">
    <input class="form-control ml-1" ng-model="$ctrl.vm.color"
        ui-select2="{ allowClear: false, placeholder: 'select a color', data:['red','green', 'blue']}"
    >
  </div>
</div>
<div class="form-group" >
  <label class="control-label">Multi</label>
  <div class="controls is-flex">
    <input multiple class="form-control" ng-model="$ctrl.vm.daysMulti"
        placeholder="select multiple days"
        ui-select2 ui-select2-data="$ctrl.dayData">
    <input multiple class="form-control ml-1" ng-model="$ctrl.vm.colorsMulti"
        ui-select2="{placeholder: 'select mutiple colors', useDataObject: false, data: $ctrl.colorData}"
    >
  </div>
</div>
<p>using ag-select component</p>
<ag-select name="agSelect" ng-model="$ctrl.vm.agColor" placeholder="select a color"
  select-options="{ data: $ctrl.colorData }">
</ag-select>
<p>useDataObject:true by default on multiple, set to false here</p>
<ag-select name="agSelect" label="Multi" ng-model="$ctrl.vm.agColors"
  select-options="{ multiple: true, closeOnSelect: false, useDataObject:false, data: $ctrl.colorData}">
</ag-select>
<p>id only</p>
<ag-select name="fooId" ng-model="$ctrl.vm.fooId" required
  select-options="{data: $ctrl.fooData}">
</ag-select>
<p>using ag-select component useDataObject:true</p>
<ag-select name="foo" ng-model="$ctrl.vm.foo" required
  select-options="{useDataObject: true, data: $ctrl.fooData}">
</ag-select>
<ag-select name="fooList" ng-model="$ctrl.vm.fooList" required
  select-options="{useDataObject: true, multiple: true, closeOnSelect: false, data: $ctrl.fooData}">
</ag-select>

<div class="form-group">
  <div class="controls">
    <button class="btn btn-primary">Save</button>
  </div>
</div>
<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>

