<form name="formHor" ag-form is-horizontal label-class="is-3" >

<div class="columns is-mobile">
  <ag-label>Normal Selects</ag-label>
  <div class="field column is-grouped">
    <div class="control is-expanded">
      <div class="select">
        <select>
          <option>Select dropdown foo</option>
          <option>With options</option>
        </select>
      </div>
    </div>
    <div class="control is-expanded">
      <div class="select">
        <select>
          <option>Select dropdown foo</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <ag-label>Basic Select2</ag-label>
  <div class="field column is-grouped">
    <div class="control is-expanded">
      <input class="input" ng-model="$ctrl.vm.day"
        placeholder="select a day" ui-select2 ui-select2-data="['Mon','Tue','Wed','Thu','Fri','Sat','Sun']">
    </div>
    <div class="control is-expanded">
      <input class="input" ng-model="$ctrl.vm.color"
        ui-select2="{ allowClear: false, placeholder: 'select a color', data:['red','green', 'blue']}">
    </div>
  </div>
</div>

<p>using ag-select component</p>
<ag-select name="agSelect" ng-model="$ctrl.vm.agColor" placeholder="select a color"
  select-options="{ data: $ctrl.colorData }">
</ag-select>
<p>useDataObject:true by default on multiple, set to false here</p>
<ag-select name="agSelect" label="Multi" ng-model="$ctrl.vm.agColors"
  select-options="{ multiple: true, closeOnSelect: false, useDataObject:false, data: $ctrl.colorData}">
</ag-select>
<p>id only</p>
<ag-select name="fooId" ng-model="$ctrl.vm.fooId" required
  select-options="{data: $ctrl.fooData}">
</ag-select>
<p>using ag-select component useDataObject:true</p>
<ag-select name="foo" ng-model="$ctrl.vm.foo" required
  select-options="{useDataObject: true, data: $ctrl.fooData}">
</ag-select>
<ag-select name="fooList" ng-model="$ctrl.vm.fooList" required
  select-options="{useDataObject: true, multiple: true, closeOnSelect: false, data: $ctrl.fooData}">
</ag-select>

<div class="form-group">
  <div class="controls">
    <button class="btn btn-primary">Save</button>
  </div>
</div>
</form>
<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>

