<x></x><div class="well">
  <form ag-form="usersGrid" is-horizontal ag-search-form="usersGrid" class="form-horizontal-fixed form-multi-column no-margin">

    <div class="columns">
      <div class="column is-one-third">
        <ag-select-rest label="Org" multiple url="/api/org/picklist" ng-model="filters.orgIds"/>
        <ag-input ng-model="filters.contact.name"/>
        <ag-input ng-model="filters.login"/>

      </div>
      <div class="column is-one-third">
        <ag-input type="email" ng-model="filters.contact.email"></ag-input>
        <ag-select ng-model="filters.contact.type" select-options="{ data: ['admin', 'customer'], multiple: true }"/>
        <div class="form-group">
          <ag-label>Active Date</ag-label>

          <div class="controls range-date-pickers">
            <ag-datepicker ng-model="filters.activeDate.from"
                           ag-trim-time="filters.activeDate.from"
                           placeholder="from"></ag-datepicker>

            <ag-datepicker ng-model="filters.activeDate.to"
                           ag-trim-time="filters.activeDate.to"
                           placeholder="to"></ag-datepicker>
          </div>
        </div>
      </div>
    </div>


    <div class="pull-right">
      <ag-search-button></ag-search-button>
      <ag-reset-search-button></ag-reset-search-button>
    </div>
  </form>
</div>
