<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin" >Form Cust</h4>
  <div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <form name="customerForm" class="form-horizontal no-margin" novalidate="true" ag-server-validation-errors
            ag-submit="save(customer)">

            <div ag-field-group for="name">
              <label class="control-label">Name</label>
              <div class="controls">
                <input type="text" name="name" placeholder="Customer name" ag-focus ng-model="customer.name"
                  ng-required="true" />
                <ag-validation-errors for="name" required="This field is required" />
              </div>
            </div>
            <div ag-field-group for="name">
              <label class="control-label">Type</label>
              <div class="controls">
                <select id="custType" name="custType" ng-model="customer.type"
                    ui-select2="{closeOnSelect: false}"
                    class="form-control">
                  <option value="0">Foo</option>
                  <option value="1">Bar</option>
                </select>
                <ag-validation-errors for="custType" required="This field is required" />
              </div>
            </div>

            <hr>

            <fieldset>
              <div ag-field-group for="customerInfoPhone">
                <label class="control-label">Phone</label>
                <div class="controls">
                  <input type="text" name="customerInfoPhone" placeholder="Main Phone" ng-model="customer.info.phone" />
                  <ag-validation-errors for="customerInfoPhone" />
                </div>
              </div>
              <div ag-field-group for="customerInfoWebsite">
                <label class="control-label">Website</label>
                <div class="controls">
                  <input type="text" name="customerInfoWebsite" placeholder="www.9ci.com" ng-model="customer.info.website" />
                  <ag-validation-errors for="customerInfoWebsite" />
                </div>
              </div>
            </fieldset>

            <fieldset ng-form="contact" ag-server-validation-errors>
              <legend>Key Contact</legend>

              <div ag-field-group for="firstName">
                <label class="control-label">First name</label>
                <div class="controls">
                  <input type="text" name="firstName" ag-focus="keyContactFirstName" ng-model="customer.keyContact.firstName"
                    ng-required="true" />
                  <ag-validation-errors for="firstName" />
                </div>
              </div>

              <div ag-field-group for="lastName">
                <label class="control-label">Last name</label>
                <div class="controls">
                  <input type="text" name="lastName" ng-model="customer.keyContact.lastName" />
                  <ag-validation-errors for="lastName" />
                </div>
              </div>

              <div ag-field-group for="email">
                <label class="control-label">Email</label>
                <div class="controls">
                  <input type="email" name="email" ng-model="customer.keyContact.email" />
                  <ag-validation-errors for="email" />
                </div>
              </div>

              <div ag-field-group for="phone">
                <label class="control-label">Phone</label>
                <div class="controls">
                  <input type="text" name="phone" ng-model="customer.keyContact.phone" />
                  <ag-validation-errors for="phone" />
                </div>
              </div>
            </fieldset>
          </form>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- col -->
  </div><!-- row -->
</div>
