<form name="customerForm" ag-form class="form-horizontal-fixed" role="form" novalidate>
<fieldset>
  <!--<ag-input min-length="3" required ag-focus ng-model="$ctrl.vm.name" placeholder="min length 3, enter bill for sim server error"></ag-input>-->
  <div class="form-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <input name="name" type="text" placeholder="min length 3, enter bill for sim server error" ng-model="$ctrl.vm.name"
        class="form-control" required ng-minlength="3" ag-focus>
      <ag-validation-inline ></ag-validation-inline>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" >Email</label>
    <div class="controls">
      <input name="email" type="email" ng-model="$ctrl.vm.email" class="form-control"
           placeholder="Must be valid email">
      <ag-validation-inline ></ag-validation-inline>
    </div>
  </div>
  <div class="form-group">
      <label class="control-label" for="amount_1">Amount</label>
      <div class="controls">
        <input id="amount_1" name="amount" type="number" ng-model="$ctrl.vm.number" class="form-control"
            placeholder="Must be between > 1 and <= 9 and max 2 decimal places" min="1" max="9"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" msg-pattern="precision can't be greater than 2 decimal places" >
        <ag-validation-inline for="amount_1"></ag-validation-inline>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="initeger_1">Integer</label>
    <div class="controls">
      <input id="initeger_1" name="int" type="number" ng-model="$ctrl.vm.int" class="form-control"
          placeholder="enter integer > 0" min="1" integer>
      <ag-validation-inline for="initeger_1"></ag-validation-inline>
    </div>
  </div>
</fieldset>
<div class="form-group">
  <div class="controls">
    <button ng-click="$ctrl.save(customerForm)" class="btn btn-primary">Save</button>
    <button ng-click="$ctrl.save(form)" class="btn btn-primary">Bar</button>
    <ag-dropdown menu-items="$ctrl.menuItems" menu-click="$ctrl.menuItemClick">Actions</ag-dropdown>
  </div>
</div>
</form>
<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>
<button ng-click="showSource = true" ng-show="!showSource" class="btn btn-primary">Show Source</button>
<snippets ng-show="showSource" path="./validations/" files="['validations.comp.html', 'index.js']"></snippets>
