<ag-toolbar class="is-lighter is-dense has-border">
  <div class="toolbar-item px-0 py-0" ng-show="tbCtrl.gridCtrl.hasSelected">
    <div class="selection-pointer"><i class="fa"></i></div>
    <ag-button ng-repeat="(key, btnItem) in tbCtrl.selectedButtons"
      icon="{{btnItem.icon}}" uib-tooltip="{{btnItem.tooltip}}" color="{{btnItem.color}}"
      ng-click="tbCtrl.fireButtonClick(key, btnItem, $event)">{{btnItem.display}}</ag-button>
    <div class="divider-vertical"></div>
  </div>
  <tb-button ng-repeat="(key, btnItem) in tbCtrl.leftButtons" opts="btnItem"></tb-button>
  <div class="spacer"></div>
  <div class="toolbar-item" ng-bind-html="tbCtrl.display">
    <div class="buttons has-addons">
      <ag-button ng-model="quickPick.states" uib-btn-radio="'all'">All</ag-button>
      <ag-button ng-model="quickPick.states" uib-btn-radio="'open'">Open</ag-button>
      <ag-button ng-model="quickPick.states" uib-btn-radio="'closed'">Closed</ag-button>
    </div>
  </div>
  <div class="toolbar-item">
    <div class="buttons has-addons">
      <ag-button ng-model="quickPick.states" uib-btn-radio="'all'">All</ag-button>
      <ag-button ng-model="quickPick.states" uib-btn-radio="'open'">Open</ag-button>
      <ag-button ng-model="quickPick.states" uib-btn-radio="'closed'">Closed</ag-button>
    </div>
  </div>
  <div class="toolbar-item p-0">
    <input type="text" class="input is-rounded is-search" placeholder="quick search">
  </div>
  <ag-button icon="fa-search" uib-tooltip="Show Search Form"
    ng-click="tbCtrl.gridCtrl.actionCtrl.showSearchForm = !tbCtrl.gridCtrl.actionCtrl.showSearchForm" ></ag-button>
  <ag-options-dropdown></ag-options-dropdown>
</ag-toolbar>
