<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf8'>
  <meta name='viewport' content='width=device-width'>

  <title>Svelte app</title>

  <link rel='icon' type='image/png' href='favicon.png'>
  <!-- doing in manually so we can exclude the theme css and make sure it runs before theme switcher -->
  <% htmlWebpackPlugin.files.css.forEach( function(name){
    if(!(/theme.+\.css$/.test(name))) { %>
    <link rel="stylesheet" href="<%= name %>">
  <% }}) %>
</head>

<body>
  <% for (var jsfile in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[jsfile]%>"></script>
  <% } %>
</body>
</html>
