<div>
  <basic-search-form ng-show="$ctrl.showSearchForm"></basic-search-form>

  <ag-toolbar class="is-lighter is-dense has-border">
    <div class="toolbar-item px-0 py-0" ng-show="$ctrl.hasSelected">
      <div class="selection-pointer"><i class="fa"></i></div>
      <ag-button icon="fa-edit" uib-tooltip="Mass Update" ng-click="$ctrl.massUpdate()"></ag-button>
      <ag-button icon="fa-table" uib-tooltip="Export to Excel" ng-click="$ctrl.xlsExport()"></ag-button>
      <div class="divider-vertical"></div>
    </div>
    <ag-button icon="fa-plus" uib-tooltip="Create New" ng-click="$ctrl.createRecord()"></ag-button>
    <ag-button color="light" ng-click="$ctrl.getSelectedRowsData()">Show Selected Data</ag-button>

    <div class="spacer"></div>
    <div class="toolbar-item">
      <div class="buttons has-addons">
        <ag-button ng-model="quickPick.states" uib-btn-radio="'all'">All</ag-button>
        <ag-button ng-model="quickPick.states" uib-btn-radio="'open'">Open</ag-button>
        <ag-button ng-model="quickPick.states" uib-btn-radio="'closed'">Closed</ag-button>
      </div>
    </div>
    <div class="toolbar-item p-0">
      <input type="text" class="input is-rounded is-search" placeholder="quick search">
    </div>
    <ag-button icon="fa-search" uib-tooltip="Show Search Form"
      ng-click="$ctrl.showSearchForm = !$ctrl.showSearchForm" ></ag-button>
    <ag-dropdown
      menu-items="$ctrl.menuItems"
      menu-click="$ctrl.menuItemClick"
      menu-class="dropdown-menu-right"
      icon="mdi-dots-vertical">
    </ag-dropdown>
  </ag-toolbar>

  <div ag-grid="$ctrl.gridOptions" ag-grid-name="exampleGrid" action-ctrl="$ctrl"></div>

  <pre ng-cloak class="mt-4">Selected Rows data: {{$ctrl.selectedRowsData | json}}</pre>
</div>
