<form ag-form ag-search-form="exampleGrid" class="form-horizontal-fixed form-multi-column no-margin ag-search-form">

  <div class="columns">
    <div class="column is-one-third">
      <ag-input name="customerName" ng-model="filters.customer.name">
      </ag-input>
    </div>

    <!-- ************ column 2 *************-->
    <div class="column is-one-third">
      <ag-select name="complete" ng-model="filters.complete"
                 select-options="{ placeholder: 'select complete', data: ['true', 'false'] }">
      </ag-select>
    </div>

    <!-- ************ column 3 *************-->
    <div class="column is-one-third">

    </div>
  </div>

  <div  class="pull-right">
    <ag-search-button></ag-search-button>
    <ag-reset-search-button></ag-reset-search-button>
  </div>
</form>
