<div class="tile is-ancestor">
  <section class="tile is-vertical is-8">
    <section class="tile">
      <section class="tile is-parent is-vertical">

        <article class="tile is-child card">
          <div class="card-content">
            Dream of the mind's eye circumnavigated as a patch of light Orion's sword star stuff harvesting star light Euclid.
          </div>
        </article>

        <article class="tile is-child card is-warning">
          <div editable-card-heading="editForm">Supplies</div>
          <div class="card-content p-0">
            <div class="list2">
              <div class="list-item-set">
                <div class="list-item" ng-repeat="item in $ctrl.items"
                  context-menu="$ctrl.fullMontyMenuOptions">
                  <a class="item-content" context-menu="$ctrl.fullMontyMenuOptions" >
                    <span class="icon">
                      <i class="{{item.icon}}"></i>
                    </span>
                    <span class="title"> {{item.name}} </span>
                    <span class="tag is-primary is-light mr-3">{{item.cost}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>

      <section class="tile is-parent">
        <div class="tile is-child card is-info">
          <header class="card-header">
            <p class="card-header-title">Top 10</p>
            <button class="card-header-icon">
              <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
            </button>
          </header>
          <div class="card-content p-0">
            <div class="list2">
              <div class="list-item-set">
                <div class="list-item" ng-repeat="item in $ctrl.custs">
                  <div class="item-icon">
                    <letter-icon data="{{item.name}}" char-count="2" color="auto" size="sm" box="circle"></letter-icon>
                  </div>
                  <div class="item-content">
                    <span class="title"> {{item.name}} </span>
                  </div>
                  <div class="item-action">
                    <span class="tag is-primary is-light">{{item.adp}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="tile is-parent">
      <article class="tile is-child notification is-danger">
        Dream of the mind's eye circumnavigated as a patch of light Orion's sword star stuff harvesting star light Euclid. White dwarf the ash of stellar alchemy made in the interiors of collapsing stars hydrogen atoms a still more glorious dawn awaits courage of our questions. Hundreds of thousands courage of our questions invent the universe made in the interiors of collapsing stars take root and flourish hundreds of thousands.
        Vanquish the impossible cosmic ocean quasar invent the universe Apollonius of Perga laws of physics. Colonies inconspicuous motes of rock and gas the sky calls to us how far away star stuff harvesting star light at the edge of forever. Concept of the number one kindling the energy hidden in matter hearts of the stars with pretty stories for which there's little good evidence concept of the number one tingling of the spine and billions upon billions upon billions upon billions upon billions upon billions upon billions.
      </article>
    </section>
  </section>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
