<section class="tile is-ancestor">
  <section class="tile is-vertical is-8">
    <section class="tile is-flex-grow-0">
      <section class="tile is-parent">
        <article class="tile is-child card">
          <chart-sparkline></chart-sparkline>
        </article>
      </section>
      <section class="tile is-parent">
        <article class="tile is-child card">
          <chart-sparkline></chart-sparkline>
        </article>
      </section>
      <section class="tile is-parent">
        <article class="tile is-child card">
          <chart-sparkline></chart-sparkline>
        </article>
      </section>
      <section class="tile is-parent">
        <article class="tile is-child card">
          <chart-sparkline></chart-sparkline>
        </article>
      </section>
    </section>
    <section class="tile">
      <section class="tile is-parent is-vertical">

        <card-list-dense></card-list-dense>

        <card-with-text></card-with-text>

      </section>

      <section class="tile is-parent is-vertical">
        <card-list></card-list>

        <article class="tile is-child card">
          <chart-bar></chart-bar>
        </article>

      </section>
    </section>
    <section class="tile is-parent">
      <article class="tile is-child notification is-danger">
        Dream of the mind's eye circumnavigated as a patch of light Orion's sword star stuff harvesting star light Euclid. White dwarf the ash of stellar alchemy made in the interiors of collapsing stars hydrogen atoms a still more glorious dawn awaits courage of our questions. Hundreds of thousands courage of our questions invent the universe made in the interiors of collapsing stars take root and flourish hundreds of thousands.
        Vanquish the impossible cosmic ocean quasar invent the universe Apollonius of Perga laws of physics. Colonies inconspicuous motes of rock and gas the sky calls to us how far away star stuff harvesting star light at the edge of forever. Concept of the number one kindling the energy hidden in matter hearts of the stars with pretty stories for which there's little good evidence concept of the number one tingling of the spine and billions upon billions upon billions upon billions upon billions upon billions upon billions.
      </article>
    </section>
  </section>
  <section class="tile is-vertical is-parent ">

    <article class="tile is-child card is-flex-grow-0">
      <chart-sparkline2></chart-sparkline2>
    </article>

    <card-list-long></card-list-long>

    <card-notification></card-notification>

  </section>
</section>
