<header class="toolbar elevation-1 is-dense" role="navigation" aria-label="main navigation">
  <div class="toolbar-container">
    <ag-button icon="fa-bars"></ag-button>
    <div class="toolbar-title">Title</div>
    <div class="spacer"></div>
    <ag-button icon="mdi-dots-vertical"></ag-button>
  </div>
</header>

<header class="toolbar elevation-1 is-dense mt-4" role="navigation" aria-label="main navigation">
  <div class="toolbar-container">
    <div class="toolbar-item px-0 py-0">
      <div class="selection-pointer"><i class="fas fa-level-up-alt fa-rotate-180 fa-xs"></i></div>
      <ag-button icon="fa-search"></ag-button>
      <div class="divider-vertical"></div>
    </div>
    <ag-button icon="fa-bars"></ag-button>
    <div class="toolbar-title">Title</div>
    <div class="spacer"></div>
    <ag-button icon="mdi-dots-vertical"></ag-button>
  </div>
</header>

<header class="toolbar is-lighter elevation-1 is-dense mt-4" role="navigation" aria-label="main navigation">
  <div class="toolbar-container">
    <div id="toolbar-menu" class="toolbar-menu is-static">
      <div class="toolbar-start">
        <ag-button icon="fa-bars"></ag-button>
      </div>
      <div class="toolbar-end">
        <div class="toolbar-item">
          <div class="buttons has-addons">
            <ag-button ng-model="quickPick.states" uib-btn-radio="'all'">All</ag-button>
            <ag-button ng-model="quickPick.states" uib-btn-radio="'open'">Open</ag-button>
            <ag-button ng-model="quickPick.states" uib-btn-radio="'closed'">Closed</ag-button>
          </div>
        </div>
        <div class="toolbar-item p-0">
          <input type="text" class="input is-rounded is-search" placeholder="quick search">
        </div>
        <ag-button icon="fa-search"></ag-button>
        <ag-button icon="mdi-dots-vertical"></ag-button>
      </div>
    </div>
  </div>
</header>

<header class="toolbar is-light elevation-1 is-dense mt-4 mb-4" role="navigation" aria-label="main navigation">
  <div class="toolbar-container">
    <div id="toolbar-menu" class="toolbar-menu is-static">
      <ag-button icon="fa-bars"></ag-button>
      <div class="spacer"></div>
      <div class="toolbar-item p-0">
        <input type="text" class="input is-rounded is-search" placeholder="quick search">
      </div>
      <ag-button icon="fa-search"></ag-button>
      <ag-button icon="mdi-dots-vertical"></ag-button>
    </div>
  </div>
</header>
