<form name="form" ag-form
      class="form-horizontal-fixed" autocomplete="off" novalidate>
  <fieldset>
    <ag-select-rest name="multipleCountry"
                    output="name"
                    multiple
                    ng-model="$ctrl.vm.multiRestSelect.ids"
                    url="/countries/pickList"/>

    <ag-select-rest name="country"
                    ng-model="$ctrl.vm.restSelect.id"
                    url="/countries/pickList"/>

  </fieldset>
</form>
<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>
