<div class="sidenav"
    ng-class="{
      'is-active': $ctrl.isOpen,
    }">
  <div class="sidenav-header">
    <button class="hamburger hamburger-arrow-left"
      ng-click="$ctrl.toggleSidenav()"
      ng-class="{
        'is-active': $ctrl.isOpen,
      }">
      <i></i>
    </button>
    <!-- <img class="logo" src="assets/images/logos/fresh-white-alt.svg"> -->
    <img class="logo" src="{{$ctrl.logo}}">
    <button title="toggle fixed side menu" class="icon tack"
        ng-class="{ 'is-fixed': $ctrl.layout.isSidenavFixed}"
        ng-click="$ctrl.layout.isSidenavFixed = !$ctrl.layout.isSidenavFixed">
      <i class="fa fa-thumb-tack"></i>
    </button>
    <!-- <a class="sidenav-close" ng-click="$ctrl.toggleSidenav()"><i data-feather="x"></i></a> -->
  </div>
  <div class="sidenav-nav list">

    <script type="text/ng-template" id="menuItemTree">
      <a ng-hide="subItem.sidenavItem === false" ui-sref="{{subItem.children ? '-' : subItem.name}}" class="item-content"
         ng-click="$ctrl.itemClick(subItem, $event)">
        <span class="title" > {{ subItem.data.title }} </span>
      </a>
      <ul class="submenu list-items" ng-if="subItem.children">
        <li ng-repeat="subItem in subItem.children" ng-include="'menuItemTree'"></li>
      </ul>
    </script>

    <ul class="sidenav-menu list-items">
      <li ng-repeat="mitem in $ctrl.sideMenuItems"
          class="list-item"
          ng-class="{
            'has-children' : mitem.children,
            'is-active': $ctrl.appState.$state.includes(mitem.name),
          }">
        <a class="item-content"
           href="{{mitem.children ? '' : mitem.name}}"
           ng-click="$ctrl.itemClick(mitem, $event)">
          <span class="icon">
            <i class="{{mitem.data.icon}}"></i>
          </span>
          <span class="title">{{ mitem.data.title }}</span>
        </a>
        <ul class="submenu list-items" ng-if="mitem.children">
          <li class="list-item" ng-repeat="subItem in mitem.children"
            ng-include="'menuItemTree'" ui-sref-active="is-active"></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div ng-if="$ctrl.isOpen" class="sidenav-body-overlay" ng-click="$ctrl.toggleSidenav()"></div>
