<form name="selForm" ag-form >
<ag-select name="singleColor" ng-model="$ctrl.vm.singleColor"
  select-options="$ctrl.singleColorOpts">
</ag-select>
<ag-select name="multiColorTags" ng-model="$ctrl.vm.multiColorTags"
  select-options="$ctrl.multiColorOpts">
</ag-select>

<ag-select name="singlePickId" ng-model="$ctrl.vm.singlePickId"
  select-options="{data: $ctrl.picklistData}">
</ag-select>

<ag-select name="singlePick" ng-model="$ctrl.vm.singlePick"
  select-options="$ctrl.singlePickOpts">
</ag-select>

<ag-select name="multiPick" label="multiple options" ng-model="$ctrl.vm.multiPick"
  select-options="$ctrl.multiPickOpts">
</ag-select>

<ag-select name="singlePick" ng-model="$ctrl.vm.custRest"
  select-options="$ctrl.custRestOpts">
</ag-select>

<ag-select name="multiPick" label="restful multiple" ng-model="$ctrl.vm.custRestMulti"
  select-options="$ctrl.custRestMultiOpts">
</ag-select>

<p> using dataApiKey</p>
<ag-select name="singlePick" ng-model="$ctrl.vm.custRest"
  select-options="{ useDataObject:true, dataApiKey: 'customer'}">
</ag-select>

<ag-select name="multiPick" label="restful multiple" ng-model="$ctrl.vm.custRestMulti"
  select-options="{ multiple: true, closeOnSelect: false, showSelectAll:true, dataApiKey: 'customer'}">
</ag-select>

<div class="form-group">
  <div class="controls">
    <button ng-click="$ctrl.changeModelData()" class="button">Change Model Data</button>
    <button ng-click="$ctrl.vm = {}" class="button">Clear</button>
  </div>
</div>
</form>
<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>

