<div class="well">
    <form ag-search-form="orgGrid" class="form-horizontal form-multi-column no-margin">

        <div class="row">
            <div class="form-group col-md-8">
                <label class="control-label col-sm-4">Name</label>

                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="filters.name">
                </div>
            </div>

            <div class="form-group col-md-8">
                <label class="control-label col-sm-4">Num</label>

                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="filters.num">
                </div>
            </div>
            <div class="pull-right">
                <ag-search-button></ag-search-button>
                <ag-reset-search-button></ag-reset-search-button>
            </div>
        </div>
    </form>
</div>
