<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" ui-sref="list"><i class="icon-list"></i> Org List</a></li>
    <li><a class="create" ui-sref="create"><i class="icon-plus"></i> New org</a></li>
  </ul>
</div>

<div class="content">
  <h3 class="page-header">Org show</h3>

  <div class="pager" ag-show-page-pager="org" ng-show="showPager()">
    <a ui-sref="show({ id: prevId(), ids: ids })">&#8592; prev</a> |
    <a ui-sref="show({ id: nextId(), ids: ids })">next &#8594;</a>
  </div>

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{org.name}}</dd>

    <dt>Num</dt>
    <dd>{{org.num}}</dd>

    <dt>Time Zone</dt>
    <dd>{{org.timeZone}}</dd>
  </dl>

  <div class="form-actions">
    <a ui-sref="edit({ id: org.id })" class="btn"><i class="icon-edit"></i> Edit</a>
    <ag-delete-button when-confirmed="delete(org)"></ag-delete-button>
  </div>
</div>
