<div class="field" ng-class="{column: $ctrl.isHorizontal}">
  <ag-label label-class="{{$ctrl.labelClass}}" ng-if="$ctrl.label" label="{{$ctrl.label}}"
      ng-required="{{$ctrl.isRequired}}" ></ag-label>
  <div class="control">
    <ag-datepicker-bs
      ng-class="$ctrl.inputClass"
      style="width: 100%"
			placeholder="{{::$ctrl.placeholder}}"
			ng-model-options="{allowInvalid: true, debounce: 250}"
			name="{{::$ctrl.name}}"
			id="{{::$ctrl.id}}"
      date-type="{{::$ctrl.dateType}}"
			ng-model="$ctrl.value"
			ng-change="$ctrl.onChange()"
			ng-required="{{::$ctrl.isRequired}}"
			>
  </div>
  <p class="help" ng-if="$ctrl.hint">{{::$ctrl.hint}}</p>
  <ag-validation-inline for="{{::$ctrl.id}}" ></ag-validation-inline>
</div>
