<div class="well">
    <form ag-form ag-search-form="orgGrid" is-horizontal class="form-horizontal-fixed form-multi-column no-margin">

      <div class="columns">
        <div class="column is-one-third">
          <ag-input ng-model="filters.name"></ag-input>
          <ag-input ng-model="filters.num"></ag-input>
        </div>
      </div>
            <div class="pull-right">
                <ag-search-button></ag-search-button>
                <ag-reset-search-button></ag-reset-search-button>
            </div>

    </form>
</div>
