<div class="modal-header">
  <button type="button" class="close" ng-click="closeEditDialog()" aria-hidden="true">&times;</button>

  <h3 ng-show="createNew">Create New Item</h3>
  <h3 ng-hide="createNew">Edit Item {{item.customer.name}}</h3>
</div>

<div class="modal-body">
  <form name="editForm" class="form-horizontal no-margin" ng-submit="save(item)">

    <div field-group for="customerName">
      <label class="control-label">Customer Name</label>

      <div class="controls">
        <input type="text" name="customerName" placeholder="Enter Customer Name"
               ng-model="item.customer.name" autofocus required />
        <validation-error for="customerName" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Date</label>

      <div class="controls">
        <input type="text" name="date" placeholder="Enter Date"
               ng-model="item.invoiceDate" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Note</label>

      <div class="controls">
        <input type="text" name="note" placeholder="Enter Note"
               ng-model="item.note" />
      </div>
    </div>

    <div field-group for="password,passwordConfirmation">
      <label class="control-label">Password</label>

      <div class="controls">
        <input type="password" name="password" placeholder="Enter Password"
               ng-model="item.password" autofocus required ng-minlength="6" />
        <validation-error for="password"
                          required="This field is required"
                          minlength="Password must be at least 6 characters." />
      </div>

      <div class="controls">
        <input type="password" name="passwordConfirmation" placeholder="Enter Password Confirmation"
               ng-model="item.passwordConfirmation" autofocus
               required match="item.password" />
        <validation-error for="passwordConfirmation"
                          required="This field is required"
                          mismatch="The password does not match the confirmation" />
      </div>
    </div>

    <div class="modal-footer">
      <span ng-hide="createNew">
        <delete-button when-confirmed="delete(item)"
                       deleting="deleting"></delete-button>
      </span>

      <cancel-button ng-click="closeEditDialog()"></cancel-button>
      <submit-button></submit-button>
    </div>
  </form>
</div>
