<div class="well">
  <form ag-search-form class="form-horizontal form-multi-column no-margin">
    <div class="row-fluid">
      <div class="control-group span6">
        <label class="control-label" >Org</label>
        <div class="controls">
          <div class="input-append">

            <ag-select2 select-ajax-url="/api/orgs.json"
                        select-minimum-input-length="3"
                        ng-model="search.org">
              <table ag-select2-result class="table table-condensed org-select-result">
                <tr>
                  <td>{{item.num}}</td>
                  <td>{{item.name}}</td>
                </tr>
              </table>
            </ag-select2>

          </div>
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Name</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.name">
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Allowance</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.allowance">
        </div>
      </div>
    </div>

    <div class="pull-right">
      <ag-search-button></ag-search-button>
      <ag-reset-search-button></ag-reset-search-button>
    </div>
  </form>
</div>
