<div class="modal-header">
  <button type="button" class="close" ng-click="closeEditDialog()" aria-hidden="true">&times;</button>

  <h3 ng-show="createNew">Create New User</h3>
  <h3 ng-hide="createNew">Edit User {{item.name}}</h3>
</div>

<div class="modal-body">
  <form name="editForm" class="form-horizontal no-margin" novalidate ng-submit="save(item)">

    <div field-group for="name">
      <label class="control-label">Name</label>

      <div class="controls">
        <input type="text" name="name" placeholder="Enter Name"
               ng-model="item.name" autofocus required />
        <validation-error for="name" required="This field is required" />
      </div>
    </div>

    <div field-group for="password,passwordConfirmation">
      <label class="control-label">Password</label>

      <div class="controls">
        <input type="password" name="password" placeholder="Enter Password"
               ng-model="item.password" autofocus required ng-minlength="6" />
        <validation-error for="password"
                          required="This field is required"
                          minlength="Password must be at least 6 characters." />
      </div>

      <div class="controls">
        <input type="password" name="passwordConfirmation" placeholder="Enter Password Confirmation"
               ng-model="item.passwordConfirmation" autofocus
               required match="item.password" />
        <validation-error for="passwordConfirmation"
                          required="This field is required"
                          mismatch="The password does not match the confirmation" />
      </div>
    </div>

    <div field-group for="allowance">
      <label class="control-label">Allowance</label>

      <div class="controls">
        <input type="text" name="allowance" placeholder="Enter Allowance"
               ng-model="item.allowance" />
      </div>
    </div>

    <div field-group for="birthday">
      <label class="control-label">Birthday</label>

      <div class="controls">
        <input type="text" name="birthday" placeholder="Birthday"
               ng-model="item.birthday" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger pull-left" ng-click="delete(item)" ng-hide="createNew">
        <i class="icon-trash"></i>Delete
      </button>

      <button type="button" class="btn" ng-click="closeEditDialog()">
        <i class="icon-remove"></i>Cancel
      </button>

      <button type="submit" class="btn btn-primary"
              ng-class="{disabled: editForm.$invalid}">
        <i class="icon-ok icon-white"></i>Save
      </button>
    </div>
  </form>
</div>
