<div class="well">
  <form name="searchForm" class="form-horizontal form-multi-column no-margin" ng-submit="advancedSearch(search)">
    <p>{{searchForm}}</p>

    <div class="row-fluid">
      <div class="control-group span6" >
        <label class="control-label" >Org</label>
        <div class="controls">
          <div class="input-append">
            <input id="orgSelect2" ui-select2="orgSelectConfig" multiple ng-model="search.org" type="text" style="width:87%">
            <button class="btn" type="button" ng-click="openOrgSelect()" style="width:13%">
              <i class="icon-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Name</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.name">
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Allowance</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.allowance">
        </div>
      </div>
    </div>

    <div class="pull-right">
      <search-button></search-button>
      <reset-search-button ng-click="reset()"></reset-search-button>
    </div>
  </form>
</div>
