<p>{{search | json}}</p>

<div class="well">
  <form name="searchForm" class="form-horizontal form-multi-column no-margin" ng-submit="advancedSearch(search)">
    <div class="row-fluid">

      <div class="control-group span6" >
        <label class="control-label" >Org</label>
        <div class="controls">
          <div class="input-append">
            <input id="orgSelect2" ui-select2="orgSelectConfig" multiple ng-model="search.org" type="text" style="width:87%">
            <button class="btn" type="button" ng-click="openOrgSelect()" style="width:13%">
              <i class="icon-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Name</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.name">
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Allowance</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.allowance">
        </div>
      </div>
    </div>

    <div class="pull-right">
      <button type="submit" ng-class="{ disabled: searching }" class="btn btn-info">
        <i class="icon-search icon-white"></i>Search
      </button>
      <button type="button" class="btn" ng-click="reset()">
        <i class="icon-remove"></i>Reset
      </button>
    </div>
  </form>
</div>
