<div class="well">
  <form search-form class="form-horizontal form-multi-column no-margin">
    {{search | json}}

    <div class="row-fluid">
      <div class="control-group span6">
        <label class="control-label" >Org</label>
        <div class="controls">
          <div class="input-append">

            <script type="text/ng-template" id="org_select_item_template.html">
              <table class="table table-condensed" style="margin-bottom:0">
                <tr>
                  <td style="width:60px;border-top:none">{{item.num}}</td>
                  <td style="border-top:none">{{item.name}}</td>
                </tr>
              </table>
            </script>

            <ag-select2 select-options="orgSelectConfig"
                        ng-model="search.org" />

          </div>
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Name</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.name">
        </div>
      </div>

      <div class="control-group span6">
        <label class="control-label">Allowance</label>
        <div class="controls">
          <input class="input-block-level" type="text" ng-model="search.allowance">
        </div>
      </div>
    </div>

    <div class="pull-right">
      <search-button></search-button>
      <reset-search-button></reset-search-button>
    </div>
  </form>
</div>
