<p>LEGACY WAY OF DOING IT WITH AJAX, PREFER USING dataApiKey</p>
<form name="selRestForm" ag-form is-horizontal>

  <ag-select-rest select-options="{ multiple: true, minimumInputLength: 1, closeOnSelect:false}"
                  ng-model="$ctrl.vm.multipleCustomer"
                  url="/api/customer/picklist">
  </ag-select-rest>
  <ag-select-rest ng-model="$ctrl.vm.countryCode"
                  select-options="{ displayFields:['id','name'], useDataObject:false, minimumInputLength: 1 }"
                  url="/countries/picklist"/>

  <ag-select-rest name="multiCountryData"
                  select-options="{ multiple: true, displayFields:['id','name'] }"
                  ng-model="$ctrl.vm.multiCountryData"
                  url="/countries/picklist"/>

  <ag-select-rest select-options="$ctrl.userSelectOpts"
                  ng-model="$ctrl.vm.users"
                  url="/users"/>

  <ag-select-rest select-options="$ctrl.userSelectOpts" hint="this is a hint"
                  ng-model="$ctrl.vm.addonButton"
                  url="/users"><ag-button icon-solo="fa-search" class="is-addon has-text-primary"></ag-button>
  </ag-select-rest>
  <ag-select-rest select-options="$ctrl.userSelectOpts"
                  ng-model="$ctrl.vm.addonLink"
                  url="/users">
    <a class="button is-addon">Test Link</a>
  </ag-select-rest>
</form>
<pre ng-cloak class="mt-4">model: {{$ctrl.vm | json}}</pre>
