<h3 class="page-header">Org list</h3>

<div class="ag-panels-row">
  <div ng-show="!showSearchForm" class="search-form">
       <div ng-include="'/templates/org/searchForm.html' | withContext"></div>
  </div>
<div class="ag-panel">
  <div class="navbar navbar-toolbar navbar-grid navbar-default">
      <div class="navbar-inner with-selected-pointer with-grid-options">
          <ul class="nav navbar-nav">
            <li class="dropdown selected-actions">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left:2px">
                    <i class="fa fa-selected-pointer"></i> Actions <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="massUpdate()"><i class="fa fa-pencil-square-o"></i> Mass update</a></li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
                <li>
                    <a href="#/create">
                        <i class="fa fa-user"></i> Create org
                    </a>
                </li>
          </ul>
          <ag-panel-states>
              <ag-reload-grid for="orgGrid"></ag-reload-grid>
          </ag-panel-states>
          <ul class="nav navbar-nav pull-right">
              <li>
                  <a title="search screen" ng-click="showSearchForm = !showSearchForm" href="">
                      <i class="fa fa-search"></i>
                  </a>
              </li>
          </ul>
          <ag-grid-quick-search for="orgGrid" filters="filters"></ag-grid-quick-search>
      </div>
  </div>
  <div ag-grid="gridOptions" ag-grid-name="orgGrid"></div>
</div>

</div>
