<div class="subnav">
  <ul class="nav nav-pills">
    <li><a class="list" href="#/"><i class="icon-list"></i> Org List</a></li>
    <li><a class="create" href="#/create"><i class="icon-plus"></i> New org</a></li>
  </ul>
</div>

<div class="content">
  <h3 class="page-header">Org show</h3>

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{org.id}}</dd>

    <dt>Name</dt>
    <dd>{{org.name}}</dd>

    <dt>Num</dt>
    <dd>{{org.num}}</dd>
  </dl>

  <tabset>
    <tab>
      <tab-heading><i class="icon-envelope"></i> Address</tab-heading>

      <form name="editForm" novalidate class="form-horizontal no-margin" ng-submit="save(org)">

        <div ag-field-group for="phone">
          <label class="control-label">Phone</label>

          <div class="controls">
            <input type="text" name="phone" placeholder="Phone number"
                   ng-model="org.phone" autofocus required />
            <ag-validation-errors for="phone" required="This field is required" />
          </div>
        </div>

        <div ag-field-group for="state">
          <label class="control-label">State</label>

          <div class="controls">
            <input type="text" name="state" placeholder="Enter state"
                   ng-model="org.state" autofocus required />
            <ag-validation-errors for="state" required="This field is required" />
          </div>
        </div>

        <div ag-field-group for="city">
          <label class="control-label">City</label>

          <div class="controls">
            <input type="text" name="city" placeholder="Enter city name"
                   ng-model="org.city" autofocus required />
            <ag-validation-errors for="city" required="This field is required" />
          </div>
        </div>

        <div ag-field-group for="zip">
          <label class="control-label">Zip Code</label>

          <div class="controls">
            <input type="text" name="zip" placeholder="Enter zip code"
                   ng-model="org.zip" autofocus required />
            <ag-validation-errors for="zip" required="This field is required" />
          </div>
        </div>

        <div ag-field-group for="street">
          <label class="control-label">Street</label>

          <div class="controls">
            <input type="text" name="street" placeholder="Enter street name"
                   ng-model="org.street" autofocus required />
            <ag-validation-errors for="street" required="This field is required" />
          </div>
        </div>

        <div class="form-actions">
          <ag-submit-button></ag-submit-button>
        </div>
      </form>
    </tab>

    <tab select="initGrid()">
      <tab-heading><i class="icon-user"></i> Contacts</tab-heading>

      <div ng-controller="tabbedOrg.ContactListCtrl">
        <div ng-controller="user.SearchFormCtrl" collapse="!showSearchForm"
             ng-include="'../templates/tabbedOrg/contactSearchForm.html'"></div>

        <div class="navbar navbar-grid">
          <div class="navbar-inner with-selected-pointer with-grid-options">
            <ul class="nav">
              <li>
                <a href="" ng-click="createItem()">
                  <i class="icon-user"></i> Create Contact
                </a>
              </li>
            </ul>

            <ul class="nav pull-right">
              <li>
                <a title="search screen" ng-click="showSearchForm = !showSearchForm" href="">
                  <i class="icon-search"></i>
                </a>
              </li>
            </ul>

            <form action="" class="navbar-search pull-right" ng-submit="quickSearch(search)">
              <input type="text" value="" placeholder="quick search" class="search-query span2" style="width: 150px;"
                     ng-model="search.quickSearch"/>
            </form>
          </div>
        </div>

        <div ng-show="gridOptions" ag-grid="gridOptions"></div>
      </div>
    </tab>
  </tabset>
</div>
