<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header jumbotron" id="content">
      <div class="container">
        <h1>AngleGrinder</h1>
        <p class="lead">Sleek, intuitive, and powerful AngularJS services and directives for grails integration.</p>
      </div>
      <div class="bs-docs-social">
        <div class="container">
          <ul class="bs-docs-social-buttons">
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=9ci&amp;repo=angle-grinder&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=9ci&amp;repo=angle-grinder&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              {% if page.slug == "index" %}
                {% include nav-index.html %}
              {% endif %}
              {% if page.slug == "docs" %}
                {% include nav-docs.html %}
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>Code licensed under MIT</p>
        <ul class="footer-links">
          <li><a href="{{ site.repo }}/issues?state=open">Issues</a></li>
          <li class="muted">&middot;</li>
          <li><a href="{{ site.repo }}/releases">Releases</a></li>
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
