<section class="appbar-wrapper">
  <fresh-appbar />
</section>

<section class="root-ui-view">
  <div class="container fade-in-up">
    <ui-view></ui-view>
  </div>

  <!-- <div class="card list">
    <header class="card-header">
      <span class="icon">
        <i class="mdi mdi-monitor-dashboard"></i>
      </span>
      <div class="card-header-title">
        List Example
      </div>
    </header>

    <ul class="list-items">
      <li><span class="nav-section-title"></span></li>
      <li class="list-item">
        <a href="#">
          <i class="fa fa-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="list-item">
        <a href="#">
          <i class="material-icons">apps</i>
          <span>Apps</span>
        </a>
      </li>
      <li class="list-item has-children">
        <a href="#">
          <i class="material-icons">duo</i>
          <span>Messages</span>
        </a>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Documents</a></li>
        </ul>
      </li>
      <li class="list-item">
        <a href="#">
          <i class="material-icons">insert_photo</i>
          <span class="list-item-icon">Media</span>
        </a>
      </li>
    </ul>
  </div> -->
</section>

<fresh-sidenav />
