<!-- WIP not finished yet-->
<input-group>
	<ng-form name="{{vm.name}}Form">
		<label-area>
			<label for="{{vm.name}}">{{vm.label}}</label>
			<error-message ng-show="{{vm.name}}Form.{{vm.name}}.$invalid && vm.validationError && ({{vm.name}}Form.{{vm.name}}.$touched || {{vm.name}}Form.$$parentForm.$submitted)">{{vm.validationError}}</error-message>
			<password-strength-message ng-class="vm.passwordStrengthClass" ng-show="{{vm.name}}Form.{{vm.name}}.$valid && !vm.validationError">{{vm.score}} / 100 {{vm.passwordStrengthMessage}}</password-strength-message>
		</label-area>
		<input
			type="password"
			placeholder="{{vm.label | lowercase}}"
			autocomplete="off"
			ng-model-options="{allowInvalid: true, debounce: 250}"
			name="{{vm.name}}"
			id="{{vm.name}}"
			ng-model="vm.value"
			ng-change="vm.onChange()"
			ng-required="vm.isRequired"
			ng-minlength="vm.minimumLength"
			ng-maxlength="vm.maximumLength"
			maxlength="{{vm.maximumLength}}"
			>
		</input>
	</ng-form>
</input-group>
