<form name="selRestForm" ag-form is-horizontal>

  <ag-input ng-model="$ctrl.vm.inputTest"><a>test</a></ag-input>

  <ag-select-rest select-options="{ multiple: true}"
                  ng-model="$ctrl.vm.multipleCountry"
                  url="/countries/pickList"><a><i class="fa fa-search"></i></a></ag-select-rest>
  <ag-select-rest ng-model="$ctrl.vm.country"
                  url="/countries/pickList"/>

  <ag-select-rest name="multiCountryData"
                  select-options="{ multiple: true }"
                  ng-model="$ctrl.vm.multiCountryData"
                  url="/countries/pickList"/>

  <ag-select-rest select-options="$ctrl.userSelectOpts"
                  ng-model="$ctrl.vm.users"
                  url="/users"/>
</form>
<pre ng-cloak class="mt-4">model: {{$ctrl.vm | json}}</pre>
