
<ag-select-rest name="multipleCountry"
                select-options="{ multiple: true}"
                ng-model="$ctrl.vm.multipleCountry"
                url="/countries/pickList"/>

<ag-select-rest name="country"
                ng-model="$ctrl.vm.country"
                url="/countries/pickList"/>

<ag-select-rest name="multiCountryData"
                label="multiCountryData"
                select-options="{ multiple: true, closeOnSelect: false }"
                ng-model="$ctrl.vm.multiCountryData"
                url="/countries/pickList"/>

<pre ng-cloak>model: {{$ctrl.vm | json}}</pre>
