<div>
  <uib-tabset type="is-boxed">
      <uib-tab index="0" heading="Static title">
          <h4>Static content</h4>
          <p>
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
              facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
          </p>
          <p>
              Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
              Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
              keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
              squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
              butcher voluptate nisi qui.
          </p>
      </uib-tab>
      <uib-tab index="$index + 1" ng-repeat="tab in $ctrl.vm.tabs" heading="{{tab.title}}" disable="tab.disabled">
          {{tab.content}}
      </uib-tab>
      <uib-tab index="3" select="$ctrl.alertMe()">
          <uib-tab-heading>
              <i class="glyphicon glyphicon-bell"></i> Alert!
          </uib-tab-heading>
          I've got an HTML heading, and a select callback. Pretty cool!
      </uib-tab>
  </uib-tabset>
  <p class="mt-6">
      <a class="button" href="javascript:void(0)" ng-click="active = 1"> Go to tab 2 </a>
      <a class="button" href="javascript:void(0)" ng-click="active = 2"> Go to tab 3 </a>
      <a class="button" href="javascript:void(0)" ng-click="tabs[1].disabled = ! tabs[1].disabled"> Enable / Disable third tab </a>
  </p>
</div>
