<div class="field" ng-class="{column: $ctrl.isHorizontal}">
  <ag-label label-class="{{$ctrl.labelClass}}" ng-if="$ctrl.label"
      ng-required="{{$ctrl.isRequired}}">{{$ctrl.label}}</ag-label>
  <div class="field has-addons mb-0">
    <div class="control is-expanded" >
      <ag-amount-input
        ng-class="$ctrl.inputClass"
        input-id="{{::$ctrl.elementIdFrom}}"
        placeholder="{{$ctrl.placeholderFrom}}"
        ng-change="$ctrl.onChange()"
        ng-model="$ctrl.valueFrom"></ag-amount-input>
    </div>
    <div class="control">
      <a class="button is-static is-addon">to</a>
    </div>
    <div class="control is-expanded" >
      <ag-amount-input
        input-id="{{$ctrl.elementIdTo}}"
        placeholder="{{::$ctrl.placeholderTo}}"
        ng-change="$ctrl.onChange()"
        ng-model="$ctrl.valueTo"
        ng-class="$ctrl.inputClass"></ag-amount-input>
    </div>
  </div>
  <p class="help" ng-if="$ctrl.hint">{{::$ctrl.hint}}</p>
</div>
