<ag-toolbar class="is-light is-dense has-border">
  <div class="toolbar-item px-0 py-0" ng-show="tbCtrl.gridCtrl.hasSelected">
    <div class="selection-pointer"><i class="fas fa-level-up-alt fa-rotate-180 fa-xs"></i></div>
    <tb-button ng-repeat="(key, btnItem) in tbCtrl.opts.selectedButtons" ng-if="!(btnItem.class=='hidden')" is-loading="tbCtrl.isLoading" opts="btnItem"></tb-button>
    <!-- <ag-button ng-repeat="(key, btnItem) in tbCtrl.opts.selectedButtons"
      icon="{{btnItem.icon}}" uib-tooltip="{{btnItem.tooltip}}" color="{{btnItem.color}}"
      ng-click="tbCtrl.fireButtonClick(key, btnItem, $event)">{{btnItem.display}}</ag-button> -->
    <div class="divider-vertical"></div>
  </div>
  <tb-button ng-repeat="(key, btnItem) in tbCtrl.opts.leftButtons" ng-if="!(btnItem.class=='hidden')" opts="btnItem"></tb-button>
  <div class="spacer"></div>
  <div class="toolbar-item right-html" ></div>
  <div class="toolbar-item p-0 quick-search-item" ng-show="tbCtrl.opts.showQuickSearch">
    <div class="control has-icons-right has-icons-left">
      <input type="text" class="input is-rounded is-search quick-search" placeholder="Search" ng-model="tbCtrl.qSearchEntry">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
      <span class="icon is-small is-right">
        <a class="delete is-small" ng-show="tbCtrl.qSearchEntry" ng-click="tbCtrl.clearSearchInput()"></a>
      </span>
    </div>

  </div>
  <ag-button ng-if="!(tbCtrl.opts.searchFormButton.class=='hidden')"
    icon="{{tbCtrl.opts.searchFormButton.icon}}" uib-tooltip="{{tbCtrl.opts.searchFormButton.tooltip}}"
    ng-click="tbCtrl.gridCtrl.listCtrl.showSearchForm = !tbCtrl.gridCtrl.listCtrl.showSearchForm" ></ag-button>
  <gridz-options-dropdown></gridz-options-dropdown>
</ag-toolbar>
