<section class="anchor">
  <h2>Gridz with toolbar</h2>

  <div ng-controller="SearchFormCtrl" collapse="!showSearchForm"
       ng-include src="'/_search.html'"></div>

  <div class="navbar navbar-grid">
    <div class="navbar-inner with-selected-pointer with-grid-options">
      <ul class="nav">
        <li><span class="icon-selected-pointer"> </span></li>
        <li class="dropdown selected-actions">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#" stlye="padding-left:5px">
            Actions <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-eye-open"></i> View</a></li>
            <li><a href="#"><i class="icon-external-link"></i> Export</a></li>
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="" class="create-button" ng-click="createDialog()">
            <i class="icon-edit"></i>New
          </a>
        </li>
      </ul>

      <ul class="nav pull-right">
        <li>
          <a href="" title="search screen"
             ng-click="showSearchForm = !showSearchForm"><i class="icon-search"></i></a>
        </li>
      </ul>

      <form action="" class="navbar-search pull-right" ng-submit="quickSearch(search)">
        <input type="text" value="" placeholder="quick search" class="search-query span2" style="width: 150px;"
               ng-model="search.quickSearch"/>
      </form>
    </div>
  </div>

  <div ag-grid="gridOptions"></div>
</section>
